#comments {
  --com-color: #EE3024;
}

#comments>ol {
  padding: 0 0 1.5rem 0;
  margin: 0 0 1.5rem 0;
}

#comments ol {
  list-style-type: none;
}

#comments ol li {
  margin-bottom: 2rem;
}

#comments h2.comments-title {
  display: none;
}

#comments ol.children li {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--com-color);
}

#comments ol.children li:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}

#comments .rjs-comment-authorinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.comment-list {
  margin-bottom: 0 !important;
}

#comments .rjs-comment-authorinfo img {
  max-width: 42px;
  border-radius: 50%;
  margin-right: 1rem;
}

#comments .rjs-comment-authorinfo .comment-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#comments .rjs-comment-authorinfo .rjs-comment-delete {
  margin-left: 0.5rem;
  color: #B5635E;
}

#comments .rjs-comment-authorinfo .rjs-comment-delete:before {
  width: 0 !important;
  background: #B5635E;
}

#comments .rjs-comment-authorinfo .rjs-comment-delete:hover:before {
  width: 100% !important;
}

#comments #respond textarea#comment {
  max-width: 100%;
  width: 100%;
  height: 180px;
  resize: none;
  border: 1px solid #c4c4c4;
  border-radius: 0.25rem;
  transition: 0.2s border-color ease-in-out, 0.2s box-shadow ease-in-out;
  margin-top: 0.5rem;
}

#comments #respond textarea#comment:focus {
  border-color: var(--com-color);
  outline: none;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(238 48 36 / 15%) 0px 0px 0px 3px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.leave-reply-title,
p.share-with-comm {
  margin: 0 0 6px 0;
  color: #000000;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

#comments .submit {
  display: none;
}

.comment-reply-title {
  margin: 0.5rem 0 !important;
}

.comment-form-comment {
  margin-top: 0.5rem !important;
}

#comments .user-link.mfp-link {
  /* font-size: 0.875rem !important; */
}

.login-popup__form-wrapper .login-popup__form-groupphone{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.js-collection-private-popup-btn{
  margin-left: 10px;
}

.js-collection-delete-popup-btn{
  margin-top: 10px;
}

.comments-area .user-link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ee3024;
  content: "";
  transition: all .25s ease;
}

.comments-area .user-link:hover:before {
  width: 100% !important;
}