#multiple_authors_multiple_authors_options_license_key {
    width: 300px;
}

.ppa_license_key_status {
    margin-left: 0;
    font-weight: bold;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 4px;
}

.ppa_license_key_status.valid {
    color: #8181da;
}

.ppa_license_key_status.invalid {
    color: #f54d4d;
}

.ppa_license_key_status_label {
    color: black;
    font-weight: normal;
}