.login-popup__form button.photo-delete-btn,
.login-popup__form button.exit-cropping-btn{
    margin:0;
    padding:0;
    background-color:transparent;
}
.login-popup__form button.save-photo-btn,
.login-popup__form button.photo-upload-btn{
    margin: 0;
}

button.photo-delete-btn {
    color: #B5635E;
}

.login-popup__form button.photo-delete-btn:hover{
    cursor: pointer;
    text-decoration: underline;
}
.profile-popup__image-cropper{
    margin: 20px 0;
    background-color:#DDD;
}

.profile-popup__image-cropper img {
    max-width: 100%;
    height: auto;
}
.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

#deleteProfileFormStatus{
    margin-top: 10px;
    text-align: center;
}
#deleteProfileFormStatus.error{
    color: #ee3024;
}


.css-center {
    text-align: center;
}

.delete-account-btn {
    position: relative;
    padding-left: 20px;
    display: inline-block;
    margin: 20px auto 0 auto;
    color: #ee3024;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}


.delete-account-btn::before {
    position: absolute;
    top: 1px;
    left: -2px;

    width: 20px;
    height: 18px;

    background-size: 80%;
    background-image: url('../images/icon-trash.svg');
    background-repeat: no-repeat;

    content: '';    
}