.mfp-hide {
    display: none !important;
}

form div.form-notice{
    display: flex;
    align-items: center;
}

form div.form-notice.error{
    color: #ee3024;
}
form div.form-notice.loading{
    color: #333;
}

form div.form-notice.loading:before{
    content: "";
    width: 16px;
    height: 16px;
    margin-right:5px;
    display: inline-block;
    background: url('../images/loading.gif') no-repeat;
}
form div.form-notice.success{
    color: green;
}

/* Popup Social Button Override */
.login-popup__btn-group div.nsl-container .nsl-container-buttons{
    padding: 0;
}
.login-popup__btn-group div.nsl-container-block .nsl-container-buttons a{
    margin: 0;
    max-width: 100% !important;    
}