.casestudy-nav {
  padding: 30px 20px;

  text-align: center;
}

.casestudy-nav a {
    padding: 0;
} 

.casestudy-nav img {
    height: 50px;
    width: auto;
}

@media all and (min-width: 768px) {
    .casestudy-nav {
        padding: 25px 20px;
    }

    .casestudy-nav img {
      height: 70px;
      width: auto;
    }
}

/* ***********************************************
 *  2020 Case Study Updates
 * *********************************************** */
/* Nav */
.single-case-study .header a,
.single .logo-container h1 a,
.archive .header a,
.archive .logo-container h1 a {
    color: #3E4240;
}

.single svg#hat-logo,
.archive svg#hat-logo {
    fill: #3E4240;
}

.single-case-study .header a:hover,
.single .logo-container h1 a:hover {
    color: #ffffff;
}

/* If header of case study is using full image */
.header.white .logo-container h1 a, 
.header.white .logo-container a,
.header.white a,
.header.white .mobile-menu i {
    color: #ffffff;
}

.header.white svg#hat-logo {
    fill: #ffffff;
}

/* */
.single-case-study .container.hero-container {
    height: auto;
    padding: 180px 20px 120px 20px;
}


/* Section: Intro */
.case-study__header {
    padding: 180px 20px 120px 20px;
    text-align: center;
    background: #ffd216;
}

.cs-image-hero p {
    text-align: center;
}

.case-study__header h1,
.cs-image-hero h1 {
    margin: 0 0 30px 0;
    font-size: 54px;
    line-height: 58px;
    color: #3E4240;
}

.cs-image-hero h1.white {
    color: #ffffff;
}

.case-study__header .locations {
    margin-bottom: 45px;
}

.case-study__header .locations span,
.cs-image-hero .locations span {
    position: relative;
    display: inline-block;

    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.75px;

    color: #3E4240;
    text-align: center;
}

.case-study__header .locations span.white,
.cs-image-hero .locations span.white {
    color: #ffffff;
}

.case-study__header .locations span:before {
    position: absolute;
    top: 10px;
    right: -22px;
    display: block;

    width: 7px;
    height: 7px;

    background: #3E4240;

    border-radius: 10px;

    content: '';
}

.case-study__header .locations span:last-child {
    margin-right: 0;
}

.case-study__header .locations span:last-child:before {
    display: none;
}

.case-study__header .intro {
    max-width: 830px;
    margin: 0 auto;
}


.case-study__header .intro p {
    text-align: center;
    color: #3E4240;
}

.cs-image-hero .intro p,
.cs-image-hero .intro a {
    color: white;
}

.case-study__header .intro a {
    color: #3E4240;
}

.case-study__header.white h1,
.case-study__header.white .locations span,
.case-study__header.white .intro p,
.case-study__header.white .intro a,
.case-study__header.white .intro a:hover {
    color: #ffffff !important;
}

/* Section: Overview */
.container--sm {
    max-width: 980px;
    margin: 0 auto;
}

.case-study__brief {
    padding: 80px 20px;
}

.case-study__brief hr {
    margin: 10px 0;
    background: #e4b5b6;
    width: 100%;
    max-width: 100%;
    height: 1px;
}

.case-study__brief h2 {
    margin: 0;

    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.case-study__brief p {
    color: #3E4240;
    font-size: 18px;
    line-height: 28px;
}

.brief__item {
    margin-bottom: 40px;
}

.brief__flex--right {
    margin-top: 80px;
    padding-top: 10px;
}


@media all and (min-width: 600px) {
    .brief__flex {
        display: flex;
    }

    .brief__flex--left {
        flex: 3;
        width: 100%;
        max-width: 640px;
    }

    .brief__flex--right {
        margin-top: 0;
        padding-top: 0;
        padding-left: 100px;

        flex: 1;

        border-top: none;
    }
}

p.brief__impression {
    font-family:"Futura LT W01 Bold";
    margin-bottom: 40px;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 48px;
    font-weight: 900;
    color: #e4b5b6;
}

p.brief__impression span {
    display: block;
    margin-top: 5px;

    font-family:"Futura LT W01 Medium";
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 1px;

    text-transform: uppercase;
}

.brief__split {
    display: flex;
}

.brief__split--left,
.brief__split--right {
    flex: 1;
}

.brief__split--left {
    padding-right: 10px;
}

.brief__split--right {
    padding-left: 10px;
}

.brief__split p {
    margin: 0 0 5px 0;
}

/* 
font-family:"Futura LT W01 Medium";
font-family:"Futura LT W01 Bold";
font-family:"Futura LT W01 Heavy";
*/

.testimonial__carousel .slick-track {
  display: flex;
}

.testimonial__carousel .slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.case-study__testimonials {
    padding: 80px 20px;
    background: #E6ECEC;

    text-align: center;
}

.testimonial__carousel {
    max-width: 790px;
    margin: 0 auto;
}

.testimonial__carousel--item {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__carousel--item p {
    margin: 0 0 20px 0;
    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 24px;
    line-height: 28px;
    color: #3E4240;
    text-align: center;
}

.testimonial__carousel--item span {
    font-family: 'Courier New', Courier New, SANS-SERIF;

    font-size: 14px;
    line-height: 16px;
    color: #000000;

    text-transform: uppercase;
}

.testimonial-nav {
    position: relative;
    display: inline-block;

    padding: 0 40px;
    margin: 30px auto 0 auto;
}

.testimonial-nav--next,
.testimonial-nav--prev {
    position: absolute;
    top: 0;

    cursor: pointer;
    width: 20px;
    height: 20px;

    background: url('../images/casestudy/arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.testimonial-nav--prev {
    left: 0;
}
.testimonial-nav--next {
    right: 0;
    transform: rotate(180deg);
}

.arrow--next {
    cursor: pointer;
}

.cs--dots {
    list-style: none;
    margin: 0 auto;
    padding: 0;

    text-align: center;
}

.cs--dots {
    position: relative;
}

.cs--dots li {
    position: relative;
    top: -5px;
    display: inline-block;

    width: 10px;
    height: 10px;

    margin-right: 10px;

    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 100%;
}

.cs--dots li:last-child {
    margin-right: 0;
}

.cs--dots li.slick-active {
    background: #000000;
}

.cs--dots li button {
    display: none;
}


.case-study__cta {
    margin-top: 140px;
    padding: 80px 20px 40px 20px;

    text-align: center;

    background: #ecd3d4;
}

.case-study__cta h2 {
    font-size: 36px;
    line-height: 36px;
}

.case-study__cta .button {
    width: 320px;
    max-width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    text-transform: initial;

    background: #ffd216;
}
.case-study__cta--footer {
    margin-top: 60px;
    text-align: left;
}

.case-study__cta--link {
    position: relative;
    padding-left: 20px;
    font-family: 'Futura LT W01 Bold';
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

.case-study__cta--link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.case-study__cta--link:before {
    position: absolute;
    top: -1px;
    left: 0;

    display: block;

    width: 20px;
    height: 30px;

    background: url('../images/casestudy/arrow-white.svg');
    background-position: bottom left;
    background-repeat: no-repeat;

    content: '';
}



/* GALLERY */
.section__gallery {
    padding: 80px 0 0 0;

    text-align: center;
}

.gallery__headline {
    position: relative;
    margin: 0 0 60px 0;
    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 27px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.75px;
    color: #3E4240;
}

.gallery__headline::before {
    position: absolute;
    bottom: -30px;
    left: 50%;

    margin-left: -25px;

    width: 50px;
    height: 4px;

    background: #FFD24C;

    content: '';
}


.case-study__gallery img {
    display: block;
    width: 100%;
}

.case-study__gallery--nav {
    display: inline-block;
    padding: 0 30px;
}

.case-study__gallery .slick-track {
  display: flex;
}

.case-study__gallery .slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}


@media all and (min-width: 600px) {
    .case-study__gallery {
        display: flex;
        justify-content: space-between;
    }

    .case-study__gallery .slick-slide > div {
        padding: 0 10px;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(1) > div {
        padding: 0 18px 0 0;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(2) > div {
        padding: 0 10px;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(3) > div {
        padding: 0 0 0 18px;
    }

    /* .container--full .case-study__gallery img { 
        border-radius: 0 10px 10px 0;
    }

    .container--full .case-study__gallery div:nth-child(2n) img {
        border-radius: 10px;
    }

    .container--full .case-study__gallery div:nth-child(3n) img {
        border-radius: 10px 0 0 10px;
    }*/
}

@media all and (min-width: 800px) {
    .case-study__gallery .slick-slide > div {
        padding: 0 20px;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(1) > div {
        padding: 0 28px 0 0;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(2) > div {
        padding: 0 15px;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(3) > div {
        padding: 0 0 0 28px;
    }
}


/* STORY/FEED Results */
.case-study__results {
    padding: 80px 0;
    text-align: center;
}

.results__flex {
    display: flex;

    min-height: 100px;
}

.results__flex--video {
    flex: 1;

    background: url('../images/casestudy/bg-phone-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.results__flex--video.scroll {
    flex: 1;

    background: url('../images/casestudy/bg-phone-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


.results__flex--video div {
    width: 77%;
    margin: 0 auto;
}


.results__scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;

    padding:177.78% 0 0 0;
}

.results__scroll--msg {
    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 40px;
    margin-left: -20px;
    text-align: center;

    text-transform: uppercase;

    font-size: 12px;
    letter-spacing: 1px;
}

.results__scroll--msg:before {
    position: absolute;
    top: 0;
    left: -10px;


    width: 10px;
    height: 20px;

    content: '';

    background: url('../images/casestudy/arrow.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;

    transform: rotate(-90deg);
}

.results__scroll--inner {
    position: absolute;
    top: 10%;
    height: 80%;

    width: 100% !important;
    overflow:scroll;
}

.results__scroll--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);

    -webkit-transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    transition: opacity 1000ms ease;
}

.results__scroll--overlay.hidden {
    opacity: 0;
}


.results__flex--facts {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.results__flex--stat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results__flex--stat p {
    width: 100%;
    text-align: center;
}

.results__flex--stat span {
    display: block;
}

.results__flex--stat span.num {
    font-family: "Futura LT W01 Bold";
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 56px;
    font-weight: 900;
    color: #e4b5b6;
}

.results__flex--stat span.stat {
    margin-top: 10px;
    font-family: "Futura LT W01 Medium";
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #e4b5b6;
    text-transform: uppercase;
}

.results__flex--stat span.caption {
    min-height: 16px;
    margin-top: 10px;
    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

@media all and (min-width: 800px) {
    .results__flex--stat span.num {
        font-size: 76px;
        line-height: 76px;
    }

}

.results__toggle {
    margin: 20px 0 60px 0;
    padding: 0 20px;
}

.results__toggle img {
    position: relative;
    top: 13px;

    width: 40px;
    height: 40px;

    margin: 0 20px;
}

.results__toggle img {
    transform-origin: center center;
    transform: rotate(0);

    transition: transform 250ms ease;
}

.results__toggle img.tilt {
    transform: rotate(90deg);
}

.results__toggle a {
    position: relative;
    margin: 0 0 50px 0;
    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 27px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.75px;
    color: #C1C2C2;
    text-transform: uppercase;
    cursor: pointer;
}

.results__toggle--feed {
    padding-right: 10px;
}

.results__toggle a.show {
    color: #3E4240;
    text-decoration: underline;
}

.results--toggle--item{
    /* display: none;*/
    visibility: hidden;
    height: 0;

}

.results--toggle--item.show {
    /* display: block;*/
    visibility: visible;
    height: inherit;
    -webkit-animation-name: showStats; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 500ms; /* Safari 4.0 - 8.0 */
    animation-name: showStats;
    animation-duration: 500ms;
}



.results__scroll--prompt {
    position: absolute;
    top: 28%;
    left: 50%;
    z-index: 100;

    width: 20px;
    height: 20px;

    display: block;

    transform: translateY(-50%) translateX(-50%) scale(1.3);
}

.results__scroll--prompt span {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    letter-spacing: 1px;

    font-family: "Futura LT W01 Bold";
    font-weight: 900;

    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.results__scroll--prompt.hide {
    display: none;
}

.result-mouse {
  height: 32px;
  width: 20px !important;
  border: 3px solid #000;
  border-radius: 12px;
  margin-bottom: 5px !important;
  position: relative;
}
  
.result-mouse:after {
    content: '';
    top: 5px;
    width: 2px;
    height: 5px;
    background: #000;
    left: 50%;
    margin-left: -1px;
    position: absolute;
}

.svg-scroll {
    fill: #000000;
    display: inline-block;
    width: 13px;
    height: 13px;

    transform: scale(1.5);
}

.results__scroll--prompt.yellow span {
    color: #FFD24C;
}

.results__scroll--prompt.yellow .svg-scroll {
    fill: #FFD24C;
}

.results__scroll--prompt.pink span {
    color: #e4b5b6;
}

.results__scroll--prompt.pink .svg-scroll {
    fill: #e4b5b6;
}

.results__scroll--prompt.white span {
    color: #ffffff;
}

.results__scroll--prompt.white .svg-scroll {
    fill: #ffffff;
}

/* #e4b5b6 */
  
.svg-scroll path {
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
    
.svg-scroll path:first-child {
    animation-name: scrollAnimationBig;
}
    
.svg-scroll path:last-child {
    animation-name: scrollAnimationSmall;
}

@keyframes scrollAnimationSmall {
  0% {
    transform: translateY(-15px);
  }
  25% {
    opacity: 0;
    transform: translateY(-15px);
  }
  75% {
    opacity: .8;
  }
  
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollAnimationBig {
  0% {
    transform: translateY(-25px);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    
  }
}

@-webkit-keyframes scrollAnimationSmall {
  0% {
    transform: translateY(-15px);
  }
  25% {
    opacity: 0;
    transform: translateY(-15px);
  }
  75% {
    opacity: .8;
  }
  
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes scrollAnimationBig {
  0% {
    transform: translateY(-25px);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes showStats {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes showStats {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* ***********************************************
 *  2020 Case Study Updates: Archive;
 * *********************************************** */
.archive__case-study {
    margin-top: 80px;
    text-align: center;

    min-height: 65vh;
}

.archive__case-study .gallery__headline {
    color: #868686;
}

.archive__headline {
    margin: 0 0 80px 0;
    color: #e4b5b6;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 1.4px;
}

.archive__flex {
    display: flex;
    flex-wrap: wrap;

    margin-top: 80px;
    margin-bottom: 120px;
    padding: 0 20px;
}

.archive__item {
    position: relative;

    flex-basis: calc(33% - 17px);
    max-width: calc(33% - 17px);
    height: 0;
    padding-bottom: 28%;
    margin-right: 29px;
    margin-bottom: 30px;

    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.archive__item::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(64, 64, 64, 0.63);

    content: '';
}

.archive__item:nth-child(3n) {
    margin-right: 0;
}

.archive__item > div {
    margin-top: 35%;
}

.archive__item h2 {
    position: relative;
    z-index: 20;

    margin: 0 0 10px 0;

    text-transform: none;
    font-size: 24px;
}

.archive__item h3 {
    position: relative;
    z-index: 20;

    margin: 0 0 0 0;

    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 24px;
    letter-spacing: 0.75px;
}


.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100vh;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    background: #e4b5b6;
}

.mobile-overlay__inner {
    max-width: 960px;
    margin: 0 auto;
}

.mobile-overlay__inner h2 {
    line-height: 28px;
    text-transform: none;
}

@media all and (min-width: 768px) {
    .mobile-overlay {
        display: none;
    }
}

.text-shadow {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}



.footer {
  padding: 50px 20px;
  color: #FAD0C3 !important;
  font-family: futura-pt, "Futura", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  background: #63252A; }
  @media only screen and (min-width: 767px) {
    .footer {
      padding: 45px 20px 45px 20px; } }
  .footer p {
    color: #FAD0C3 !important;
    margin: 0; }
    .footer p:first-child {
      margin: 0 0 15px 0; }
    @media only screen and (min-width: 767px) {
      .footer p {
        font-size: 16px; }
        .footer p:first-child {
          margin: 0 0 5px 0; } }
  .footer a {
    color: #FAD0C3 !important; }
    .footer a:hover {
      text-decoration: underline; }
  .footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .footer__bottom {
    padding: 15px 0;
    text-align: center; }
    .footer__bottom p {
      margin: 0;
      font-family: "American Typewriter", monospace;
      font-size: 16px;
      letter-spacing: 1.66px;
      line-height: 18px; }
