/*
	Theme Name: Accidentally Wes Anderson
	Theme URI: accidentallywesanderson.com
	Description: WP Theme for Accidentally Wes Anderson
	Version: 1
	Author: Squatch Creative
	Author URI: http://squatch.us

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/


@import url('https://afeld.github.io/emoji-css/emoji.css');

@font-face{
	font-family:"Futura LT W01 Book";
	src:url("fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix");
	src:url("fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot"),url("fonts/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2") format("woff2"),url("fonts/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff") format("woff"),url("fonts/c2a69697-4f06-4764-abd4-625031a84e31.ttf") format("truetype");
}
@font-face{
	font-family:"Futura LT W01 Medium";
	src:url("fonts/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot?#iefix");
	src:url("fonts/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot?#iefix") format("eot"),url("fonts/e17c7943-8db2-4470-9e2a-74a8d01f6776.woff2") format("woff2"),url("fonts/6c72b0cb-89a1-4da9-8574-9244967bd9d6.woff") format("woff"),url("fonts/dd79c75a-b0c9-4d70-a5a7-bdde1d5449fd.ttf") format("truetype");
}
@font-face{
	font-family:"Futura LT W01 Bold";
	src:url("fonts/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix");
	src:url("fonts/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix") format("eot"),url("fonts/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2") format("woff2"),url("fonts/184895ac-545b-450b-9d3a-c0a0a7620977.woff") format("woff"),url("fonts/bf8628d2-1ae0-4645-ba3f-3ce62d8d907c.ttf") format("truetype");
}
@font-face{
	font-family:"Futura LT W01 Bold Oblique";
	src:url("fonts/dc781dc0-5e81-4b8d-a608-e2bac19a9472.eot?#iefix");
	src:url("fonts/dc781dc0-5e81-4b8d-a608-e2bac19a9472.eot?#iefix") format("eot"),url("fonts/0d6f913b-0b53-4085-8bc2-7b98d4ee9429.woff2") format("woff2"),url("fonts/723c2eab-ca44-4b97-95be-f709b1910ed2.woff") format("woff"),url("fonts/4043d778-6aa8-4da3-88fb-f25e99332d90.ttf") format("truetype");
}
@font-face{
	font-family:"Futura LT W01 Heavy";
	src:url("fonts/752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix");
	src:url("fonts/752e3189-96d5-4999-8ae7-c435a470461b.eot?#iefix") format("eot"),url("fonts/f3fa9288-dc04-4f75-b949-b06584863c9c.woff2") format("woff2"),url("fonts/6b1bbd38-7556-4809-a151-88182a37116e.woff") format("woff"),url("fonts/1f56887e-52d4-4229-b219-513cbef3ff58.ttf") format("truetype");
}

/*
font-family:'Futura LT W01 Book';
font-family:"Futura LT W01 Medium";
font-family:'Futura LT W01 Bold';
font-family:'Futura LT W01 Bold Oblique';
font-family:"Futura LT W01 Heavy";
*/

/*WP CORE
=========================*/

*,:after,:before{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility}.alignnone{margin:5px 20px 20px 0}.aligncenter,div.aligncenter{display:block;margin:5px auto}.alignright{float:right;margin:5px 0 20px 20px}.alignleft{float:left;margin:5px 20px 20px 0}a img.alignright{float:right;margin:5px 0 20px 20px}a img.alignleft,a img.alignnone{margin:5px 20px 20px 0}a img.alignleft{float:left}a img.aligncenter{display:block;margin-left:auto;margin-right:auto}.wp-caption{background:#FFF;border:1px solid #F0F0F0;max-width:96%;padding:5px 3px 10px;text-align:center}.wp-caption.alignleft,.wp-caption.alignnone{margin:5px 20px 20px 0}.wp-caption.alignright{margin:5px 0 20px 20px}.wp-caption img{border:0;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}.gallery-caption,.wp-caption .wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}

/* SPAN SIMPLE by Squatch
==========================*/
body {
	margin:0px; padding:0px;
	font-family:'Futura LT W01 Book', Helvetica, Arial, sans-serif;
	background:#fff;
	font-size:18px; line-height:26px; 
	color:#000;
} 
div { 
	display:block; 
	position:relative; 
	margin:0px; 
	padding:0px; 
}
.body-wrapper {
	max-width:100%;
	width:100%; 
	overflow:hidden; 
}
.container {
	float:none; clear:both; margin:0px auto; padding:0px;
	width:100%; height:auto; 
	position:relative;
	z-index:100;
}
.padded-container {
	padding:64px 0px;
}
.row {
	float:none; clear:both; margin:0px auto; padding:0px; 
	width:100%; height:auto; 
	max-width:1080px; 
}

div[class*='span'] {
	float:left; margin:0px auto; padding:28px 28px; height:auto;
   	-moz-box-sizing: border-box;
   	-webkit-box-sizing: border-box;
   	-ms-box-sizing: border-box;
   	box-sizing: border-box;
}
.span5 { width:5%; }
.span10 { width:10%; }
.span15 { width:15%; }
.span20 { width:20%; }
.span25 { width:25%; }
.span30 { width:30%; }
.span33 { width:33%; }
.span35 { width:35%; }
.span40 { width:40%; }
.span45 { width:45%; }
.span50 { width:50%; }
.span55 { width:55%; }
.span60 { width:60%; }
.span65 { width:65%; }
.span66 { width:66%; }
.span70 { width:70%; }
.span75 { width:75%; }
.span80 { width:80%; }
.span85 { width:85%; }
.span90 { width:90%; }
.span100 { width:100%; max-width:640px; }


.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Futura LT W01 Bold';
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

h1 {
    position: relative;
    margin: 24px 0;
    font-size: 81px;
    line-height: 84px;
}

h4 {
    font-family: 'Futura LT W01 Book';
    font-weight: 700;
    position: relative;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3px;
    margin: 0;
}

p {
	font-size:18px;
	line-height:26px;
	margin:18px auto;
	padding:0;
	color:#696969;
	text-align:justify;
}

form p {
	text-align:center; 
}
a {
	transition: 120ms; 
	text-decoration:none;
	color:#454545;
}
a:hover {
	color:#383838;
}
img, a img {
	display:inline-block; 
	max-width:100%; 
	height:auto; 
	border:0px;
	padding:0px;
	margin:0px auto;
}
small {font-size:70%;}
.bold, strong {font-weight:bold;}
.italic, em { font-style:italic;}
.hidden { display:none; }
.clear {	clear:both; float:none; display:block; position:relative; }
.text-center { text-align:center; }
.text-right { text-align:right; } 
.no-gap { margin:0px auto !important; padding:0px !important; } 
hr {
    display: block;
    clear: both;
    position: relative;
    max-width: 56px;
    border: 0px;
    height: 4px;
    background: #ffd24c;
    margin: 24px 0;
}

hr.centered {
	margin:48px auto;
}
.hidden {
	display:none;
	visibility:hidden;
}



















/* HEADER
================================*/

.header.container {
    display: flex;
    width: 100%;
    z-index: 999;
    transition: 180ms;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.single .header.container,
.archive .header.container {
	position: absolute;
    top: 0;
    left: 0;
}

.logo-container {
    padding-left: 32px;
}

svg#hat-logo {
    display: block;
    position: absolute;
    fill: #717977;
    width: 24px;
    height: auto;
    top: 0;
    left: 0;
}

.logo-container h1 {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
	margin:0;
}

.logo-container h1 a {
    color: #717977;
}

.logo-container h1 a:hover {
	color:#717977;
}

nav.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

ul.menu {
	list-style:none; margin:0px; padding:0px;
	display:block;
	position:relative;
}

nav li {
	list-style:none; margin:0px; padding:0px;
	display:inline-block;
	position:relative;
}

nav a {
	display:block;
	font-family:"Futura LT W01 Medium";
	height:auto; 
	width:auto;	
	margin:0px; 
	padding:16px;
	text-transform:uppercase;
	font-size:18px; 
	line-height:26px;
	font-weight:400;
	color:#717977;
	text-decoration:none;
}

nav a:hover {
	color:#ffd24c;
}

.single nav a,
.archive nav a,
.single .logo-container h1 a,
.archive .logo-container h1 a,
.single svg#hat-logo,
.archive svg#hat-logo {
	color:white;
	fill:white;
}

.single nav a:hover, 
.archive nav a:hover, 
.single .logo-container h1 a:hover,
.archive .logo-container h1 a:hover {
	color:#ffd24c;
}

.mobile-menu {
	display:none;
}


















/* HERO
================================*/

.container.hero-container {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    height: 100vh;
    min-height: 480px;
    justify-content: center;
    align-items: center;
	z-index:100;
}

.container .screen {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	z-index:5;
}

.container.hero-container .screen {
    background: rgba(134,130,135,.4);
}

.hero-container h1,
.hero-container h4 {
	z-index:100;
}

.hero-container .span100 {
	z-index:100;
	max-width:720px;
	transform:translateY(-20px);
}

.hero-container h1 {
    margin-top: 0;
    letter-spacing: 3px;
}

.hero-container i.fa.fa-angle-down {
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    z-index: 15;
    display: block;
    position: fixed;
    bottom: 24px;
    left: calc(50% - 24px);
    height: 48px;
    width: 48px;
    text-align: center;
    cursor: pointer;
	
	transition:opacity 200ms ease, z-index 200ms 1s linear; 
}

.hero-container h1.animate.animation,
.hero-container h4.animate.animation,
.hero-container p.animate.animation {
	-webkit-animation:slideIn 1s .3s forwards;
	animation:slideIn 1s .3s forwards;
}

.hero-container i.fa.fa-angle-down.animate.animation {
	-webkit-animation:slideUp 1s .8s forwards;
	animation:slideUp 1s .8s forwards;
}

.hero-container i.fa.fa-angle-down.scrolled {
	-webkit-animation-play-state:paused !important;
	animation-play-state:paused !important;
	-webkit-animation:0 !important;
	animation:0 !important;
	pointer-events:none;
	opacity:0.0;
	z-index:-100;
}

.thanks-container p {
	color:#fff; 
}

.thanks-container p a {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 14px 34px;
    width: auto;
    height: auto;
	font-family: 'Futura LT W01 Bold';
    font-size: 18px;
    line-height: 24px;
	letter-spacing:2px;
    text-transform: uppercase;
    border: 0px;
    background: #ffd24c;
    color: #fff;
    border-radius: 500px;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.thanks-container p a:hover {
	opacity:0.65;
	transform:translateY(2px);
}





















/* CONTENT 
============================ */

.parallax-mirror {
    z-index: 5 !important;
}

.container .span100 {
	z-index:100;
}

.peach-back {
    background: #e8d4d4;
}


.background-image p {
	color:#fff;
}

.container.background-image {
    min-height: 560px;
}

.container.interior {
	background:#eee; 
}

.instagram-row a.instagram-image {
    display: block;
    height: 280px;
    width: 100%;
}

.instagram-row a {
    font-size: 13px;
    font-weight: bold;
    transform: translateY(-12px);
    display: inline-block;
    position: relative;
}






















/* BLOG
=================================== */

.container.hero-container.blog-hero {
    height: 65vh;
}

.container.hero-container.blog-hero .screen {
    background: rgba(0,0,0,.4);
}

.blog-hero .span100 {
    transform: translateY(5vh);
}

.blog-container .span100 {
    float: none;
	max-width:720px;
	overflow:visible;
}

.blog-container .title-row .span100 {
	max-width:100%;
}

.title-row .span100 h1 {
	color:#e4b5b6;
}

.blog-container h2 {
    color: black;
    font-family:"Futura LT W01 Heavy";
    text-transform: none;
    font-size: 24px;
    line-height: 32px;
}

.blog-container a {
	color:black;
}

.featured-post.blog-container h2 {
    font-size: 36px;
    line-height: 44px;
}

.blog-container p {
    font-family: 'Courier New', Courier New, SANS-SERIF;
    text-align: left;
}

p.categories {
    text-transform: uppercase;
}

.blog-container .category-filter p {
    text-align: center;
    text-transform: uppercase;
}

.blog-container img {
    border-radius: 6px;
}

.category-filter {
	padding-bottom:24px;
}

.category-filter p a {
	display:inline-block;
	margin:0 18px;
}

.category-filter p a.selected {
	font-weight:bold;
}

.blog-container .date {
    font-family: "Futura LT W01 Heavy";
    font-size: 22px;
    line-height: 28px;
    padding: 12px 0 64px 0;
}

.blog-container .date:after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 56px;
    background: #ffd24c;
    left: 50%;
    bottom: 24px;
    margin-left: -28px;
}

.content p:first-of-type:first-letter {
    display: inline-block;
    font-family: "Futura LT W01 Bold";
    float: left;
    font-size: 48px;
    line-height: 50px;
    color: black;
    padding-right: 24px;
    padding-bottom: 0;
}

.blog-container blockquote {
    display: block;
    margin: 96px 0 72px 0;
    text-align: center;
    position: relative;
	width:100%;
}

.row.posts-row.posts-overview {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.article.span33 {
    padding-bottom: 48px;
    margin: 0;
}

@media all and (min-width:1080px) {
	.blog-container blockquote {
		width: 1080px;
		transform: translateX(-208px);
	}
	
	.article:nth-of-type(3n + 5) {
		transform: translateY(-48px);
	}
}

.blog-container blockquote:before {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 56px;
    background: #ffd24c;
    left: 50%;
    top: -42px;
    margin-left: -28px;
}

.blog-container blockquote p {
	font-family: "Futura LT W01 Medium";
	font-size:32px;
	line-height:40px;
	color:black;
	text-align:center;
}

.blog-container blockquote p:first-of-type:first-letter {
    display: inline;
    font-family: "Futura LT W01 Medium";
    float: none;
	font-size:32px;
	line-height:40px;
	padding:0;
}


.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.pagination a {
    display: block;
	padding:8px;
	font-family: "Futura LT W01 Bold";
}

.pagination span {
	display: block;
	padding:8px;
	font-family: "Futura LT W01 Bold";
	color:#ffd24c;
}

















/* FORMS
============================== */

.wpcf7 p {
    text-align: center;
    max-width: 320px;
}

p.agreement {
    font-size: 10px;
    line-height: 14px;
    text-align: left;
    font-style: italic;
}

p.agreement.agreement-book {
    width: 480px;
    max-width: 100%;
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    display: flex;
    flex-flow: row;
}

span.wpcf7-list-item {
    display: block;
    float: left;
    margin: 0 12px 0 0;
}

span.wpcf7-list-item-label {
    opacity: 0.0;
}

input, textarea {
	-moz-box-sizing: border-box;
   	-webkit-box-sizing: border-box;
   	-ms-box-sizing: border-box;
   	box-sizing: border-box;
	display:block;
	max-width:320px;
	width:100%;
	height:auto;
	padding:12px 24px;
	margin:8px auto; 
	
	font-size:14px;
	line-height:18px;
	
	border:1px #ccc solid; 
}

a.button, input[type="submit"], button[type="submit"] {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 14px 34px;
    width: auto;
    height: auto;
	font-family: 'Futura LT W01 Bold';
    font-size: 18px;
    line-height: 24px;
	letter-spacing:2px;
    text-transform: uppercase;
    border: 0px;
    background: #ffd24c;
    color: #fff;
    border-radius: 500px;
    -webkit-transition: 200ms;
    transition: 200ms;
}

a.button:hover, input[type="submit"]:hover, button[type="submit"]:hover {
	opacity:0.65;
	transform:translateY(2px);
}

div.wpcf7-response-output {
    margin: 0px auto;
    box-sizing: border-box;
    padding: 18px;
    text-align: center;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #99c387;
    background: #d4fbb2;
    color: #000;
}

div.wpcf7-validation-errors {
    border: 2px solid #d0c419;
    background: #dcdc9b;
    color: #000;
}

div.wpcf7-spam-blocked {
    border: 2px solid #d49d3a;
    background: #dcc497;
    color: #000;
}

div.wpcf7-mail-sent-ng {
    border: 2px solid #f35656;
    background: #e4b2b2;
    color: black;
}

i.em {
    margin-top: -5px;
}








































/* FOOTER 
================================*/
.footer.flex-container.container {
    background: #121212;
    color: #696969;
    height: auto;
    z-index: 100;
    overflow: hidden;
}

.container.footer .span100 {
    display: block;
    position: relative;
}

.footer p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
	color:#696969;
	text-align:center;
}

.footer p a {
	color:#999;
}

.builtby {
    max-width: 72px;
    padding: 0;
    margin: 0px auto;
    display: block;
    position: absolute;
    top: 28px;
    right: 28px;
    opacity: 0.45;
}

.builtby img { display:block; } 

.builtby:hover {
	-webkit-animation:shake .2s 1;
	animation: shake .2s 1;
	opacity:1.0; 
}









/* ANIMATIONS
========================*/
@supports (-webkit-animation:test) or (animation:test) {

.animate, .parallax-mirror {
	opacity:0.0; 
}		
.animation {
	-webkit-animation:slideIn 1.5s .1s forwards;
	animation:slideIn 1.5s .1s forwards;
}

.parallax-mirror {
	-webkit-animation:slideIn 1.5s .8s forwards;
	animation:slideIn 1.5s .8s forwards;
}

@-webkit-keyframes slideIn {
	from 	{ opacity:0.0; -webkit-transform: translate(0px,0px); }
	to		{ opacity:1.0; -webkit-transform: translate(0,0); }
	}

@-keyframes slideIn {
	from 	{ opacity:0.0; transform: translate(0px,0px); }
	to		{ opacity:1.0; transform: translate(0,0); }
}


@-webkit-keyframes slideUp {
	from 	{ opacity:0.0; -webkit-transform: translate(0px,30px); }
	to		{ opacity:1.0; -webkit-transform: translate(0,0); }
	}

@-keyframes slideUp {
	from 	{ opacity:0.0; transform: translate(0px,30px); }
	to		{ opacity:1.0; transform: translate(0,0); }
}


@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}






}



/**** MEDIA QUERIES *****/
/**** MEDIA QUERIES *****/
/**** MEDIA QUERIES *****/
@media all and (max-width:769px) {


	div[class*='span'] {
		float:none; 
		clear:both; 
		width:100%; 
	}
	
	iframe {
		max-width:100%;
	}
	
	.span33 {
		max-width: 480px;
		overflow:hidden;
	}
	
	h1 {
		font-size: 51px;
		line-height: 54px;
		margin:18px 0;
	}
	
	h4 {
		font-size:22px;
		line-height:30px;
	}
	
	p {
		font-size: 16px;
		line-height: 24px;
	}
	
	nav.nav {
		display:none;
	}

	.mobile-menu {
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -24px;
		right: 24px;
		z-index: 1000;
		color: #383838;
		width: 48px;
		height: 48px;
		text-align: center;
		font-size: 24px;
		line-height: 48px;
		cursor: pointer;
	}
	
	.header.opened .mobile-menu {
		color:#fff;
	}

	.header.opened nav.nav {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		background: #383838;
		z-index: 900;
		flex-flow: column wrap;
	}

	ul.menu {
		display:block;
		position:relative;
	}

	ul.menu li {
		display: block;
		float: none;
		border:0px;
	}

	ul.menu li a {
		text-align: center;
		color:#fff;
	}
	
	ul.menu li a:hover {
		color:#fff;
	}
}

@media all and (max-width:481px) {
	h1 {
		font-size: 32px;
		line-height: 42px;
		margin:15px 0;
	}
	.hero-container h1 {
		letter-spacing: 0px;
	}
	
	h4 {
		font-size:18px;
		line-height:27px;
		letter-spacing:2px;
	}
	
	p {
		font-size: 14px;
		line-height: 22px;
	}
	
	.container.footer .span100 {
		text-align: center;
	}
	
	.builtby {
		position: relative;
		top: 0;
		right: 0;
		margin-top: 18px;
	}	
}
/**** MEDIA QUERIES *****/
/**** MEDIA QUERIES *****/
/**** MEDIA QUERIES *****/




/* ***********************************************
 *  2020 Case Study Updates
 * *********************************************** */
/* Nav */
.single-case-study .header a,
.single .logo-container h1 a,
.archive .header a,
.archive .logo-container h1 a {
    color: #3E4240;
}

.single svg#hat-logo,
.archive svg#hat-logo {
    fill: #3E4240;
}

.single-case-study .header a:hover,
.single .logo-container h1 a:hover {
    color: #ffffff;
}

/* If header of case study is using full image */
.header.white .logo-container h1 a, 
.header.white .logo-container a,
.header.white a,
.header.white .mobile-menu i {
    color: #ffffff;
}

.header.white svg#hat-logo {
    fill: #ffffff;
}

/* */
.single-case-study .container.hero-container {
    height: auto;
    padding: 180px 20px 120px 20px;
}


/* Section: Intro */
.case-study__header {
    padding: 180px 20px 120px 20px;
    text-align: center;
    background: #ffd216;
}

.cs-image-hero p {
    text-align: center;
}

.case-study__header h1,
.cs-image-hero h1 {
    margin: 0 0 30px 0;
    font-size: 54px;
    line-height: 58px;
    color: #3E4240;
}

.cs-image-hero h1.white {
    color: #ffffff;
}

.case-study__header .locations {
    margin-bottom: 45px;
}

.case-study__header .locations span,
.cs-image-hero .locations span {
    position: relative;
    display: inline-block;

    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.75px;

    color: #3E4240;
    text-align: center;
}

.case-study__header .locations span.white,
.cs-image-hero .locations span.white {
    color: #ffffff;
}

.case-study__header .locations span:before {
    position: absolute;
    top: 10px;
    right: -22px;
    display: block;

    width: 7px;
    height: 7px;

    background: #3E4240;

    border-radius: 10px;

    content: '';
}

.case-study__header .locations span:last-child {
    margin-right: 0;
}

.case-study__header .locations span:last-child:before {
    display: none;
}

.case-study__header .intro {
    max-width: 830px;
    margin: 0 auto;
}


.case-study__header .intro p {
    text-align: center;
    color: #3E4240;
}

.cs-image-hero .intro p,
.cs-image-hero .intro a {
    color: white;
}

.case-study__header .intro a {
    color: #3E4240;
}

.case-study__header.white h1,
.case-study__header.white .locations span,
.case-study__header.white .intro p,
.case-study__header.white .intro a,
.case-study__header.white .intro a:hover {
    color: #ffffff !important;
}

/* Section: Overview */
.container--sm {
    max-width: 980px;
    margin: 0 auto;
}

.case-study__brief {
    padding: 80px 20px;
}

.case-study__brief hr {
    margin: 10px 0;
    background: #e4b5b6;
    width: 100%;
    max-width: 100%;
    height: 1px;
}

.case-study__brief h2 {
    margin: 0;

    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.case-study__brief p {
    color: #3E4240;
    font-size: 18px;
    line-height: 28px;
}

.brief__item {
    margin-bottom: 40px;
}

.brief__flex--right {
    margin-top: 80px;
    padding-top: 10px;
}


@media all and (min-width: 600px) {
    .brief__flex {
        display: flex;
    }

    .brief__flex--left {
        flex: 3;
        width: 100%;
        max-width: 640px;
    }

    .brief__flex--right {
        margin-top: 0;
        padding-top: 0;
        padding-left: 100px;

        flex: 1;

        border-top: none;
    }
}

p.brief__impression {
    font-family:"Futura LT W01 Bold";
    margin-bottom: 40px;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 48px;
    font-weight: 900;
    color: #e4b5b6;
}

p.brief__impression span {
    display: block;
    margin-top: 5px;

    font-family:"Futura LT W01 Medium";
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 1px;

    text-transform: uppercase;
}

.brief__split {
    display: flex;
}

.brief__split--left,
.brief__split--right {
    flex: 1;
}

.brief__split--left {
    padding-right: 10px;
}

.brief__split--right {
    padding-left: 10px;
}

.brief__split p {
    margin: 0 0 5px 0;
}

/* 
font-family:"Futura LT W01 Medium";
font-family:"Futura LT W01 Bold";
font-family:"Futura LT W01 Heavy";
*/

.testimonial__carousel .slick-track {
  display: flex;
}

.testimonial__carousel .slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.case-study__testimonials {
    padding: 80px 20px;
    background: #E6ECEC;

    text-align: center;
}

.testimonial__carousel {
    max-width: 790px;
    margin: 0 auto;
}

.testimonial__carousel--item {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__carousel--item p {
    margin: 0 0 20px 0;
    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 24px;
    line-height: 28px;
    color: #3E4240;
    text-align: center;
}

.testimonial__carousel--item span {
    font-family: 'Courier New', Courier New, SANS-SERIF;

    font-size: 14px;
    line-height: 16px;
    color: #000000;

    text-transform: uppercase;
}

.testimonial-nav {
    position: relative;
    display: inline-block;

    padding: 0 40px;
    margin: 30px auto 0 auto;
}

.testimonial-nav--next,
.testimonial-nav--prev {
    position: absolute;
    top: 0;

    cursor: pointer;
    width: 20px;
    height: 20px;

    background: url('./images/arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.testimonial-nav--prev {
    left: 0;
}
.testimonial-nav--next {
    right: 0;
    transform: rotate(180deg);
}

.arrow--next {
    cursor: pointer;
}

.cs--dots {
    list-style: none;
    margin: 0 auto;
    padding: 0;

    text-align: center;
}

.cs--dots {
    position: relative;
}

.cs--dots li {
    position: relative;
    top: -5px;
    display: inline-block;

    width: 10px;
    height: 10px;

    margin-right: 10px;

    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 100%;
}

.cs--dots li:last-child {
    margin-right: 0;
}

.cs--dots li.slick-active {
    background: #000000;
}

.cs--dots li button {
    display: none;
}


.case-study__cta {
    margin-top: 140px;
    padding: 80px 20px 40px 20px;

    text-align: center;

    background: #ecd3d4;
}

.case-study__cta h2 {
    font-size: 36px;
    line-height: 36px;
}

.case-study__cta .button {
    width: 320px;
    max-width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    text-transform: initial;

    background: #ffd216;
}
.case-study__cta--footer {
    margin-top: 60px;
    text-align: left;
}

.case-study__cta--link {
    position: relative;
    padding-left: 20px;
    font-family: 'Futura LT W01 Bold';
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

.case-study__cta--link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.case-study__cta--link:before {
    position: absolute;
    top: -1px;
    left: 0;

    display: block;

    width: 20px;
    height: 30px;

    background: url('./images/arrow-white.svg');
    background-position: bottom left;
    background-repeat: no-repeat;

    content: '';
}



/* GALLERY */
.section__gallery {
    padding: 80px 0 0 0;

    text-align: center;
}

.gallery__headline {
    position: relative;
    margin: 0 0 60px 0;
    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 27px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.75px;
    color: #3E4240;
}

.gallery__headline::before {
    position: absolute;
    bottom: -30px;
    left: 50%;

    margin-left: -25px;

    width: 50px;
    height: 4px;

    background: #FFD24C;

    content: '';
}


.case-study__gallery img {
    display: block;
    width: 100%;
}

.case-study__gallery--nav {
    display: inline-block;
    padding: 0 30px;
}

.case-study__gallery .slick-track {
  display: flex;
}

.case-study__gallery .slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}


@media all and (min-width: 600px) {
    .case-study__gallery {
        display: flex;
        justify-content: space-between;
    }

    .case-study__gallery .slick-slide > div {
        padding: 0 10px;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(1) > div {
        padding: 0 18px 0 0;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(2) > div {
        padding: 0 10px;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(3) > div {
        padding: 0 0 0 18px;
    }

    /* .container--full .case-study__gallery img { 
        border-radius: 0 10px 10px 0;
    }

    .container--full .case-study__gallery div:nth-child(2n) img {
        border-radius: 10px;
    }

    .container--full .case-study__gallery div:nth-child(3n) img {
        border-radius: 10px 0 0 10px;
    }*/
}

@media all and (min-width: 800px) {
    .case-study__gallery .slick-slide > div {
        padding: 0 20px;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(1) > div {
        padding: 0 28px 0 0;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(2) > div {
        padding: 0 15px;
    }

    .case-study__gallery .slick-track .slick-slide.slick-active:nth-of-type(3) > div {
        padding: 0 0 0 28px;
    }
}


/* STORY/FEED Results */
.case-study__results {
    padding: 80px 0;
    text-align: center;
}

.results__flex {
    display: flex;

    min-height: 100px;
}

.results__flex--video {
    flex: 1;

    background: url('./images/bg-phone-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.results__flex--video.scroll {
    flex: 1;

    background: url('./images/bg-phone-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


.results__flex--video div {
    width: 77%;
    margin: 0 auto;
}


.results__scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;

    padding:177.78% 0 0 0;
}

.results__scroll--msg {
    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 40px;
    margin-left: -20px;
    text-align: center;

    text-transform: uppercase;

    font-size: 12px;
    letter-spacing: 1px;
}

.results__scroll--msg:before {
    position: absolute;
    top: 0;
    left: -10px;


    width: 10px;
    height: 20px;

    content: '';

    background: url('./images/arrow.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;

    transform: rotate(-90deg);
}

.results__scroll--inner {
    position: absolute;
    top: 10%;
    height: 80%;

    width: 100% !important;
    overflow:scroll;
}

.results__scroll--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);

    -webkit-transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    transition: opacity 1000ms ease;
}

.results__scroll--overlay.hidden {
    opacity: 0;
}


.results__flex--facts {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.results__flex--stat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results__flex--stat p {
    width: 100%;
    text-align: center;
}

.results__flex--stat span {
    display: block;
}

.results__flex--stat span.num {
    font-family: "Futura LT W01 Bold";
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 56px;
    font-weight: 900;
    color: #e4b5b6;
}

.results__flex--stat span.stat {
    margin-top: 10px;
    font-family: "Futura LT W01 Medium";
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #e4b5b6;
    text-transform: uppercase;
}

.results__flex--stat span.caption {
    min-height: 16px;
    margin-top: 10px;
    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

@media all and (min-width: 800px) {
    .results__flex--stat span.num {
        font-size: 76px;
        line-height: 76px;
    }

}

.results__toggle {
    margin: 20px 0 60px 0;
    padding: 0 20px;
}

.results__toggle img {
    position: relative;
    top: 13px;

    width: 40px;
    height: 40px;

    margin: 0 20px;
}

.results__toggle img {
    transform-origin: center center;
    transform: rotate(0);

    transition: transform 250ms ease;
}

.results__toggle img.tilt {
    transform: rotate(90deg);
}

.results__toggle a {
    position: relative;
    margin: 0 0 50px 0;
    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 27px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.75px;
    color: #C1C2C2;
    text-transform: uppercase;
    cursor: pointer;
}

.results__toggle--feed {
    padding-right: 10px;
}

.results__toggle a.show {
    color: #3E4240;
    text-decoration: underline;
}

.results--toggle--item{
    /* display: none;*/
    visibility: hidden;
    height: 0;

}

.results--toggle--item.show {
    /* display: block;*/
    visibility: visible;
    height: inherit;
    -webkit-animation-name: showStats; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 500ms; /* Safari 4.0 - 8.0 */
    animation-name: showStats;
    animation-duration: 500ms;
}



.results__scroll--prompt {
    position: absolute;
    top: 28%;
    left: 50%;
    z-index: 100;

    width: 20px;
    height: 20px;

    display: block;

    transform: translateY(-50%) translateX(-50%) scale(1.3);
}

.results__scroll--prompt span {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    letter-spacing: 1px;

    font-family: "Futura LT W01 Bold";
    font-weight: 900;

    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.results__scroll--prompt.hide {
    display: none;
}

.result-mouse {
  height: 32px;
  width: 20px !important;
  border: 3px solid #000;
  border-radius: 12px;
  margin-bottom: 5px !important;
  position: relative;
}
  
.result-mouse:after {
    content: '';
    top: 5px;
    width: 2px;
    height: 5px;
    background: #000;
    left: 50%;
    margin-left: -1px;
    position: absolute;
}

.svg-scroll {
    fill: #000000;
    display: inline-block;
    width: 13px;
    height: 13px;

    transform: scale(1.5);
}

.results__scroll--prompt.yellow span {
    color: #FFD24C;
}

.results__scroll--prompt.yellow .svg-scroll {
    fill: #FFD24C;
}

.results__scroll--prompt.pink span {
    color: #e4b5b6;
}

.results__scroll--prompt.pink .svg-scroll {
    fill: #e4b5b6;
}

.results__scroll--prompt.white span {
    color: #ffffff;
}

.results__scroll--prompt.white .svg-scroll {
    fill: #ffffff;
}

/* #e4b5b6 */
  
.svg-scroll path {
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
    
.svg-scroll path:first-child {
    animation-name: scrollAnimationBig;
}
    
.svg-scroll path:last-child {
    animation-name: scrollAnimationSmall;
}

@keyframes scrollAnimationSmall {
  0% {
    transform: translateY(-15px);
  }
  25% {
    opacity: 0;
    transform: translateY(-15px);
  }
  75% {
    opacity: .8;
  }
  
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollAnimationBig {
  0% {
    transform: translateY(-25px);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    
  }
}

@-webkit-keyframes scrollAnimationSmall {
  0% {
    transform: translateY(-15px);
  }
  25% {
    opacity: 0;
    transform: translateY(-15px);
  }
  75% {
    opacity: .8;
  }
  
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes scrollAnimationBig {
  0% {
    transform: translateY(-25px);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes showStats {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes showStats {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* ***********************************************
 *  2020 Case Study Updates: Archive;
 * *********************************************** */
.archive__case-study {
    margin-top: 160px;
    text-align: center;

    min-height: 65vh;
}

.archive__case-study .gallery__headline {
    color: #868686;
}

.archive__headline {
    margin: 0 0 80px 0;
    color: #e4b5b6;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 1.4px;
}

.archive__flex {
    display: flex;
    flex-wrap: wrap;

    margin-top: 80px;
    margin-bottom: 120px;
    padding: 0 20px;
}

.archive__item {
    position: relative;

    flex-basis: calc(33% - 17px);
    max-width: calc(33% - 17px);
    height: 0;
    padding-bottom: 28%;
    margin-right: 29px;
    margin-bottom: 30px;

    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.archive__item::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(64, 64, 64, 0.63);

    content: '';
}

.archive__item:nth-child(3n) {
    margin-right: 0;
}

.archive__item > div {
    margin-top: 35%;
}

.archive__item h2 {
    position: relative;
    z-index: 20;

    margin: 0 0 10px 0;

    text-transform: none;
    font-size: 24px;
}

.archive__item h3 {
    position: relative;
    z-index: 20;

    margin: 0 0 0 0;

    font-family: 'Courier New', Courier New, SANS-SERIF;
    font-size: 24px;
    letter-spacing: 0.75px;
}


.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100vh;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    background: #e4b5b6;
}

.mobile-overlay__inner {
    max-width: 960px;
    margin: 0 auto;
}

.mobile-overlay__inner h2 {
    line-height: 28px;
    text-transform: none;
}

@media all and (min-width: 768px) {
    .mobile-overlay {
        display: none;
    }
}

.text-shadow {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
