.inpage {
    position: relative;
    top: -10px;
    text-align: center;

    @include mq($min-width: $mdBreak) {
        top: -25px;
    }

    &__tag {
        display: block;
        
        margin: 0 0 7px 0;
        font-family: $primaryFont;
        letter-spacing: 1px;
        font-size: 12px;
        color: #3E4240;
        text-transform: uppercase;
        text-align: center;
    }

    img {
        max-height: 46px;
        width: auto;
        height: auto;
        max-width: 100%;
        
        @include mq($min-width: $mdBreak) {
            max-height: 56px;
        }
    }
}

.section {
  &__providedby {
    background: #F7F7F7;
    padding: 20px 0;

    @include mq($min-width: $mdBreak) {
        padding: 35px 0;
    }
    
    .placeholder--sm {
        margin: 0;
        background: $white;
        border: 1px solid #D1D2D3;
        height: 80px;
    }
  }
}