.taxonomy {
    /* Content Areas */
    &__header {
        padding: 10px 10px;

        background: $white;

        @include mq($min-width: $mdBreak) {
            padding: 20px 15px;
        }

        &--top {
            padding: 10px 0;
            border-bottom: 1px solid $maroon;
        }

        &--bottom {
            padding: 10px 0 0 0;
            min-height: 43px;

            @include mq($min-width: $lgBreak) {
                min-height: 45px;
            }

             p {
                margin: 0;
             }
        }

        &--mobile {
            padding: 20px 0;
            text-align: center;

            @include mq($min-width: $drawerBreak) {
                display: none;
            }

            .btn--outline {
                position: relative;
                padding-left: 50px;

                transition: none;

                &::before {
                    position: absolute;
                    top: 8px;
                    left: 15px;
                    width: 30px;
                    height: 30px;

                    display: block;

                    background-image: url('../images/icon-archive-map.svg');
                    background-repeat: no-repeat;
                    background-position: center center;

                    content: '';
                }

                &:hover {
                    &::before {
                        background-image: url('../images/icon-archive-map-white.svg');
                    }
                }
            }
        }
    }

    &__body {
        padding: 20px 0;
        background: $bgColor;
        
        @include mq($min-width: $mdBreak) {
            padding: 32px 0;
        }
    }

    &__nav {
        display: flex;

        &--left {
            flex: 1;
        }
    }

    /* Headlines */
    &__headline {
        margin: 0;

        // Font Styles (Can be used elsewhere)
        font-family: $primaryFont;
        font-weight: 900;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        color: $black;

        @include mq($min-width: $mdBreak) {
            margin-bottom: 20px;
            font-size: 54px;
            line-height: 54px;
            letter-spacing: 0.5;
        }
    }

    &__description {
        // max-width: 800px;

        margin-top: 10px;
        margin-bottom: 10px;

        @include mq($min-width: $mdBreak) {
            margin-top: 0;
        }

        @include mq($min-width: $lgBreak) {
            max-width: 800px;
            padding-right: 40px;
        }

        @include mq($min-width: $xlBreak) {
            max-width: 50%;
        }

        p {
            font-size: 18px;
        }
    }

    &__text {
        margin: 0;
        color: $black;
    }


    &__breadcrumb {
        padding: 0 10px;

        @include mq($min-width: $mdBreak) {
            padding: 0 20px;
        }
    }
}





/* **********************
 * Switching to list view
 * ********************** */
.tax-nav {
    display: none;

    margin: 0;
    padding: 0;
    list-style: none;

    @include mq($min-width: $drawerBreak) {
        display: flex;
    }

    &__item {
        margin: 0 10px;
        height: 20px;

        a {
            display: block;
            height: 100%;

            opacity: 0.25;

            transition: opacity 250ms ease;

            

            &:hover {
                opacity: 0.5;
            }

            &.active-state {
                opacity: 1;
            }

            img {
                display: block;

                height: 100%;
                width: auto;
            }
        }
    }
}

// Top bar on popup
.gm-style-iw-chr {
    .gm-style-iw-ch {
        display: none;
    }

    button {
        position: absolute !important;
        top: 0;
        right: 0;
        z-index: 1;
        background: transparent;
        opacity: 1 !important;

        &.gm-ui-hover-effect {
            opacity: 1 !important;
        }
    }
}

.gm-style .gm-style-iw-c {
    // padding: 0 !important;
}

.gm-style-iw-d {
    overflow: hidden !important;
}

.gm-style-iw-c {
    overflow-y: auto !important;
}

.tax-map {
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: $black;

    height: calc(100vh - 86px);
    // min-height: 500px;

    background: #fff;

    &:focus {
        outline: none;
    }

    @include mq($min-width: $drawerBreak) {
        //height: calc(100vh - 169px);
        height: calc(100vh - 86px);

        &.pinned {
            position: fixed;
            top: 86px;
            min-width: 50%;
        }

        &.complete {
            position: relative;
            top: calc(100% - (100vh - 86px));
        }
    }

    &__btn-wrapper {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        left: 50%;

        transform: translateX(-50%);

        display: none;
        min-width: 220px;
        text-align: center;

        &.visible {
            display: block;
        }

        .btn {
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);

            @include mq($max-width: $mdBreak) {
                // padding: 5px 30px !important;
            }
        }
    }

    &__load {
        padding-top: 70px;
        position: relative;
        margin: 0 auto;
        max-width: 250px;

        font-family: $primaryFont;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 0.5px;

        text-transform: uppercase;
        text-align: center;
    

        img {
            top: 0;
            position: absolute;
            // transform: scale(0.3);
        }

        &.hidden {
            display: none;
        }
    }

    &__map {
        height: 100%;
        //. min-height: 500px;
        height: calc(100vh - 86px);

        &:focus {
            outline: none !important;
        }
    }
}

.archive-drawer {
    max-width: 100%;

    &__left {
        background: $bgColor;
    }
    
    &__controller {
        background: $white;
    }

    &__toggle {
        position: fixed;
        top: -1000px;
        left: -1000px;

        z-index: -1;

        height: 0;
        overflow: hidden;
    }

    &__right {
        position: relative;
        background: $white;
    }

    @include mq($max-width: $drawerBreak) {
        &__right {
            // height: 500px;
        }
    }

    @include mq($min-width: $drawerBreak) {
        display: flex;
    
        &__left,
        &__right {
            transition: width 250ms ease;
        }

        &__controller {
            position: relative;
            z-index: 10;
        }

        &__left {
            position: relative;
            z-index: 10;
            width: 100%;
            
            flex: 1;
        }

        &__right {
            width: 0;
            height: 0;
            // z-index: 1;
        }

        &.active-state {
            display: flex;
            flex-direction: row;
            xtouch-action: none;

            .city-guide-cta {
                min-height: 200px;
            }

            .archive-drawer__left {
                flex: 0 0 auto;
                width: 50%;

                min-width: 500px;
                max-width: calc(50% - 10px);
                max-width: 1000px;

                .taxonomy__description {
                    max-width: 800px;
                }
            }

            .archive-drawer__controller {
                flex: 0 0 auto;
                width: 0;  
                color: $pink;
                cursor: col-resize; 
            }

            .archive-drawer__right {
                height: initial;
                display: flex;
                flex-direction: column;

                // width: 200px;
                
                // flex: 0 0 auto;

                flex: 1 1 auto;
            }

            .container--grid {
                @include mq($min-width: $xlBreak) {
                    padding: 0 20px;
                }
            }

            .container--grid-header {
                @include mq($min-width: $xlBreak) {
                    padding: 0 15px;
                }
            }
        }
    }
}

// Alter layout if the site is in List View
.card__container.list-view {
    // .card__popup {
    //     visibility: hidden;
    // }

	.card__popup {
		right: 0;
		width: 100%;
		border-radius: 0;

		&.visible {
            bottom: 0px;
		}
    }

    @include mq($min-width: $drawerBreak) {
        .card {
            flex-basis: 100%;

            margin-bottom: 0;

            .card__inner {
                width: 100%;
                display: flex;
                flex-direction: row;

                border-radius: 12px;

                .card__inner--img {
                    width: 160px;
                    min-height: 160px;
                    height: 100%;

                    padding-top: 0;
                }

                .card__inner--content {
                    flex: 1;
                }
            }

            &.city-guide-cta {
                .card__inner {
                    padding: 40px 20px;
                    flex-direction: column !important;
                    
                    h2 {
                        font-size: 54px;
                    }
                }
            }
        }
    }
}

.destinations {
    &__list {
        // Move destination list up so it is in the yellow header
        position: relative;
        top: -25px;
        margin: 0;
        padding: 0;

        list-style: none;

        columns: 2;

        @include mq($min-width: $mdBreak) {
            columns: 4;
        }

        li {
            // padding: 0 10px;
            margin-bottom: 15px;

            text-align: center;

            // Transforms don't work with columns, so unset.
            .btn {
                transform: translate(0, 0) !important;

                &:hover {
                    transform: translate(0, 0) !important;
                }
            }
        }
    }
}

.map__panel {
    &:focus {
        outline: none;
    }
}

.gm-style-iw-d {
    overflow: initial !important;
}

.gm-style,
.gm-style-iw-c {
    padding-bottom: 10px;
    overflow: initial;
}

.gm-style-iw-c {
    overflow-y: auto !important;
}

.gm-style-iw.gm-style-iw-c {
    padding: 0 !important;
    width: 280px !important;
    max-width: 280px !important;
}

/* 
.gm-style,
.gm-style-iw-c {
    padding: 0 !important;
}

.gm-style-iw-d {
    // maxWidth is set via JS
    width: 300px;
    position: relative;
}/* */

body.page-template-template-map {
    touch-action: pan-y;
}
.map {
    &--archive {
        height: 630px;

        @include mq($min-width: $mdBreak) {
            height: 700px;
        }
    }
}

.map {
    &__nav {
        padding: 1rem 1rem 0 1rem;
        margin: 0;

        background: $white;
        // outline: 1px solid red;

        @include mq($min-width: $mdBreak) {
            padding: 4rem 0 0 0 0;
            background: transparent;
        }

        @include mq($min-width: $lgBreak) {
            padding: 5rem 0 0 0 0;
        }
    }
    &__wrapper {
        // position: relative;
        // top: -35px;

        background: $bgColor;
    }

    &__footer {
        padding: 10px 10px 5px 10px;
        text-align: center;

        @include mq($min-width: $mdBreak) {
            padding: 10px 0 25px 0;
        }

        .btn--text {
            &::before {
                display: none;
            }
        }
    }

    &__loading-icon {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;

        background: rgba(0, 0, 0, 0.2);
        // top: 50%;
        // left: 50%;
        z-index: 1000;

        // transform: translate(-50%, -50%);

        img {
            display: block;

            width: 180px;

            margin: 0 auto;
        }

        span {
            display: block;
            position: relative;
            top: -50px;

            text-transform: uppercase;
            color: $red;
            font-weight: 500;
            letter-spacing: 0.55px;
        }

        &.hidden {
            display: none;
        }
    }

    &__panel {
        position: relative;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);

        width: 295px;


        a {
            &:focus {
                outline: none;
            }
        }

        img {
            max-width: 100%;
        }

        &--img {
            min-height: 150px;
        }

        &--btn {
            position: absolute;
            top: -56px;
            right: 20px;

            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            text-align: center;

            width: 46px;
            height: 46px;

            background: $white;

            border-radius: 40px;

            svg {
                margin: 0 auto;

                transition: all 250ms ease;
            }

            &:hover,
            &.active {
                svg {
                    fill: $red;

                    path {
                        stroke: $red;
                    }
                }
            }
        }

        &--content {
            position: relative;
            padding: 15px 15px 5px 15px;
        }

        &--location {
            margin: 0 0 2px 0;
            font-size: 14px;
            font-weight: 900;
            text-transform: uppercase;
            color: $red;
        }

        &--headline {
            margin: 0 0 7px 0;
            font-size: 18px;
            font-weight: 400;
            color: $black;
        }

        p {
            margin: 0;
            font-size: 13px;
        }

        &--link-out {
            @extend %underline-link;
            font-family: $secondaryFont;
            font-size: 12px;
        }
    }
}

.map-filter {
    @include mq($min-width: $lgBreak) {
        display: flex;
    }
}

.map-filter-label {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;

    @include mq($min-width: $lgBreak) {
        margin: 0 1rem 0 0;
        padding-top: 2px;
    }
}

.map-nav-btn {
    user-select: none;

    display: inline-block;
    margin-right: 0.5rem;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .map-btn {
        display: flex;
        border: 2px solid $awa_pink;

        border-radius: 10rem;
        margin-bottom: 0.5rem;
        padding: 0.3rem 1rem 0.3rem 0.75rem;
        cursor: pointer;

        &.awa-guide {
            transform: translateY(-2px);

            .icon img {
                transform: scale(1.4);
            }
        }

        .icon {
            width: 12px;
            height: 19px; // size of icon

            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0.5rem;

            font-weight: 900;
            text-transform: uppercase;

            font-size: 0.625rem;
            line-height: 0.625rem; // 10px
        }
    }

    &:hover input ~ .map-btn {
        // background-color: rgba(250, 208, 195, 0.6);
    }

    input:checked ~ .map-btn {
        background-color: $awa_pink;
    }

    &.places {

    }
}

#tempOutput {
    position: fixed;
top: 5rem;
left: 2rem;

padding: 1rem;

background: $white;
}


.gm-style-iw-d {
    width: 280px;
}

.city-archive {
    &__cta {
        @include mq($min-width: $mdBreak) {
            margin: 30px auto 20px auto;
        }

        @include mq($min-width: $lgBreak) {
            margin: 70px auto 60px auto;
        }
    }
}

// blog 
.loading-box {
    display: none;

    padding: 60px 20px 40px 20px;

    img {
        display: block;
        width: 100%;
        max-width: 150px;
        margin: 0 auto;
    }

    &.visible {
        display: block;
    }
}



// City Guides
.guide-person {
    display: inline-block;

    &__inner {
        &--right {
            margin-top: 10px;
        }
    }

    /* &__inner {
        display: flex;

        &--right {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }*/
}

.guide-person-profile-pic {
    border-radius: 100px;
    overflow: hidden;
    display: block;

    width: 80px;
    height: 80px;
    margin:0 auto;

    img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100% !important;
        max-height: 100% !important;
    }
}

.guide-person-name {
    margin: 0;
    font-size: 14px;
    font-family: $secondaryFont;
    font-weight: 400;

    transition: color 250ms ease;

    &:hover {
        color: red;
    }
}

.guide.card__container {
    display: none;

    &.active {
        display: flex;
    }
}