
.card__container {
    display: flex;
    flex-wrap: wrap;
   
    @include mq($min-width: $mdBreak) {
        padding-bottom: 0;

        &.small {
            padding-bottom: 20px;
        }
    }
}

.card__container--alt {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;

    @include mq($min-width: $mdBreak) {
        padding-bottom: 80px;
    }
}

.card {
    position: relative;

    display: flex;

    width: 100%;

    padding: 10px;
    // margin-bottom: 10px;

    

    &.blog {
        h2 {
            font-weight: 900;
            
        }
        
        .card__inner {
            height: 100%;
        }
    }

    &.city-guide-cta {
        min-height: 450px;

        .card__inner {
            position: relative;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;

            padding: 40px 20px 80px 20px;

            text-align: center;

            background-position: center center;
            background-size: cover;

            &::before {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background: #000000;

                opacity: 0.3;

                content: '';
            }

            &:hover {
                transform: translate(0, 0) !important;
                box-shadow: none !important;
            }

            h2,
            h3 {
                position: relative;
                z-index: 20;
                margin: 0;
                color: $white;
                text-transform: uppercase;
            }

            h3 {
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 14px;
                
            }

            h2 {
                margin-bottom: 40px;
                font-size: 28px;
                line-height: 31px;
            }

            .btn {
                max-width: 200px;
                margin: 0 auto;
            }
        }
        &.archive {
            @include mq($min-width: $smBreak) {
                width: 100%;
                min-height: 280px;
            }

            @include mq($min-width: $mdBreak) {
                width: calc(100% / 3);
                min-height: 500px;
            }

            @include mq($min-width: $lgBreak) {
                width: calc(100% / 4);
            }
        }
    }

    &.newsletter {
        @include mq($min-width: $smBreak) {
            width: 100%;
        }

        @include mq($min-width: $mdBreak) {
            width: 66%;
        }

        @include mq($min-width: $lgBreak) {
            width: calc(100% / 4);
        }

        .card__inner {
            padding: 60px 20px;

            background-position: center;
            background-size: cover;

            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mq($min-width: $smBreak) {
                padding: 60px 20px;
            }


        }

        .icon {
            display: block;
            width: 80px;
            height: auto;
            margin: 0 auto;

            text-align: center;
        }

        h3,
        h4 {
            text-align: center;
        }

        h3 {
            font-size: 28px;
            line-height: 32px;
        }

        .subscribe-form__message {
            text-align: center;
        }

        .form-wrapper {
            position: relative;
            padding: 5px 10px 2px 20px;
            margin-bottom: 10px;
            background: $white;
            border-radius: 50px;

            input {
                border-bottom: none;
                font-size: 16px;

                @include mq($min-width: $mdBreak) {
                    font-size: 14px;
                }
            }

            .submit-btn {
                appearance: none;
                background: transparent;
       
                border: none;
                // border: 1px solid red;

                position: absolute;
                top: 6px;
                right: 10px;
                
                display: block;

                height: 40px;

                width: 40px;
            }
        }

        .subscribe-form.success {
            .form-wrapper {
                display: none;
            }


        }
    }

    @include mq($min-width: $smBreak) {
        width: 50%;
    }

    @include mq($min-width: $mdBreak) {
        width: calc(100% / 3);
        padding: 10px 12px;
        margin-bottom: 20px;
    }

    @include mq($min-width: $lgBreak) {
        width: calc(100% / 4);
        padding: 10px 12px;
        margin-bottom: 20px;
    }

    &__favorite-btn {
        position: absolute;
        z-index: 100;

        bottom: 0.5rem;
        right: 0.5rem;

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;

        width: 46px;
        height: 46px;

        background: $white;

        border-radius: 40px;

        transform: scale(0.8);

        svg {
            margin: 0 auto;

            transition: all 250ms ease;
        }

        &.active {
            svg {
                fill: $red;

                path {
                    stroke: $red;
                }
            }
        }

        @media only screen and (min-width: 768px) {
            &:hover {
                svg {
                    fill: $red;
    
                    path {
                        stroke: $red;
                    }
                }
            }
        }
    }

    &__inner {
        position: relative;
        background: $white;
        border-radius: 12px;
        overflow: hidden;

        width: 100%;

        transition: transform 250ms ease, box-shadow 250ms ease;

        &:hover {
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
            transform: translate(-1px, -1px);
        }

        &.box-shadow {
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
        }

        &--sponsored {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            padding: 5px;

            background: rgba(250, 0, 0, 0.2);

            padding: 10px 15px;

            text-align: center;

            background: $pink;

            border-radius: 0;


            display: flex;
            justify-content: center;
            

            @include mq($min-width: $mdBreak) {
                padding: 8px 15px 8px 15px;
            }

            span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                width: 110px;

                font-family: $primaryFont;
                font-size: 10px;
                letter-spacing: 1px;
                color: $maroon;
                text-transform: uppercase;
                text-align: left;
                font-weight: 700;
                line-height: 12px;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                
                height: 25px;
                min-width: 20px;
                // width: 100%;
                max-width: calc(100% - 90px);
                // width: 100%;
            }

            img {
                line-height: 25px;
                max-height: 100%;
                max-width: 100%;

                display: inline-block;
                height: auto;
                opacity: 1 !important;
            }
        }

        &--img {
            position: relative;
            display: block;
            
            height: 0;
            padding-top: 100%;

            overflow: hidden;

            img {
                
                position: absolute;
                top: 50%;
                left: 50%;
                
                transform: translate(-50%, -50%);

                display: block;

                min-height: 100%;
                min-width: 100%;
                max-width: inherit;
                max-height: 100%;

                width: auto;
                height: auto;
                

                &.sponsor-size {
                    position: static;
                    transform: none;

                    line-height: 25px;

                    max-height: 100% !important;
                    max-width: 100% !important;
                    
                    display: block;
                    height: auto;
                    
                    opacity: 1!important;   

                    min-height: initial !important;
                    min-width: initial !important;

                    /*min-height: initial !important;
                    min-width: initial !important;

                    width: auto;
                    height: auto;
                    
                    line-height: 25px;
                    max-height: 100% !important;
                    max-width: 100% !important;

                    display: inline-block !important;
                    // height: auto !important;
                    opacity: 1!important;
                    */

                    //height: 25px;
                    //  width: auto !important;
                    // size: outline: 1px solid red;


                }
            }

            &.play-btn {
                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    transform: translate(-50%, -50%);

                    width: 30%;
                    max-width: 100px;
                    height: auto;

                    aspect-ratio: 1;

                    background-image: url('../images/icon-play.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;

                    content: '';
                }
            }

        }

        &--icon {
            position: absolute;
            top: initial !important;
            bottom: 13px !important;
            left: 10px !important;

            z-index: 10;
            opacity: 1 !important;

            width: 35px !important;
            height: auto  !important;

            min-height: initial !important;
            min-width: initial !important;

            transform: translate(0, 0) !important;

            @include mq($min-width: $mdBreak) {
                bottom: 13px !important;
                left: 15px !important;

                

                width: 40px !important;
            }
        }

        &--badge {
            position: absolute;
            top: 10px !important;
            left: 10px !important;

            z-index: 10;
            opacity: 1 !important;

            height: 30px !important;
                /* NEW */


            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #F8F3E4;
            text-transform: uppercase;

            transform: translate(0, 0) !important;

            background: $awa_red;
            border-radius: 5px;

            padding: 5px 15px;

            @include mq($min-width: $mdBreak) {
                top: 15px !important;
                left: 15px !important;
            }
        }

        &--content {
            width: 100%;

            padding: 20px 15px 40px 15px;

            background: $white;

            &.sponsored {
                padding-bottom: 65px;
            }

            h4 {
                margin: 0 0 5px 0;

                font-family: $primaryFont;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: $red;

                text-transform: uppercase;

                @include mq($min-width: $mdBreak) {
                    margin: 0 0 3px 0;
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            h2 {
                margin: 0;
                font-family: $primaryFont;
                font-size: 16px;
                line-height: 18px;
                font-weight: 400;
                color: $black;

                @include mq($min-width: $mdBreak) {
                    font-size: 18px;
                    line-height: 20px;
                }
            }

            p {
                margin: 10px 0 0 0;

                font-family: $primaryFont;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: 0.02px;
                color: $primaryGrey;

                @include mq($min-width: $mdBreak) {
                    margin: 15px 0 0 0;
                }
            }

            .category {
                position: absolute;
                bottom: 10px;
                left: 15px;
                color: $red;
                font-weight: 900;
                font-size: 10px;
                letter-spacing: 0.8px;
                text-transform: uppercase;

                a {
                    @extend %underline-link--red;
                }
            }

            span {
                position: relative;
                // bottom: 25px;

                padding-left: 15px;
                margin-top: 25px;

                font-family: $secondaryFont;
                font-size: 8px;
                letter-spacing: 0.82px;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;

                    display: block;

                    width: 9px;
                    height: 9px;

                    border: 1px solid #EE3760;
                    border-radius: 10px;

                    content: '';
                }

                &::after {
                    position: absolute;
                    top: 2px;
                    left: 2px;

                    display: block;

                    width: 5px;
                    height: 5px;

                    border: 1px solid #FFD24C;
                    border-radius: 10px;

                    content: '';
                }
            }
        }
    }

    &__container-load {
        text-align: center;

        padding: 30px 0;

        &--right {
            margin-top: 10px;
        }

        &--left {
            &.center {
                text-align: center;
            }
        }

        @include mq($min-width: $mdBreak) {
            display: flex;
            flex-direction: row-reverse;
            padding: 40px 0;

            &--left,
            &--right {
                flex: 1;
                padding: 0 10px;
            }

            &--left {
                text-align: left;
            }

            &--right {
                margin-top: 0;
                text-align: right;
            }
        }
    }

    &__popup {
        position: absolute;
        z-index: 99;

        bottom: -100%;
        right: 10px;

        padding: 18px 20px;

        width: calc(100% - 20px);
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;

        overflow: hidden;

        opacity: 1;

        transition: bottom 250ms ease;

        &.visible {
            bottom: 10px;

            opacity: 1;

            transition: bottom 250ms ease;
        }

        p {
            display: block;
            width: 100%;
            position: relative;

            margin: 0;
            padding-left: 30px;

            color: $black;

            span {
                @include mq($min-width: $smBreak) {
                    display: none;
                }

                @include mq($min-width: 1100px) {
                    display: inline;
                }
            }


        }

        img, svg {
            position:absolute;
            left: 0;
            top: 0;
            opacity: 1;
            padding-right: 5px;
        }
    }

    // card sponsor badge
    &__sponsor {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        
        padding: 8px 15px 2px 15px;

        background: $awa_pink;

        text-align: center;

        height: initial !important;

       /* display: flex;
        justify-content: center;
        */
        span {
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100px;
            margin: 0 auto 2px auto;

            font-size: 10px;
            letter-spacing: 1px;
            color: #63252a;
            text-transform: uppercase;
            text-align: left;
            font-weight: 700;
            line-height: 12px;
        }

        img {
            height: 25px;

            width: auto;
            max-width: 100%;

            margin: 0 auto;
        }
    }
    
}

.card__container.small {
    .card {
        @include mq($min-width: $lgBreak) {
            width: calc(100% / 3);
            padding: 10px 12px;
            margin-bottom: 20px;
        }
    }
}

.card--alt {
    position: relative;

    display: flex;

    width: 50%;

    @include mq($min-width: $mdBreak) {
        width: calc(100% / 3);
    }

    &__inner {
        display: block;
        width: 100%;
        background: $white;

        transition: all 250ms ease;

        &:hover {
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
            // transform: translate(-1px, -1px);
        }

        &--img {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            img {
                display: block;
                opacity: 0;
            }
        }
    }
}

.popup-click {
    cursor: pointer;
}

.guide-card {
    position: relative;

    display: flex;

    width: 100%;

    padding: 15px 10px;

    @include mq($min-width: $mdBreak) {
        padding: 20px 10px;
    }

    .marker-item {
        display: none;
    }

    &__inner {
        position: relative;
        background: $white;
        border-radius: 12px;
        overflow: hidden;

        width: 100%;


        &--img {
            display: block;

            // height: 100%;

            padding-top: 64.5%;
            height: 0;

            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            img {
                display: none;
                opacity: 0;
            }
        }

        &.small {
            @include mq($min-width: $mdBreak) {
                .guide-card__inner--img {
                    min-width: 200px;
                }
            }

            @include mq($min-width: 1300px) {
                display: flex;
                // flex-direction: row;

                .guide-card__inner--img {
                    height: 100%;
                    width: 100%;
                    max-width: 250px;
                }

                .guide-card__content--header {
                    display: block;

                    .coords-container {
                        text-align: left;
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    &__content {
        padding: 20px 10px;

        @include mq($min-width: $mdBreak) {
            padding: 20px 20px;
        }

        &--header {
            

            margin-bottom: 0;

            @include mq($min-width: $lgBreak) {

                display: flex;
                justify-content: space-between;

                .coords-container {
                    text-align: right;
                }
            }
        }

        // City & Lat/Lng
        h5 {
            position: relative;
            z-index: 2;

            display: inline-block;
            margin: 0;

            font-family: $secondaryFont;
            font-size: 12px;
            font-weight: 400;

            // flex: 1;

            &.coords {
                display: inline;
                text-align: right;
                flex: 1;
                span {
                    padding: 0 2px;
                    position: relative;
                    z-index: 10;
                }

                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;

                    width: 100%;

                    height: 8px;

                    background: $pink;

                    content: '';
                }
            }

            @include mq($min-width: $mdBreak) {
                font-size: 16px;

                &.coords {
                    &::before {
                        height: 10px;
                    }
                }
            }
        }

        // Location Name
        h4 {
            margin: 0 0 5px 0;
            font-size: 14px;
            font-weight: 700;

            color: $red;

            text-transform: uppercase;

            a {
                @extend %underline-link--red;
                transition: none !important;
                color: $red;
            }
        }


        // Headline
        h2 {
            margin: 0 0 10px 0;

            font-size: 24px;
            font-weight: 900;
            line-height: 28px;
        }
    }

    &__address {
        position: relative;
        margin: 30px 0 0 0;
        padding-left: 20px;

        font-family: $secondaryFont;
        font-weight: 400;

        font-size: 12px;
        font-weight: 400;

        @include mq($min-width: $mdBreak) {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.5px;
        }

        &::before {
            position: absolute;
            top:-4px;
            left:0;

            width: 20px;
            height:20px;

            background-image: url('../images/icon-pin.svg');
            background-repeat:no-repeat;

            content: '';
        }
    }
}

.section-non-card {
    // padding: 0 20px;
    padding: 0 10px;
    margin: 40px auto;
}
.mod-card-grid {

    
    display: grid;
    // grid-template-columns: 1fr;
    // gap: 20px;
    
    margin: 0 auto;

    margin-top: 0.5rem;

    .card {
        width: 100%;
        border-radius: 10px;

        &__inner {
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);

            &:hover {
                transform: translate(0, 0) !important;
                // box-shadow: none !important;
            }
        }

        .card__inner--content {
            padding-bottom: 20px;
        }

        .btn--text {
            font-size: 12px;

            &::before {
                top: 2px;
            }
        }
    }

    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        height: inherit !important;

        > div {
            height: 100%;

            .card {
                display: flex !important;
                flex-direction: column;
                position: relative;
                min-height: 100% !important;
            }

            .card__inner {
                height: 100%;
                flex-grow: 1;
                flex: 1;

                .card__inner--content {
                    padding-bottom: 20px;

                    @include mq($min-width: $mdBreak) {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    

    @include mq($min-width: 600px) {
        // grid-template-columns: 1fr 1fr;
    }

    @include mq($min-width: 1000px) {
        // grid-template-columns: 1fr 1fr 1fr;
    }
}

