.collections {
    &__toggle-wrapper {
        padding: 0 10px;
    }

    &__toggle {
        display: flex;
        max-width: 420px;


        margin: 0 auto 20px auto;

        border: 1px solid $red;
        border-radius: 100px;

        @include mq($min-width: $mdBreak) {
            margin-bottom: 60px;
        }

        &--item {
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;

            flex: 1;

            padding: 10px 20px;

            font-family: $primaryFont;
            font-size: 14px;
            line-height: 14px;
            font-weight: 900;
            color: $red;
            text-transform: uppercase;
            letter-spacing: 0.5px;

            text-align: center;

            // border: 1px solid $red;
            border-radius: 100px;


            &::before {
                position: absolute;
                top: 0;
                left: 0;

                display: block;

                width: 100%;
                height: 100%;

                border: 3px solid $red;
                border-radius: 100px;

                opacity: 0;

                content: '';

                transition: opacity 250ms ease;
            }

            &.active {
                &::before {
                    opacity: 1;
                }
                // border: 4px solid $yellow;
            }

            @include mq($min-width: $mdBreak) {
                padding: 20px 10px;
            }
        }
    }

    &__container {
        display: none;
        flex-wrap: wrap;

        &.active {
            display: flex;
        }
    }
}

.collection {
    &__item {
        position: relative;
        display: block;
        width: 100%;

        padding: 10px;

        @include mq($min-width: $smBreak) {
            width: 50%;
        }

        @include mq($min-width: $breakMd) {
            width: calc(100% / 3);
        }

        @include mq($min-width: $breakLg) {
            width: calc(100% / 4);
        }


        &--inner {
            position: relative;
            z-index: 6;

            color: $white;

            display: block;

            background: $footerBG;
            overflow: hidden;
            
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 0;
            padding-top: 100%;


            border-radius: 12px;
            overflow: hidden;

            transition: transform 250ms ease;

            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 10;

                display: block;

                width: 100%;
                height: 100%;
                // opacity: 0.5;
                background-image: linear-gradient(180deg, rgba(84,108,136, 0) 0%, rgba(84,108,136,0.22) 55%, rgba(0,0,0,0.7) 100%);
                content: '';

                transition: all 250ms ease;
            }
            
            img.main-img {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 0;

                min-width: 100%;
                min-height: 100%;

                width: auto;
                height: auto;
                max-width: inherit;
                max-height: 100%;

                transform: translate(-50%, -50%);
                display: block;
            }

            &:hover {
                transform: scale(0.99);

                &::before {
                  
                    height: 200%;

                }

                .collection__item--content {
                    bottom: 20px;
                }
            }
        }

        &--content {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;

            width: 100%;

            padding-bottom: 40px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            
            min-height: 120px;

            border-radius: 12px;

            transition: bottom 250ms ease;

            h4 {
                margin: 0;
                padding: 0 10px;

                font-family: $primaryFont;
                
                font-size: 1.5rem;
                line-height: 1.75rem;

                font-weight: 900;

                text-transform: uppercase;
                letter-spacing: 0;

                text-align: center;

                @include mq($min-width: $breakLg) {
                    font-size: 2.25rem;
                    line-height: 2.5rem;
                }
            }
        }

        &--sponsored {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
           
            z-index: 1000;
            display: flex;
            justify-content: center;
            
            padding: 10px 15px;

            text-align: center;

            background: $pink;

            border-radius: 12px;

            @include mq($min-width: $mdBreak) {
                padding: 8px 15px 8px 15px;
            }

            span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                width: 110px;

                font-family: $primaryFont;
                font-size: 10px;
                letter-spacing: 1px;
                color: $maroon;
                text-transform: uppercase;
                text-align: left;
                font-weight: 700;
                line-height: 12px;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                
                height: 25px;
                min-width: 20px;
                // width: 100%;
                max-width: calc(100% - 90px);
            }

			a {
				display: inline;
			}

            img {
                line-height: 25px;
                max-height: 100%;
                max-width: 100%;

                display: inline-block;
                height: auto;
                opacity: 1;
            }
        }
    }
}

h2.collection__title{
    padding: 0 10px;
	margin-top: 15px;
	line-height: normal;
	text-transform: uppercase;

    @include mq($min-width: $lgBreak) {
        padding: 0 12px;
    }
}

// Offset button to align with grid
.js-collection-delete-popup-btn {
    margin-left: 10px;

    @include mq($min-width: $lgBreak) {
        margin-left: 12px;
    }
}

.breadcrumb-wrapper {
	background: #fff;

	&.pinned {
		position: fixed;
		z-index: 1000;
		top: 78px;
		left: -10px;

		width: calc(100% + 20px);

		padding-left: 24px;
		padding-right: 24px;

		@include mq($min-width: $mdBreak) {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
}

.breadcrumb {
	position: relative;
	z-index: 1000;

	padding: 15px 0 7px 0;

	/* position: sticky;
	top: 86px;
*/
	&.pinned {
		position: sticky;
		top: 200px;
		/* left: 0;
		top: 86px;
		padding-left: 24px;
		width: 100%;*/

		z-index: 20000;
	}

	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -0.5rem;
		z-index: -1;

		width: 100vw;
		height: calc(100% + 1rem);

		// background: #fff;

		content: '';
	}
    a {
        @extend %underline-link--maroon !optional;
    }

    a,
    span {
        font-family: $primaryFont;
        font-weight: 600;

        font-size: 14px;

        color: $maroon;
        text-transform: uppercase;

        @include mq($min-width: $mdBreak) {
            font-size: 18px;
        }
    }

    .caret {
        display: inline-block;
        
        width: 10px;
        height: 10px;

        margin: 0 8px 0 10px;

        background-image: url('../images/arrow-breadcrumb.svg');
        background-repeat: no-repeat;
        background-size: 10px 10px;
        background-position: center center;

        @include mq($min-width: $mdBreak) {
            width: 10px;
            height: 12px;

            margin: 0 10px 0 12px;

            background-size: 12px 12px;
        }
    }
}

// Reverse Engineering.
.create-collection{
	&-list-btn,
	&-popup-btn {
		position: relative;
		display: block;
		width: 26px;
		height: 26px;
		border: 2px solid #ee3024;
		border-radius: 15px;
		cursor: pointer!important;
		transition: all .25s ease;
		background-color: #FFF;
	}
		
	&-list-btn:after,
	&-list-btn:before,
	&-popup-btn:after,
	&-popup-btn:before {
		position: absolute;
		top: 50%;
		left: 50%;
		background: #ee3024;
		border-radius: 2px;
		transform: translate(-50%, -50%);
		content: "";
		transition: background .25s ease
	}

	&-list-btn:before,
	&-popup-btn:before {
		width: 10px;
		height: 2px
	}

	&-list-btn:after,
	&-popup-btn:after {
		width: 2px;
		height: 10px
	}

	&-list-btn:hover,
	&-popup-btn:hover {
		background: #ee3024
	}

	&-list-btn:hover:after,
	&-list-btn:hover:before,
	&-popup-btn:hover:after,
	&-popup-btn:hover:before {
		background: #fff
	}
		
	&-list-btn:before {
		width: 10px;
		height: 2px;
		transform: translate(-50%, -50%) rotate(-46deg);
		margin-top: 1px;
		margin-left: 2px
	}

	&-list-btn:after {
		width: 5px;
		height: 2px;
		transform: translate(-50%, -50%) rotate(-135deg);
		margin-top: 2px;
		margin-left: -3px
	}
}

.create-collection-popup-btn.inactive,
.inactive.create-collection-list-btn {
	opacity: .5;
	pointer-events: none
}


.collection-popup {
	position: relative;
	max-width: 380px;
	margin: 0 auto;
	padding: 15px 5px 0;
	background: #fff;
	box-shadow: 0 -6px 34px 0 rgba(0, 0, 0, .25);
	border-radius: 12px;

	&__buttons {
		padding: 4px 0 10px 0;
		margin-left: 5px;
		/* 
		position: absolute;
		top: 15px;
		right: 15px;
		width: 26px;
		height: 26px
		*/

		button {
			appearance: none;
			border: none;
			background: transparent;
			font-size: 14px;

			&::before,
			&::after {
				display: none;
			}
		}
	}

	& .mfp-close {
		// display: none;
		top: 6px;
	}

	&__headline {
		margin: 0 0 20px 10px;
		font-size: 24px;
		line-height: 24px;
		font-weight: 900
	}

	&__subline{
		font-size: 14px;
		padding: 10px;
		margin-top: -15px;

		padding: 0;
		margin-left: 10px;

		button,
		a{
			color: #ff0000;
			padding: 3px 13px;
			border-radius: 11px;
			margin: 5px 7px 0 0;
			display: inline-block;
			border: 1px solid #ff0000;
			background-color: #FFF;

			&:hover{
				cursor: pointer;
				color: #ff0000;
				border-color: #ff0000;
			}
		}
	}

	&__content {
		overflow-y: auto;
		min-height: 200px;
		max-height: 300px;
	}
		
	&-item {
		position: relative;
		display: flex;
		padding: 7px 25px 7px 7px;
		margin-right: 15px;
		margin-bottom: 10px;
		border-radius: 20px;
		transition: background .25s ease;

		&-item:not(.static) {
			cursor: pointer;
		}

		&:before {
			position: absolute;
			top: 50%;
			right: 5px;
			width: 20px;
			height: 20px;
			margin-top: -13px;
			background: url(../images/icon-checkmark-outline.svg);
			background-size: contain;
			content: "";
			opacity: 0;
			transition: opacity .25s ease
		}

		&__active{
			background: #f8f3e4;

			&::before{
				opacity: 1
			}
		}

		&__hover_note{
			bottom: 0;
			left: 20px;
			color: #999;
			font-size: 12px;
			position: absolute;
			opacity: 0;
		}

		&:hover {
			background: #f8f3e4;

			&:before {
				opacity: 1
			}

			& .collection-popup-item__hover_note{
				opacity: 1;
			}
		}

		&.static {
			padding: 7px;
			background: transparent!important;

			&:before {
				display: none
			}
		}

		&__image {
			position: relative;
			width: 70px!important;
			height: 70px!important;
			border-radius: 12px;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: cover
		}

		&__content {
			width: calc(100% - 70px);
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
		}

		&__title {
			margin: 0 0 3px;
			font-weight: 400;
			font-size: 18px;
			line-height: 18px;
			transition: color .25s ease
		}

		&__count {
			margin: 0 0 5px;
			font-family: GT Pressura, sans-serif;
			font-size: 13px;
			letter-spacing: .5px
		}

		&__input {
			margin: 0 0 3px;
			padding: 0;
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			outline: none !important;
			border: none !important;
			box-shadow: none !important;
			color: #231f20;
			font-family: freight-sans-pro, sans-serif;

			&:focus {
				outline: none !important;
				border: none !important;
				box-shadow: none !important;
			}
		}
	}
}

.collection-zero-state {
	padding: 20px 20px 40px;
	text-align: center;

	.btn--outline {
		padding: 7px 30px!important;
		font-size: 10px!important
	}
}

.profile__collection-list {
	padding: 0 5px;
		
	@media only screen and (min-width:767px) {
		& {
			display: flex;
			flex-wrap: wrap;
			padding: 10px 0
		}
	}

	@media only screen and (min-width:767px) {
		& .collection-popup-item {
			display: block;
			width: 50%;
			padding: 0 12px;
			margin-right: 0;
			margin-bottom: 40px;

			.collection-popup-item{
				&__image {
					height: 0!important;
					width: 100%!important;
					padding-top: 100%;
					transform: translate(0);
					transition: transform .25s ease
				}

				&__content {
					padding: 10px 0 0
				}
			}
		}
	}

	@media only screen and (min-width:1000px) {
		& .collection-popup-item {
			display: block;
			width: 33.33333%;

			:hover .collection-popup-item__image {
				box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, .2);
				transform: translate(-1px, -1px)
			}
		}
	}
}


