.blog-archive { 
    &__categories {
        margin-bottom: 5px;

        @include mq($min-width: $mdBreak) {
            margin-top: 20px;
        }

        a { 
            @extend %underline-link--red !optional; 
            margin-bottom: 5px;
            display: inline-block;
            font-family: $primaryFont;
            margin-right: 10px;
            text-transform: uppercase;
            letter-spacing: 0.9px;
            font-size: 18px;

            &::after {
                color: $red;
            }

            &.active {
                font-weight: 700;
            }

            @include mq($min-width: $mdBreak) {
                margin-right: 30px;
            }
        }
    }
}

.blog {
    &__header {
        text-align: center;
        padding: 20px;

        @include mq($min-width: $mdBreak) {
            padding: 20px 40px 50px 40px;
        }

        @include mq($min-width: $lgBreak) {
            padding-top: 0;
        }

        &--inner {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            min-height: 400px;

            padding: 40px 15px;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            border-radius: 12px;
            overflow: hidden;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                display: block;

                background: rgba(0,0,0,0.30);

                content: '';
            }

            @include mq($min-width: $mdBreak) {
                min-height: 550px;

                padding: 100px 50px;
            }

            @include mq($min-width: $lgBreak) {
                padding: 180px 140px;
            }
        }

        h1 {
            position: relative;
            z-index: 10;

            margin: 0;

            color: $white;

            font-size: 24px;
            font-weight: 900;
            line-height: 28px;
            text-transform: uppercase;

            @include mq($min-width: $mdBreak) {
                font-size: 74px;
                line-height: 70px;
            }
        }

        h4 {
            position: relative;
            z-index: 10;

            margin: 0 0 5px 0;

            color: $white;
            font-weight: 900;
            text-transform: uppercase;

            @include mq($min-width: $mdBreak) {
                font-size: 36px;
                line-height: 39px;
            }
        }

        p {
            position: relative;
            z-index: 10;
            color: $white;

            max-width: 950px;
            margin: 20px auto 0 auto;

            a {
                color: $white;
                text-decoration: underline;
            }

            @include mq($min-width: $mdBreak) {
                margin-top: 40px;

                font-size: 24px;
                line-height: 28px;
            }
        }
    }

    &__content {
        background: $bgColor;

        @include mq($min-width: $mdBreak) {
            padding-bottom: 80px;
        }
    }

    &__meta {
        max-width: 750px;
        margin: 0 auto;

        padding: 0 20px;

        @include mq($min-width: $mdBreak) {
            padding: 0;
        }

        p {
            font-size: 18px;
            line-height: 25px;
        }
    }

    &__map {
        max-width: 750px;
        margin: 0 auto;
    }

    &__footer {
        display: flex;

        max-width: 750px;

        margin: 10px 20px 40px 20px;
        padding-bottom: 10px;

        font-family: $secondaryFont;
        font-size: 14px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: $black;


        border-bottom: 1px solid $red;

        @include mq($min-width: $mdBreak) {
            margin: 20px auto 0 auto;
        }

        a {
            &:hover {
                color: $red;
            }
        }

        &--tags {
            position: relative;
            flex: 1;
            padding-left: 25px;
        }
        
        &--tag {
            position: absolute;
            top: 1px;
            left: 0;
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-right: 10px;


            background-image: url('../images/icon-tag.svg'); 
            background-position:  center center;
            background-size: contain;
        }

        &--social {
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 120px;
            text-align: right;
            
            p {
                margin: 0;
            }
        }
    }
}

.blog-feature {
    &__left {

    }
    &__right {
        text-align: left;

        h4 {
            margin: 0 0 5px 0;
            font-size: 16px;
            text-transform: uppercase;

            a {
                @extend %underline-link--red;
            }
        }

        h2 {
            margin: 0 0 15  px 0;

            font-size: 24px;
                line-height: 26px;

            @include mq($min-width: $mdBreak) {
                margin-bottom: 20px;
                font-size: 36px;
                line-height: 40px;
                text-transform: uppercase;
            }
        }
    }

    @include mq($min-width: $mdBreak) {
        display: flex;

        &__left {
            width: 60%;
        }

        &__right {
            width: 40%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 0 20px 40px;

            h4 {
                margin: 0 0 15px 0;
            }
        }
    }
}

// Related Blog Card Styles
.blog-related {
    padding-bottom: 80px;

    @include mq($min-width: $mdBreak) {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .place__subline {
        margin-top: 0;
    }
    .container {
        max-width: 1140px;
    }

    .container--grid {
        max-width: 1120px;
    }
    .card {
        @include mq($min-width: $smBreak) {
            &:nth-child(3) {
                display: none;
            }
        }

        @include mq($min-width: $mdBreak) {
            &:nth-child(3) {
                display: block;
            }
        }
        // Only 3 cards are displayed not 4
        @include mq($min-width: $lgBreak) {
            width: calc(100% / 3);
        }
    }
}

.archive {
    &__header {
        padding: 40px 20px;
        text-align: center;

        @include mq($min-width: $mdBreak) {
            padding: 100px 0;
        }
    }
}


$contentMaxWidth: 750px;
.content {
    &__wrapper {
        max-width: 1100px;
        margin: 0 auto;

        padding: 40px 0;

        @include mq($min-width: $mdBreak) {
            padding: 40px 35px;
        }

        &.standard-page,
        &.no-top-padding {
            padding-top: 0;
        }
    }

    &__meta {
        margin-bottom: 40px;

        text-align: center;

        &--date {
            margin: 0;
            font-weight: 900;
            color: $red;
            text-transform: uppercase;
            padding: 0 20px 10px 20px;
        }
    }

    &__product {
        max-width: $contentMaxWidth;
        margin: 40px auto;
        padding: 0 20px;

        @include mq($min-width: 768px) {
            padding: 0; 
        }
    }

    &__text {
        max-width: $contentMaxWidth;
        margin: 40px auto;
        padding: 0 20px;

        &.centered {
            text-align: center;
        }

        p {
            margin: 0 0 20px 0;
            color: $black;
            font-size: 18px;
            line-height: 25px;
        }

        h2,
        h3 {
            margin: 0 0 15px 0;
            color: $black;
        }

        h3 {
            margin: 0 0 5px 0;
        }

        @include mq($min-width: 768px) {
            padding: 0; 
        }

        &.intro {
            > p:first-of-type:first-letter { 
                // font-family: $sanserifFont;
                // font-family: $font-gotham-narrow;
                // font-weight: 400;
                float: left; 
                color: #000; 
                font-size: 53px; 
                line-height: 43px;  
                // font-weight: 700;
                padding-top: 0px; 
                padding-right: 0; 
                padding-left: 0;
                padding-bottom: 0;
                margin-top: -20px; 
                margin-left: -2px;

                
                font-weight: 900;

            }
        }
    }

    &__gallery {
        position: relative;
        max-width: $contentMaxWidth;
        margin: 40px auto;

        &.large {
            max-width: 100%;
        }

        /* span {
            padding: 0 20px;

            font-size: 12px;

            @include mq($min-width: $mdBreak) {
                padding: 0;
            }
        }*/

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 100%;
        }

        &--flex {

            .left {
                margin-bottom: 40px;
            }

            @include mq($min-width: $mdBreak) {
                display: flex;

                >div {
                    width: 50%;
                    flex: 1;

                    &.left {
                        padding-right: 10px;
                        margin-bottom: 0;
                    }

                    &.right {
                        padding-left: 10px;
                    }
                }
            }

            @include mq($min-width: $lgBreak) {
                >div {
                    &.left {
                        padding-right: 25px;
                        margin-bottom: 0;
                    }

                    &.right {
                        padding-left: 25px;
                    }
                }
            }
        }

        &--bottom {
            display: flex;
        }

        &--caption {
            p {
                margin: 10px 0 0 0;
                font-family: $secondaryFont !important;
                font-size: 14px;
                letter-spacing: 0.5px;
                color: $black;

                padding: 0 20px;

                @include mq($min-width: $mdBreak) {
                    padding: 0 40px;
                    //  font-size: 16px;
                    text-align: center;
                }
            }
        }

        &--count {
            margin-left: 20px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin: 0;
                font-family: $secondaryFont;
                color: #000000;
                font-size: 14px;
            }

            @include mq($min-width: $mdBreak) {
                margin-left: 0;
            }
        }

        &--arrows {
            margin-right: 20px;

            ul {
                display: flex;
                width: 30px;

                margin: 0;
                padding: 0;

                li {
                    display: block;
                    width: 15px;
                    height: 20px;

                    background-image: url('../images/arrow-nav.svg');
                    background-repeat: no-repeat;
                    background-position: center right;

                    &.arrow-prev {
                        transform: rotate(180deg);
                    }
                }
            }

            @include mq($min-width: $mdBreak) {
                margin-right: 0;
            }
        }
    }

    &__quote {
        p { 
            margin: 40px 0;
            font-family: $secondaryFont;
            font-size: 26px;
            line-height: 30px;
            text-align: center;
            color: $green;
            
            span {
                display: block;

                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
            }

            @include mq($min-width: $mdBreak) {
                font-size: 36px;
            line-height: 40px;
            }
        }
        
    }

    &__video {
        margin: 40px auto;
        max-width: 750px;

        &--wrapper {
            position: relative; 
            padding-bottom: 56.25%; 
            height: 0; 
            overflow: hidden;

            iframe {
                position: absolute; 
                top: 0; 
                left: 0; 
                width: 100%; 
                height: 100%;   
            }
        }

    }
}

.product-item {
    &__headline {
        font-size: 24px;
        margin: 0 0 10px 0;
    }

    p {
        margin: 0 0 10px 0;
    }

    @include mq($min-width: 600px) {
        display: flex;

        &__left {
            width: 30%;
        }

        &__right {
            width: 70%;
            padding-left: 20px;
        }

        &__headline {

            margin: 0 0 15px 0;
        }

        &.half {
            .product-item__left {
                width: 40%;
            }

            .product-item__right {
                width: 60%;
                padding-left: 20px;
            }
        }
    }

    @include mq($min-width: 1500px) {
        display: flex;

        &__left {
            width: 35%;
        }

        &__right {
            width: 65%;
            padding-left: 40px;
        }


        &.half {
            .product-item__left {
                width: 50%;
            }

            .product-item__right {
                width: 50%;
                padding-left: 40px;
            }
        }
    }
}

.mfp-content {
    max-height: 100%;
}

.mfp-vertical-video {
    max-width: 400px;

    margin: 0 auto;
    display: flex;

    iframe {
        max-height: calc(100vh - 80px);
    }

    .mfp-close {
        top: -50px;
        padding: 0;
    }
}

.mod {
    &__video {
        padding: 0;

        background: $bgColor;
        border-radius: 8px;

        // background: red;
        overflow: hidden;

        &.bg-white {
            background: $white;
        }

        h3 {
            margin: 0;
            font-size: 18px;
            font-weight: 900;
            line-height: 22px;
            color: $black;
        }

        h4 {
            margin: 0 0 2px 0;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: $red;
        }

        &--left,
        &--right {
            margin: 0;
        }

        &--left {
            margin-top: 0 !important;
        }

        &--right {
            // margin-top: 10px;
            padding: 10px;
        }

        &--btn {
            position: relative;

            display: block;
            // max-width: 140px;
            margin: 0 auto;

            background-size: cover;
            background-position: center center;

            height: 0;
            padding-top: 100%;

            // background: red;

            overflow: hidden;

            transform: translate(0, 0);
            transition: transform 250ms ease, box-shadow 250ms ease;

            .inner-bg {
                position: absolute;
                top: 50%;
                left: 50%;

                width: 100%;
                height: 100%;

                transform: translate(-50%, -50%);

                background-size: cover;
                background-position: center center;
                margin: 0 !important;
            }

            img {
                display: none;
                opacity: 0;
            }

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;

                display: block;

                width: 100%;
                height: 100%;

                background: rgba(0, 0, 0, 0.2);

                content: '';
            }

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 4;

                display: block;

                width: 50px;
                height: 48px;

                background-image: url('../images/icon-triangle-white.svg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;

                opacity: 1;

                content: '';

                transform: scale(1.0) translate(-50%, -50%);

                transition: transform 250ms ease;
            }

            &:hover {
                &::before {
                    transform: scale(1.05) translate(-50%, -50%);
                }
                // box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
            }
        }

        @include mq($min-width: 510px) {
            display: flex;

            padding: 0;

            &--left {
                margin-top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: 140px;
            }

            &--right {
                display: flex;
                flex-direction: column;
                justify-content: center;

                flex: 1;
                padding: 5px 20px;
                margin-top: 0;
            }

            &--btn {
                // max-height: 115px;
                border-radius: 8px;

                overflow: visible;

                .inner-bg {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    width: 140px;
                    height: 100%;

                    transform: translate(-50%, -50%);

                    background-size: cover;
                    background-position: center center;
                    margin: 0 !important;
                }
            }
        }

        @include mq($min-width: $mdBreak) {
            &--right {
                padding: 5px 40px;
            }
        }
    }
}

.guide {
    &__header {
        text-align: center;
        padding: 20px;

        @include mq($min-width: $mdBreak) {
            padding: 20px 40px 50px 40px;
        }

        @include mq($min-width: $lgBreak) {
            padding-top: 0;
        }

        &--inner {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            min-height: 300px;

            padding: 40px 15px 40px 15px;

            border-radius: 12px;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                display: block;

                background: rgba(0,0,0,0.30);
                border-radius: 12px;

                content: '';
            }

            @include mq($min-width: $mdBreak) {
                min-height: 370px;

                padding: 80px 50px 80px 50px;
            }

            @include mq($min-width: $lgBreak) {
                // padding: 180px 140px;
            }
        }

        h1 {
            position: relative;
            z-index: 10;

            margin: 0;

            color: $white;

            font-size: 42px;
            font-weight: 900;
            line-height: 44px;
            text-transform: uppercase;

            @include mq($min-width: $mdBreak) {
                font-size: 74px;
                line-height: 70px;
            }
        }

        h4 {
            position: relative;
            z-index: 10;

            margin: 0 0 5px 0;

            color: $white;
            font-size: 14px;
            line-height: 18px;
            font-weight: 900;
            text-transform: uppercase;
        }

        p {
            position: relative;
            z-index: 10;
            color: $white;

            max-width: 950px;
            margin: 20px auto 0 auto;

            a {
                color: $white;
                text-decoration: underline;
            }

            @include mq($min-width: $mdBreak) {
                margin-top: 40px;

                font-size: 24px;
                line-height: 28px;
            }
        }
    }

    &__content {
        div:first-of-type {
           // margin-top: 20px;
            // outline: 1px solid blue;

            p {
                &:first-child {
                    margin-top: 5px;
                    font-size: 22px;
                    line-height: 28px;

                    // outline: 1px solid red;

                    &:first-letter {
                        float: left; 
                        color: #000; 
                        font-size: 58px; 
                        line-height: 57px;  
                        // font-weight: 700;
                        padding-top: 0px; 
                        padding-right: 10px; 
                        padding-left: 0;
                        padding-bottom: 0;
                        margin-top: 0; 
                        margin-left: -2px;
                        margin-bottom: -3px;

                        
                        font-weight: 900;
                    }
                }
            }
        }
    }

    &__map {
        // outline: 1px solid blue;
        background: $bgColor;
    }

    &__related {
        background: $bgColor;

        &.desktop {
            display: none;

            @include mq($min-width: $drawerBreak) {
                display: block;

                .card {
                    width: 100%;
                    min-height: 240px;
                }

                .guide__related--inner {
                    flex-direction: column;
                    width: 100%;
                }
            }

            @include mq($min-width: $xlBreak) {
                display: block;

                .card {
                    width: 33%;
                    min-height: 450px;
                }

                .guide__related--inner {
                    flex-direction: row;
                }
            }
        }

        &.mobile {

            .card {
                width: 100%;
                min-height: 200px;
            }

            @include mq($min-width: $mdBreak ) {
                .card {
                    min-height: 400px;
                }
            }

            @include mq($min-width: $drawerBreak) {
                display: none;
            }
        }

        &--inner {
            @include mq($min-width: $mdBreak ) {
                display: flex;
            }
        }
    }
}

.section-search-no-results {
    text-align: center;
    padding: 40px 0;
    min-height: calc(100vh - 800px);

    h2 {
        margin: 0;
    }
}

.search-pagination {
    display: flex;
    width: 100%;
    margin-top: 10px;
    
    padding: 0 8px;

    > div {
        // flex: 1;
        // display: flex;
        // justify-content: space-between;
    }

    .page-numbers {
        font-family: $secondaryFont;
        padding: 0 5px;
    }

    @include mq($min-width: $mdBreak) {
        padding: 0 15px;
    }

    span.prev,
    span.next {
        img {
            position: relative;
            top: 1px;
        }
    }

    span.prev {
        margin-right: 20px;

        img {
            transform: rotate(180deg);
        }
    }

    span.next {
        margin-left: 20px;
    }

    span.current {
        color: $red !important;
    }
}

.video-carousel__gallery {
    margin-top: 0.5rem;

    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        height: inherit !important;

        > div {
            height: 100%;

            .card {
                display: flex !important;
                flex-direction: column;
                position: relative;
                min-height: 100% !important;
            }

            .card__inner {
                height: 100%;
                flex-grow: 1;
                flex: 1;

                .card__inner--content {
                    padding-bottom: 20px;

                    @include mq($min-width: $mdBreak) {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    
}
.section-video-carousel {
    // outline: 1px solid red;
    max-width: 1600px;
    margin: 0 auto;
    
    padding: 0 10px;

    .slick-track {
        // margin: 0;
    }

    &__header {
        position: relative;
        padding: 0 10px;

        h2 {
            margin: 0;
            padding-right: 80px !important;
        }

        .content-nav {
            position: absolute;
            bottom: 0;
            right: 10px;

            @include mq($min-width: $mdBreak) {
                top: 5px;
            }
        }
    }

    .card__inner--content {
        padding-left: 0;
        padding-right: 0;

        &.padding {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .card__inner {
        &:hover {
            transform: translate(0, 0) !important;
            // box-shadow: none !important;
        }
    }
    
    .card__inner--img {
        position: relative;

        img {
            //position: relative;
           // z-index: 2;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 4;

            display: block;

            width: 50px;
            height: 48px;

            background-image: url('../images/icon-triangle-white.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            opacity: 1;

            content: '';

            transform: scale(1.0) translate(-50%, -50%);

            transition: transform 250ms ease;
        }

        &:hover {
            &::before {
                transform: scale(1.05) translate(-50%, -50%);
            }
            // box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
        }
    }
}