@font-face {
    font-family: 'GT Pressura';
    src: url('../fonts/GT-Pressura-Pro-Mono-Regular.eot');
    src: url('../fonts/GT-Pressura-Pro-Mono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-Pressura-Pro-Mono-Regular.woff2') format('woff2'),
         url('../fonts/GT-Pressura-Pro-Mono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
