/* *************************
 * Footer
 * ************************* */
$footerBreak: $mdBreak; 

.footer {
  overflow-x: hidden;
  
  &__headline {
    margin: 0 0 20px 0;
    color: $black;
    font-family: $primaryFont;
    font-size: 24px;
    font-weight: 900;
  }

  &__top {
    padding: 70px 0 40px 0;

    background: $pink;

    @include mq($min-width: $footerBreak) {
      padding: 6% 20px;
    }

    &--flex {
      @include mq($min-width: $footerBreak) {
        display: flex;
      }
    }

    &--img {
      margin-bottom: 20px;

      img {
        width: 60px;
        height: auto;
      }

      img.webby {
        width: 85px;
        display: inline-block;
        margin-left: 1.5rem;

        image-rendering: -webkit-optimize-contrast !important;

        @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
          image-rendering: -webkit-optimize-contrast !important;
        }

        /* Unset for Safari 11+ */
        @media not all and (min-resolution:.001dpcm) { 
          @supports (-webkit-appearance:none) and (stroke-color:transparent) {
            image-rendering: unset !important;
          }
        }
      }

      @include mq($min-width: $footerBreak) {
        flex: 1;

        margin-bottom: 0;

        img.webby {
          width: 70px;
          display: block;
          margin-left: -3px;
          margin-top: 1rem;
          outline: none;
        }
      }
    }

    &--newsletter {
      @include mq($min-width: $footerBreak) {
        flex: 2.5;
        padding-right: 40px;
      }

      form {
        max-width: 360px;
      }
    }

    &--nav {
      padding-top: 30px;

      ul {
        margin: 0;
        padding: 0;

        display: flex;
        flex-wrap: wrap;

        list-style: none;

        li {
          flex-basis: 50%;
          width: 50%;

          padding: 5px 10px 5px 0;

          a {
            @extend %underline-link--red;
            font-family: $primaryFont;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.45px;
            text-transform: uppercase;

            // color: $red;
            color: #632629 !important;

            cursor: pointer !important;
            &::before {
              background: #632629 !important;
            }
          }
        }
      }

      @include mq($min-width: $footerBreak) {
        flex: 2;

        padding-top: 0;

        ul {
          li {

          }
        }
      }
    }
  }

  &__banner {
    padding: 1rem;
    background: $red;
    text-align: center;

    h4 {
      margin: 0;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }
  }

  &__bottom {
    padding: 30px 0 20px 0;

    font-family: $secondaryFont;
    color: $pink;
    background: $maroon;

    @include mq($min-width: $footerBreak) {
      padding: 25px 0 15px 0;
    }

    &--flex {
      @include mq($min-width: $footerBreak) {
        display: flex;
        justify-content: space-between;
      }
    }

    &--text {
      p {
        margin: 0;
        font-family: $secondaryFont;
        font-size: 14px;
        line-height: 16px;

        @include mq($min-width: $footerBreak) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }

    &--nav {
      ul {
        margin: 0;
        padding: 20px 0 0 0;

        list-style: none;

        li {
          margin-bottom: 10px;

          a {
            color: $bgColor;
            text-decoration: underline;

            font-size: 14px;
            line-height: 16px;

            @include mq($min-width: $footerBreak) {
              font-size: 16px;
              line-height: 18px;
            }
          }
        }
      }

      @include mq($min-width: $footerBreak) {
        ul {
          padding: 0;
          
          li {
            display: inline-block;
            // margin-bottom: 0;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.subscribe-form {
  position: relative;

  &.success {
    input,
    button,
    label {
      display: none;
    }

    p {
      display: block;
      color: $black;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .checkbox {
    color: $black;
  }

  &__email {
    width: 100%;
    padding: 10px 40px 10px 0;
    margin-bottom: 5px;
    -webkit-appearance: none;

    background: transparent;

    border: none;
    border-bottom: 1px solid $red;
    border-radius: 0;

    font-family: $secondaryFont;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: $black;

    @include mq($min-width: $mdBreak) {
      font-size: 14px;
    }

    &::placeholder {
      color: $black;
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }

    &:required {
      box-shadow: none !important;
    }

    &.white-bg {
      &:-webkit-autofill {
       //  background: transparent!important;
        // outline: 1px solid blue;

        border-radius: 50px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      }
    }
  }

  &__btn {
    position: absolute;
    top: 12px;
    right: 0;

    width: 28px;
    height: 15px;

    appearance: none;
    -webkit-appearance: none;

    color: transparent;
    background: transparent;
    background-image: url('../images/arrow-styled-red.svg');
    background-repeat: no-repeat;
    background-size: 28px 15px;

    cursor: pointer;

    border: none;

    transform: translateX(0);
    transition: transform 250ms ease; 

    &:hover {
      transform: translateX(2px);
    }
  }

  &__message {
    display: none;

    margin: 10px 0 0 0;
    
    font-family: $secondaryFont;
    font-size: 10px;
    line-height: 12px;
    color: $red;

    &.visible {
      display: block;
    }
  }
}

// newsletter modal

// Forms Overlay
.newsletter-overlay {
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 19999;
  opacity: 0;
  transition: opacity .5s linear;

  &.show {
    height: 100%;
    opacity: 1;
  }

  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    hr {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform:rotate(45deg);
      border: none;
      border-color: transparent;
      border-top: 2px solid $black;
     
 

      &:last-of-type {
        transform:rotate(-45deg);
      }
    }
  }


  &__scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // width: calc(100% + 15px);
    height: 100%;
    display: block;
    overflow-y: scroll;
  }

  &__inner {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 70px 0 50px;
    min-height: 100%;

    &.show {
      display: flex;
    }
  }

  &__card {
    width: 90%;
    background: $pink;
    background: url('../images/bg-pink-stripe.jpg');
    background-size: cover;

    max-width: 700px;
    padding: 30px 20px;
    position: relative;

    @include mq($min-width: 600px) {
      padding: 60px;
    }

    h2, h3 {
      // color: $red;
    }

    h2 {
      @include mq($max-width: 600px) {
        font-size: 28px;
        line-height: 32px;
      }
    }

    input {
      background: $white;
      border-radius: 50px;
      border: none;

      margin-top: 1rem;

      padding: 1rem 1.25rem;

      @include mq($min-width: 500px) {
        margin-top: 0;
        padding: 1.25rem 1.25rem;
      }

      &::placeholder {
        font-family: $primaryFont;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .btn--arrow {
      .css-hide-mobile {
        display: none;
        
        @include mq($min-width: 500px) {
          display: inline-block;
        }
      }
    }

    .checkbox-wrapper {
      margin-top: 0.75rem;
    }
  }
}

.overlay__inner__autoSignUp {
  align-items: flex-start;
  padding-top: 50px;

  @include mq($min-width: $mdBreak) {
    align-items: center;
  }

  .overlay__card {
    padding: 30px;

    @include mq($min-width: 410px) {
      padding: 60px;
    }
  }
  // justify-content: flex-start;
}
