
/* *********************************************************************************
 * Game 
 * ********************************************************************************* */
 $gameBreak: 700px;


.page-template-template-game {
    height: 100%;

    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";

    .pswp__caption {
        display: none;
    }

    &.no-scroll {
        overflow: hidden;
    }

    .swnza_banner {
        display: none !important;
    }

    .btn--text {
        font-size: 14px;
        font-family: $primaryFont;

        &::before {
            top: 4px;
        }
    }

    .btn--arrow.thin {
        padding: 0.65rem 2rem;

        @include mq($max-width: 330px) {
            font-size: 12px;
            padding: 0.65rem 1rem;

            &:hover {
                span {
                    transform: none;
                    right: 0;

                    &::before {
                        display: none;
                    }
                    // transition: none;
                }
            }
        }
    }
}

.game {
    display: flex;
    flex-direction: column;
    // width: 100%;
    height: 100%;

    // background: blue;

    &__header {
        position: relative;
        height: 60px;
        padding: 10px;
        width: 100%;

        background: $white;
        text-align: center;

        border-bottom: 1px solid #eee;

        img {
            max-height: 100%;
            width: auto;
        }

        &--home {
            position: absolute;
            top: 10px;
            left: 0.5rem;

            width: 40px;
            height: 40px;

            img {
                display: block;
                transform: scale(0.75);
            }

            @include mq($min-width: $gameBreak) {
                left: 1rem;
            }
        }

        &--nav {
            position: absolute;
            top: 10px;
            right: 0.5rem;

            width: 100px;
            height: 40px;

            text-align: right;

            a {
                display: inline-block;
                width: 40px;
                height: 40px;

                margin-left: 0;

                img {
                    display: block;
                    transform: scale(0.75);
                }
            }

            @include mq($min-width: $gameBreak) {
                right: 2rem;
                a {
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &__board {
        flex: 1;

        display: flex;
        flex-direction: column;

        // display: none;
    }
}

.gameboard-img {
    //localhost:3000/wp-content/uploads/2020/08/117113942_3170515329727731_5767127613992880219_n-1400x1245.jpg
    // height: 40vh;
    max-height: calc(40vh - 1rem);

    // background: pink;

    padding: 1rem 1rem 0 1rem;

    &__inner {
        max-width: 500px;
        margin: 0 auto;
    }

    @include mq($min-width: $gameBreak) {
        // height: 45vh;
        max-height: calc(45vh - 1rem);
    }
}

.game-img-wrapper {
    cursor: pointer;

    display: block;
    // outline: 1px solid red;

    width: 100%;
    height: 100%;
    height: calc(40vh - 1rem);

    background-image: url('../images/icon-loading.svg');
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;

    @include mq($min-width: $gameBreak) {
        // height: 45vh;
        max-height: calc(45vh - 1rem);
    }
}

.gameboard-content {
    flex: 1;

    background: $awa_white;

    padding: 1rem;

    visibility: hidden;
}

.guess-list {
    list-style: none;
    margin: 0;
    padding: 0;

    max-width: 500px;
    margin: 0 auto;

    li {
        background: #eee;
        border: 2px solid #eee;
        
        margin-bottom: 0.5rem;

        min-height: 41px;
        padding: 0.5rem;

        &.wrong {
            background: rgba(250, 0, 0, 0.1);
            border: 2px solid $awa_red;
        }

        &.correct {
            background: rgba(78, 112,88, 0.1);
            border: 2px solid #4e7058;
        }
    }
}

.no-puzzle-message {
    margin-top: 4rem;
    padding: 0 1rem;
    text-align: center;

    @include mq($min-width: $gameBreak) {
        margin-top: 12rem;
    }
}

// Hide win button that's in stats popup by default
.js-show-win {
    visibility: hidden;
}

.game-form {
    max-width: 500px;
    margin: 0 auto 1rem auto;

    .select-wrapper {
        height: 41px;

        select {
            visibility: hidden;
        }
    }

    .select2-container--default {
        height: 40px;

        .select2-selection {
            height: 41px;

            font-size: 15px;
            line-height: 39px;

            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0;

            @include mq($min-width: $gameBreak) {
                font-size: 16px;
            }
        }

        .select2-selection__rendered {
            height: 37px;
            padding: 0 0.5rem;
             line-height: 39px;
        }

        .select2-selection__arrow {
            height: 40px !important;
            color: #bbb;

            b {
                border-color: #bbb transparent transparent;
            }
        }

        .select2-selection__clear {
            height: 35px !important;
            color: #bbb;

            b {
                border-color: #bbb transparent transparent;
            }
        }

        // .select2-container--default 

        

        
    }

    button {
        margin: 0 auto;
        appearance: none;
        box-shadow: none;
        border: none;
    }
}

.select2-results {
    .select2-results__options {
        .select2-results__option {
            &.select2-results__option--highlighted {
                background-color: $awa_red !important;
            }
        }
    }
}

.select-wrapper {
    margin-bottom: 0.5rem;
}

// Popup
.popup-notice {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // flex-wrap: nowrap;
    // white-space: nowrap;
    // overflow: auto;

    padding: 2rem 1rem;

    background: rgba(0, 0, 0, 0.65);

    visibility: hidden; // hidden by default

    // overflow: auto;

    &__close-btn {
        $closeBtnSize: 40px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: right;

        position: absolute;
        top: 0;
        right: 0;

        width: $closeBtnSize;
        height: $closeBtnSize;

        padding-top: 8px;
        padding-right: 8px;

        
        text-align: center;
        // line-height: $closeBtnSize;
        color: $awa_black;
        
        // outline: 1px solid black;

        img {
            margin-left: auto;
            width: 20px;
            height: auto;
            cursor: pointer;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        // background: red;

        display: block;
    }

    &__footer {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid $awa_black;

        display: flex;
        justify-content: space-between;
    }
}

.outcome-headline {
    margin: 0.75rem 0 !important;
}

.win-box {
    position: relative;
    display: none;

    text-align: center;

    h2 {
        text-transform: uppercase;
        
        margin: 0.75rem 0 1rem 0;
    }

    h4 {
        margin: 7px 0 2px 0;

        font-family: $primaryFont;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $red;

        text-transform: uppercase;

        @include mq($min-width: $gameBreak) {
            margin: 10px 0 3px 0;
            // font-size: 16px;
            // line-height: 18px;
        }
    }

    h3 {
        margin: 0;
        font-family: $primaryFont;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: $black;

        @include mq($min-width: $gameBreak) {
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__img {
        height: 200px;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include mq($min-width: $gameBreak) {
            height: 260px;
        }
    }

    &__credit {
        p {
            margin: 0.25rem 0 0.5rem 0;
            font-size: 14px;
        }
    }
}

.error-box {
    position: relative;
    z-index: 10;

    padding: 3rem 1rem 2.75rem 1rem;

    width: 100%;
    max-width: 500px;

    background: $awa_tan;
    text-align: center;

    h2 {
        text-transform: uppercase;
        // color: $awa_red;

        margin: 0 0 1.75rem 0;
    }
}

.info-box {
    position: relative;
    z-index: 10;

    padding: 1rem 1rem 1rem 1rem;

    width: 100%;
    max-width: 500px;

    max-height: 100%;
    overflow-y: auto;

    background: $awa_tan;
    text-align: left;

    h2 {
        margin: 0 0 0.5rem 0;

        text-transform: uppercase;
    }

    ol {
        margin-top: 0.5rem;
        padding-left: 1.75rem;
        font-weight: 400;

        li::marker {
            font-weight: 700;
        }
    }

    hr {
        border-color: $awa_black;
        border: 1px solid $awa_black;
        height: 1px;
        border-bottom: none;
    }

    .partner-b {
        margin-top: 1.25rem;
        margin-bottom: 0;
    }
}

.partner-b {
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
    // height: 50px;
    
    text-align: center;

    img {
        display: block;
    }
    
    p {
        margin: 0;
        line-height: 50px;
        letter-spacing: 0.05rem;
        font-size: 14px;
    }

    .game-ad-mobile {
        @include mq($min-width: $mdBreak) {
            display: none;
        }
    }

    .game-ad-desktop {
        display: none;

        @include mq($min-width: $mdBreak) {
            display: block;
        }
    }
}

.stats-table {
    display: flex;
    margin: 0 0 0.75rem 0;

    &__cell {
        // width: 25%;
        width: calc(100% / 3);
        text-align: center;

        transform: scale(0.8);

        @include mq($min-width: $mdBreak) {
            transform: scale(1);
        }
    }
}

.stat-number{
    display: block;
    width: 100%;

    font-size: 2rem;
    font-weight: 900;
    line-height: 1;
}

.stat-label {
    display: block;
    width: 100%;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    font-weight: 700;
}

.distribution-table {
    height: 140px;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


/// Winning bbox under form
.winning-message {
    height: 0;
    overflow: hidden;
    visibility: hidden;

    max-width: 500px;
    margin: 0 auto;

    text-align: center;

    &__footer {
        padding-bottom: 1rem;
    }

    h4 {
        margin: 7px 0 2px 0;

        font-family: $primaryFont;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: $red;

        text-transform: uppercase;

        @include mq($min-width: $gameBreak) {
            margin: 10px 0 3px 0;
        }
    }

    .win-box__credit {
        margin-bottom: 0.5rem;
    }

    h3 {
        margin: 0;
        font-family: $primaryFont;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: $black;

        @include mq($min-width: $gameBreak) {
            font-size: 18px;
            line-height: 20px;
        }
    }
}

