.hp-headline {
    margin: 0 0 20px 0;
    color: $black;
    font-family: $primaryFont;
    font-size: 36px;
    font-weight: 900;
    line-height: 39px;
    text-transform: uppercase;

    a {
        color: $black;
    }

    @include mq($min-width: $mdBreak) {
        margin-bottom: 60px;
        font-size: 54px;
        line-height: 58px;
    }
}

.hp-subline {
    margin: 20px 0;
    color: $black;
    font-family: $primaryFont;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;

    a {
        color: $black;
    }

    @include mq($min-width: $mdBreak) {
        font-size: 36px;
    }
}

.hp-book {
    background: $pink;

    .btn--red {
        &:hover {
            background: $white;
            border-color: $white;
        }
    }
    &__inner {
        max-width: 1420px;
        margin: 0 auto;
        
        // padding: 20px;

        background: $pink;

        &--img {
            position: relative;

            text-align: center;

            img {
                position: relative;
                z-index: 4;
                width: 50%;
                max-width: 240px;
                display: block;
                margin: 0 auto;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                z-index: 1;

                width: 100%;
                height: 50%;

                background: $white;

                content: '';
            }

            @include mq($min-width: $lgBreak) {
                position: absolute;
                bottom: 20px;
                right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        &--text {
            padding: 0 20px 40px 20px;
            text-align: center;

            h2 {
                margin: 20px 0 20px 0;
                color: $black;
                font-size: 36px;
                line-height: 39px;
                text-transform: uppercase;

                @include mq($min-width: $smBreak) {
                    font-size: 46px;
                    line-height: 49px;
                }
                @include mq($min-width: $mdBreak) {
                    margin: 0 0 20px 0;
                    font-size: 46px;
                    line-height: 48px;
                }

                @include mq($min-width: $lgBreak) {
                    // font-size: 56px;
                    // line-height: 59px;
                }

                @include mq($min-width: 1400px) {
                    // font-size: 56px;
                    // line-height: 59px;
                }
            }

            p {
                padding: 0 20px;
                margin-bottom: 40px;
                font-family: $primaryFont;
                font-size: 24px;
                line-height: 28px;
            }
        }

        @include mq($min-width: $mdBreak) {
            position: relative;

            display: flex;
            flex-direction: row-reverse;

            padding: 40px;

            &--img {
                width: 30%;

                display: flex;
                flex-direction: column;
                justify-content: center;

                &::before {
                    display: none;
                }

                img {
                    // top: -10%;
                    width: 100%;
                    max-width: 340px;
                }
            }

            &--text {
                padding: 0 60px 0 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                z-index: 5;
                width: 70%;
                text-align: left;

                p {
                    padding: 0;
                    max-width: 700px;
                }
            }
        }

        @include mq($min-width: $lgBreak) {
            margin-top: 80px;

            padding: 60px 40px;

            display: block;

            &--img {
                width: 40%;

                img {
                    max-width: 400px;
                }
            }

            &--text {
                width: 60%;
                padding-right: 60px;
                justify-content: flex-end;

                
            }
        }
    }
}

.hp-intro {
    text-align: center;

    @include mq($min-width: $mdBreak) {
        margin-top: 40px;
        padding: 0 40px;
    }

    @include mq($min-width: $navBreak) {
        margin-top: 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 70vh;
        // max-width: 1400px;
        margin: 0 auto;

        padding: 20px;

        background-image: url('../images/bg-landing.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        

        @include mq($min-width: $mdBreak) {
            min-height: 70vh;
            background-image: url('../images/bg-landing.jpg');

            border-radius: 12px;
        }
    }

    &__lower {
        padding: 20px;
        max-width: 700px;
        margin: 0 auto;

        p {
            font-size: 24px;
        }
    }

    &__headline {
        color: $yellow;
        font-size: 48px;
        line-height: 52px;
        text-transform: uppercase;

        @include mq($min-width: $smBreak) {
            font-size: 56px;
            line-height: 62px;
        }

        @include mq($min-width: $mdBreak) {
            max-width: 600px;
            margin: 0 auto;
            font-size: 100px;
            line-height: 102px;
        }
    }
}

.hp-search {
    padding: 40px 0;
    text-align: center;
    background: $bgColor;

    @include mq($min-width: $mdBreak) {
        padding: 120px 0;
    }

    .hp-headline {
        margin-bottom: 30px;
    }

    .search__form {
        margin-top: 30px;
    }
}

.hp-carousel {
    padding: 0;
    background: $bgColor;

    @include mq($min-width: $mdBreak) {
        padding-bottom: 40px;
    }

    @include mq($min-width: $lgBreak) {
        padding-bottom: 80px;
    }

    &__nav {
        display: flex;

        padding: 5px 18px 0 8px;

        .content__gallery--count {
            margin-left: 0;
        }

        .content__gallery--arrows {
            margin-right: 0;
        }

        @include mq($min-width: $lgBreak) {
            padding: 5px 18px 0 18px;
        }
    }

    &__images {
        padding: 0 10px;

        &--item {
            padding: 4px;

            cursor: pointer;

            border-radius: 12px;

            transition: background 250ms ease;

            @include mq($min-width: $mdBreak) {
                padding: 8px;
            }

            div {
                display: block;

                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;

                border-radius: 12px;
                overflow: hidden;

                // outline: 1px solid red;

                img {
                    display: block;
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        .slick-current {
            .hp-carousel__images--item {
                // background: $green;
                div {
                    border: 8px solid $green;
                }
            }
        }
    }

    &__text {
        .slick-slider {
          -webkit-user-select: text;
          -khtml-user-select: text;
          -moz-user-select: text;
          -ms-user-select: text;
          user-select: text !important;
        }
    }

    h4 {
        margin: 0;
        padding: 10px 8px;

        color: $green;

        letter-spacing: 0.5px;
        font-size: 16px;
        text-transform: uppercase;

        @include mq($min-width: $mdBreak) {
            padding: 20px 10px 10px 10px;
        }

        @include mq($min-width: $lgBreak) {
            padding: 40px 100px 20px 100px;
        }
    }

    &__item {
        padding: 0 10px 20px 10px;

        @include mq($min-width: $mdBreak) {
            padding: 0 10px;

            &--inner {
                display: flex;
            }

            &--left {
                width: 60%;
                padding-right: 40px;
            }

            &--right {
                width: 40%;
            }
        }

        @include mq($min-width: $lgBreak) {
            padding: 0 100px;
        }

        a {
            outline: none;
        }

        h3 {
            margin-bottom: 5px;

            @include mq($min-width: $mdBreak) {
                margin-bottom: 20px;
            }

            @include mq($min-width: $lgBreak) {
                margin-bottom: 40px;
            }
        }

        &--location {
            margin-bottom: 5px;
            font-size: 18px !important;
            line-height: 23px;
            letter-spacing: 0.1px;
            text-transform: uppercase;
            font-weight: 600;
            color: $maroon;

            span {
                display: inline-block;
            }

            @include mq($min-width: $mdBreak) {
                margin-bottom: 15px;
            }

            @include mq($min-width: $lgBreak) {
                margin-bottom: 0;
            }
        }

        &--coords {
            margin-top: 10px;
            position: relative;
            display: inline-block;
            padding-right: 50px;
            font-family: $secondaryFont;
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 20px;

            &::before {
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: -1;

              display: block;

              width: 100%;
              height: 60%;

              background: $pink;

              content: '';
            }
        }

        &--excerpt {
            margin: 0;
            font-size: 18px;
            line-height: 24px;

            @include mq($min-width: $mdBreak) {
                margin-bottom: 40px;
                font-size: 24px;
                line-height: 28px;
            }
        }

        &--tags {
            max-width: 400px;
            margin: 20px 0 0 0;
        }
    }
}

.slick-slider {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.slick-list.draggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.hp-guides {
    padding: 10px 0 60px 0;
    background: $bgColor;

    @include mq($min-width: $mdBreak) {
        padding: 0 0 60px 0;
    }

    @include mq($min-width: $lgBreak) {
        padding: 0 0 100px 0;
    }
}

.hp-collections {
    padding: 40px 0;
    text-align: center;
    background: $bgColor;

    @include mq($min-width: $mdBreak) {
        padding: 80px 0;
    }

    &__bottom {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

.hp-newsletter {
    padding: 40px 0;
    text-align: center;

    @include mq($min-width: $mdBreak) {
        padding: 60px 0;
        text-align: left;
    }

    &__inner {
        @include mq($min-width: $mdBreak) {
            display: flex;

            &--left {
                display: flex;
                flex-direction: column;
                justify-content: center;

                flex: 1;
                padding-right: 20px;
            }

            &--right {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                flex: 1;
            }
        }

        @include mq($min-width: $lgBreak) {
            &--left {
                flex: 1.2;
                padding-right: 40px;
            }
        }
    }

    &__headline {
        margin: 0 0 20px 0;
        font-size: 36px;
        line-height: 42px;
    }

    form input[type="email"] {
        max-width: 300px;

        margin: 0 auto 20px auto;
        padding: 15px 0 !important;
        font-family: $secondaryFont;
        font-size: 14px;
        font-weight: 400 !important;
        font-style: normal !important;
        letter-spacing: 1px !important;
        text-align: center;
        color: $red !important;
        border: none !important;
        border-bottom: 1px solid $red !important;
        border-radius: 0 !important;

        &:focus {
            outline: none !important;
        }

        &::placeholder {
            color: $red;
        }

        @include mq($min-width: $mdBreak) {
            text-align: left;
            margin: 0;
            max-width: 100%;
        }
    }
}

.newsletter-wrapper {
    @include mq($min-width: $mdBreak) {
        display: flex;

        > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // flex-basis: 50%;
            // width: 50%;
        }
        
        &--left {
            flex: 1;
            padding-right: 20px;

            input {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

// MC 
#mc_embed_signup form {
    padding: 10px !important;

    @include mq($min-width: $mdBreak) {
        padding-bottom: 0 !important;
    }
}

#mc_embed_signup .mc-field-group input {
    text-indent: 0 !important;
}

#mc_embed_signup .mc-field-group {
    width: 100% !important;
    min-height: auto !important;
    margin: 0 0 20px 0 !important;
    padding: 0 !important;

    &.no-margin {
        margin-bottom: 0 !important;
    }
}

#mc_embed_signup .button {
    -webkit-appearance: none;
    display: block;
    height: initial !important;
    max-width: 200px;
    padding: 5px 20px !important;
    margin: 0 auto !important;
    font-size: 14px !important;
    background: $red !important;
    border-radius: 50px !important;
    font-family: $headlineFont;
    font-weight: 700 !important;
    text-transform: uppercase;
    border: 1px solid $red !important;

    &:hover {
        background: $white !important;
        color: $red;
    }

    @include mq($min-width: $lgBreak) {
        padding: 10px 20px !important;
        font-size: 18px !important;
    }
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: block !important;
    text-align: center;
    margin: 0 !important;
    color: $red !important;

    @include mq($min-width: $mdBreak) {
        text-align: left;
    }
}

/* Custom checkbox styles on _submission.scss */

.mce_inline_error {
    margin: 0;
    padding: 5px 0 0 0 !important;
    font-size: 12px !important;
}

#mc_embed_signup {
    div#mce-responses {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    div.response {
       
        width: 100% !important;
        margin: 0 !important;
        padding: 20px 0 0 0 !important;

        font-weight: 400 !important;
        font-size: 14px !important;
    }
}

.guide-carousel__header {
    padding: 0 20px;

    h2 {
        margin: 0;
        font-size: 16px;
        line-height: 32px;
        font-weight: 700;
        letter-spacing: 0.44px;
        text-transform: uppercase;
    }

    @include mq($min-width: $mdBreak) {
        display: none;
    }
}

.hp-guide-carousel {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: $bgColor;
    
    @include mq($min-width: $breakLg) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

// Guide Card Carousel
.guide-carousel {
    position: relative;

    overflow: hidden;

    &__inner {
        position: relative;
        width: 160%;
        height: 100%;
        
        // left: 50%;
        // transform: translateX(-50%);

        @include mq($min-width: $mdBreak) {
            width: 210%;
            left: 50%;
            transform: translateX(-50%);

            .slick-list {
                z-index: 1000;
            }

            .slick-arrow {
                -webkit-appearance: none;
                appearance: none;
                border: none;
                position: absolute;
                top: 0;
                z-index: 5001;

                width: calc(33% + 10px);
                height: 100%;

                cursor: pointer;
            
                background: transparent;

                &.slick-prev {
                    left: 0;
                }

                &.slick-next {
                    right: 0;
                }
            }
        }

        @include mq($min-width: $breakXl) {
            width: 180%;
        }

        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            height: inherit !important;

            > div {
                position:relative;
                height: 100%;
            }
        }
    }
}

.guide-carousel-card {
    height: 100%;

    padding: 0 0 0 1.5rem; 

    @include mq($min-width: $mdBreak) {
        padding: 0 10px 0 10px; 
    }

    @include mq($min-width: $lgBreak) {
        padding: 0 20px 0 20px; 
    }

    &__inner {
        position: relative;
        height: 100%;
        // background: grey;
    }
}


.hp-guide {
    // max-width: 980px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__top {
        position: relative;
        padding: 20px 20px 30px 20px;
        text-align: center;

        border-radius: 12px 12px 0 0;
        overflow: hidden;
        min-height: 250px;

        background-position: center center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mq($min-width: $mdBreak) {
            min-height: 260px;
            padding: 40px 20px;
        }

        @include mq($min-width: 1700px) {
            min-height: 300px;
        }

        &--img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;

            transform: translate(-50%, -50%);

            opacity: 1;

            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
        }

        &--top {
           flex: 1;
           display: flex;
           flex-direction: column;
           justify-content: center;
        }

        &--bottom {
            height: 50px;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: #000000;
            opacity: 0.25;

            content: '';
        }

        h2, 
        h3 {
            position: relative;
            margin: 0;
            color: $white;

            text-transform: uppercase;
        }

        h3 {
            font-size: 14px;
            letter-spacing: 0.25px;
            
        }

        h2 {
            margin-bottom: 30px;
            font-size: 28px;

            @include mq($min-width: $mdBreak) {
                font-size: 36px;
            }

            @include mq($min-width: $breakLg) {
                font-size: 2.25rem;
            }
        }

        .btn {
            transform: scale(0.95);
            padding-bottom: 18px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;

        flex: 1;
        padding: 20px 20px 20px 20px;

        background: $white;
        border-radius: 0 0 12px 12px;

        @include mq($min-width: $mdBreak) {
            padding: 70px 40px 20px 40px;
        }

        &--top {
            flex: 1;
        }

        p {
            max-width: 500px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 24px;

            &:first-letter {
                float: left; 
                color: #000; 
                font-size: 58px; 
                line-height: 42px;  
                // font-weight: 700;
                padding-top: 0px; 
                padding-right: 10px; 
                padding-left: 0;
                padding-bottom: 0;
                margin-top: 0; 
                margin-left: -2px;
                margin-bottom: -3px;

                
                font-weight: 900;
            }
            
            @include mq($min-width: $lgBreak) {
                max-width: 750px;

                font-size: 22px;
                line-height: 28px;

                &:first-letter {
                    font-size: 58px; 
                    line-height: 57px; 


                margin-bottom: -3px; 
                }
            }
        }

        .inpage {
            height: 53px;
            margin-top: 30px;

            img {
                display: block;
                margin: 0 auto;
                max-height: 30px;
            }

            @include mq($min-width: $mdBreak) {
                margin-top: 70px;

                img {
                    max-height: 38px;
                }
            }
        }
    }
}

.newsletter-anchor {
    height: 60px;

    @include mq($min-width: $mdBreak) {
        height: 60px;
    }

    @include mq($min-width: $lgBreak) {
        height: 100px;
    }
}
