
/* *********************************************************************************
 * Utility
 *
 * .bttn is a simplified button class because the old button styles have 
 * become covoluted through the various interations/versions. 
 *
 * Ultimately the entire site should use these button styles
 * All bttns should be wrapped in a <span> (so the arrow can be positioned on hover)
 * Red is default, with blue and white as extra option.
 * ********************************************************************************* */
body {
  // font-variant-numeric: lining-nums;
  // font-feature-settings: "lnum";
}

.btn--arrow {
  position: relative;
  display: inline-block;

  padding: 1rem 2.5rem;

  color: $red;
  font-family: $primaryFont;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;

  border-radius: 50px;

  color: $awa_white;
  background: $awa_red;

  transition: all 250ms ease;

  @include mq($min-width: $breakLg) {
    padding: 1.15rem 2.5rem;
  }

  // Arrow 
  span {
    position: relative;
    right: 0;

    transition: right 250ms ease;

    &::before {
      position: absolute;
      top: 50%;
      margin-top: -0.25rem;
      left: -2.5rem;

      width: 25px;
      height: 10px;

      opacity: 0;

      background-image: url('../img/btn-arrow-red.svg');
      background-repeat: no-repeat;
      background-size: contain;

      transition: all 250ms ease;

      content: '';
    }
  }

  &.blue {
    color: $awa_white;
    background: $awa_blue;

    span {
      &::before {
        background-image: url('../img/btn-arrow-blue.svg');
      }
    }

    &:hover {
      color: $awa_blue;
      background: $awa_white;
    }
  }

  &.white {
    color: $awa_red;
    background: $awa_white;

    span {
      &::before {
        background-image: url('../img/btn-arrow-white.svg');
      }
    }

    &:hover {
      color: $awa_white;
      background: $awa_red;
    }
  }

  &.outline {
    color: $awa_red;
    background: $awa_white;

    border: 2px solid $awa_red;

    padding: 0.9rem 2.5rem;
    
    @include mq($min-width: $breakLg) {
      padding: 1.05rem 2.5rem;
    }

    span {
      &::before {
        background-image: url('../img/btn-arrow-white.svg');
      }
    }

    &:hover {
      color: $awa_white;
      background: $awa_red;
    }
  }

  // Used for when the button needs to be full width on smaller devices (tablet uses this as well)
  &.mobile-block {
    display: block;
    width: 100%;
    text-align: center;

    span {
      margin: 0 auto;
    }

    @include mq($min-width: $breakLg) {
      display: inline-block;
      width: initial;
    }
  }

  &.thin {
    padding: 0.75rem 3rem;

    @include mq($min-width: $breakLg) {
      padding: 0.75rem 3rem;
    }
  }

  &:hover {
    color: $awa_red;
    background: $awa_white;

    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);

    span {
      right: -15px;

      &::before {
        left: -1.9rem;
        opacity: 1;
      }
    }
  }
}

.btn--accent {
  position: relative;
  display: inline-block;

  font-family: $primaryFont;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.370693px;
  text-transform: uppercase;

  color: $awa_red;

  padding-right: 1rem;

  &::before {
    position: absolute;
    top: 0;
    right: 0;

    width: 0.5rem;
    height: 100%;

    
    border-radius: 1px;
    
    background: url('../img/btn-arrow-text.svg');
    background-repeat: no-repeat;
    background-position: center;

    transform: translateX(0);

    transition: transform 250ms ease; 

    content: '';
  }

  &:hover {
    &::before {
      transform: translateX(3px);
    }
  }
}

.btn--outline {

}

.content-nav {
  display: inline-block;

  &__left,
  &__right {
    display: inline-block;

    width: 26px;
    height: 26px;

    background-image: url('../img/nav-right-red.svg');

    opacity: 0.3;

    transition: opacity 250ms ease;

    &:hover {
      opacity: 1;
    }
  }

  &__left {
    transform: rotate(180deg);
  }

  &__right {
    margin-left: 0.75rem;
  }

  &.white {
    .content-nav__left,
    .content-nav__right {
      opacity: 0.5;
      background-image: url('../img/nav-right-white.svg');
      
      &:hover {
        opacity: 1;
      }
    }
  }
}

// Side container to uniformally change
%container-side-padding {
  padding-left: $sidePaddingSm;
  padding-right: $sidePaddingSm;

  @include mq($min-width: $breakMd) {
    padding-left: $sidePaddingMd;
    padding-right: $sidePaddingMd;
  }
  
  @include mq($min-width: $breakLg) {
    padding-left: $sidePaddingLg;
    padding-right: $sidePaddingLg;
  }

  @include mq($min-width: $breakXl) {
    padding-left: $sidePaddingXl;
    padding-right: $sidePaddingXl;
  }
}

/* **** 
 * MAKE XL BREAK 5rem
 * City Guide cards HP - after 1300px make narrower
 * *************** */

%hp-hero-line-style {
  position: absolute;
  left: 1.5rem;
  z-index: 10;

  width: calc(100% - 3rem);
  
  height: 2px;

  background: $awa_red;

  content: '';

  @include mq($min-width: $breakLg) {
    left: 3rem;
    width: calc(100% - 6rem);
    height: 3px;
  }

  @include mq($min-width: $breakXl) {
    left: 5rem;
    width: calc(100% - 10rem);
    height: 3px;
  }
}

// Hero Headline
.hp-hero-headline {
  margin: 0;

  text-transform: uppercase;
  font-size: 2.25rem; // 36px;
  line-height: 2.5rem;// 40px;

  @include mq($min-width: $breakLg) {
    max-width: 80%;
    font-size: 3.5rem; // 56px;
    line-height: 3.5rem;// 40px;
  }
}

.hp-hero-icon {
  display: block;
  max-height: 80px;
  width: auto;
  height: auto;
  margin: 0 auto 1rem auto;

  @include mq($min-width: $breakMd) {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  @include mq($min-width: $breakLg) {
    max-height: 110px;
  }
}

.css-hero-wrapper {
  position: relative;
  // outline: 1px solid pink;

  @include mq($min-width: $breakMd) {
    max-width: 300px;
  }

  @include mq($min-width: $breakLg) {
    max-width: 460px;
    margin: 0;
  }
}

// Text in content area
.hp-hero-text p,
.hp-hero-text {
  margin: 1rem 0 0 0;
  font-size: 1.125rem; // 18px  

  

  @include mq($min-width: $breakMd) {
    max-width: 300px;
  }

  @include mq($min-width: $breakLg) {
    width: 90%;
    max-width: 500px;
    margin-top: 0.75rem;
    font-size: 2rem;
    line-height: 2.25rem;
  }

  @include mq($min-width: $breakXl) {
    width: 70%;
  }

  &.events {
    @include mq($min-width: $breakMd) {
      max-width: 300px;
    }

    @include mq($min-width: $breakLg) {
      max-width: 500px;
    }

    p {
      width: 100%;

      font-weight: 400;
    }
  }
}

// Section: Hero
.hp-hero {
  position: relative;
  background: $awa_pink;

  &::before {
    @extend %hp-hero-line-style !optional;
    top: 2rem; // 36px

    @include mq($min-width: $breakXl) {
      top: 5rem;
    }
  }

  &::after {
    @extend %hp-hero-line-style !optional;
    bottom: 2rem; // 36px

    display: none;

    @include mq($min-width: $breakXl) {
      bottom: 5rem;
    }
  }

  @include mq($min-width: $breakMd) {
    &::after {
      display: block;
    }
  }

  &__content {
    position: relative;
    padding: 4rem $sidePaddingSm;

    color: $awa_red;
    // background: $awa_pink;
    text-align: center;

    @include mq($min-width: $breakMd) {
      padding: 6rem $sidePaddingMd;
    }

    @include mq($min-width: $breakLg) {
      padding: 10rem $sidePaddingLg;
    }

    @include mq($min-width: $breakXl) {
      padding: 12rem $sidePaddingXl;
    }

    &::before {
      @extend %hp-hero-line-style !optional;
      bottom: 2rem; // 36px

      @include mq($min-width: $breakMd) {
        display: none;
      }
    }

    &--top {
      max-width: 460px;
      margin: 0 auto;

      @include mq($min-width: $breakLg) {
        max-width: 100%;
        margin: 0;
      }
    }

    &--search {
      padding: 0 0.25rem;

      max-width: 400px;

      margin: 2rem auto 0 auto;
      
      @include mq($min-width: $breakMd) {
        padding: 0;
        margin: 2rem 0 0 0;
        max-width: 320px;
      }

      @include mq($min-width: $breakLg) {
        margin-top: 2.5rem;

        display: flex;
        max-width: 550px;

        .btn--arrow {
          // specific style just for tthis element
          padding-left: 4rem;
          padding-right: 4rem;
        }
      }
    }
  }

  &__gallery {
    position: relative;

    overflow: hidden;

    .content-nav {
      position: absolute;
      z-index: 4;

      right: $sidePaddingSm;
      bottom: 1rem;

      @include mq($min-width: $breakMd) {
        right: $sidePaddingMd;
        bottom: 3rem;
      }

      @include mq($min-width: $breakLg) {
        right: $sidePaddingLg;
        bottom: 3.5rem;
      }

      @include mq($min-width: $breakXl) {
        right: $sidePaddingXl;
        bottom: 5.5rem;
      }
    }
  }

  @include mq($min-width: $breakMd) {
    display: flex;

    &__content {
      width: 50%;
      text-align: left;
    }

    &__gallery {
      width: 50%;
    }
  }
}


.hp-search-form {
  position: relative;

  margin-top: 1rem;
  display: block;

  @include mq($min-width: $breakLg) {
    margin: 0;

    flex: 1;
    margin-left: 1rem;
  }
  // outline: 1px solid red;

  &__field {
    appearance: none;
    -webkit-appearance: none;

    display: block;
    width: 100%;

    padding: 1rem 1.5rem;
    margin: 0;

    width: 100%;

    font-size: 0.8rem; // 14  px
    font-family: $primaryFont;
    font-weight: 700;
    letter-spacing: 0.03rem;
    text-transform: uppercase;

    border: none;
    border-radius: 50px;

    background: $white;

    &:focus {
      outline: none;
    }

    &::placeholder {
     color: $awa_black;
    }

    &--submit-btn {
      appearance: none;

      position: absolute;
      top: 1px;
      right: 0.75rem;

      background: $white;

      width: 2.5rem;
      height: 47px;

      border: none;
      border-radius: 50px;

      // outline: 1px solid red;

      background-image: url('../img/icon-search.svg');
      background-repeat: no-repeat;
      background-position: center center;

      cursor: pointer;

      transform: translate(0, 0);
      transition: transform 250ms ease;

      &:hover {
        transform: translate(-1px, -1px);
      }
    }
  }
}

// Gallery
.hp-gallery {
  position: relative;
  height: 100%;
  min-height: 250px;

  // hide until slick inits
  display: none;
  // opacity: 0;
  // transition: opacity 250ms ease;

  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }

  .slick-slide div {
    height: 100%;
  }

  &.slick-initialized {
    display: block;
    // show gradient
    .hp-gallery-item__img:before {
      opacity: 1;
    }
  }
}

.hp-gallery-item {
  position: relative;

  display: block !important;
  height: 100%;

  &__img {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0; 

      z-index: 1;

      width: 100%;
      height: 100%;

      opacity: 0;

      background: linear-gradient(360deg, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0) 50.07%);

      content: '';   
    }
    
    img {
      display: block;
      width: 100%;
      height: auto;

      @include mq($min-width: $breakMd) {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;

        transform: translate(-50%, -50%);

        display: block;

        min-width: 100%;
        min-height: 100%;

        width: auto;
        height: auto;

        max-width: initial;
        max-height: 100%;
      }

      @include mq($min-width: 1700px) {
        width: 100%;
        max-height: initial;
        height: auto;
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 2;

    width: 100%;
    height: initial !important;  

    padding: 1rem $sidePaddingSm;
    padding-right: 100px;

    // background: purple;

    @include mq($min-width: $breakMd) {
      bottom: 2rem;
    }

    @include mq($min-width: $breakLg) {
      padding-right: 125px;
    }

    @include mq($min-width: $breakXl) {
      bottom: 5rem;
      padding-right: 160px;
    }


  }
}

.hp-gallery-text {
  margin: 0;
  font-size: 0.8rem;
  color: $awa_white;
  text-transform: uppercase;

  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";

  span {
    display: inline-block;
  }

  &.thin {
    font-weight: 400;
  }
}

.hp-headline {
  margin: 0;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;

  @include mq($min-width: $breakLg) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

// Section: Featured Places
.hp-feature {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @include mq($min-width: $breakXl) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  position: relative;
  background: $awa_tan;

  overflow: hidden;

  &__header {
    @extend %container-side-padding !optional;
    position: relative;

    padding-bottom: 1rem;

    @include mq($min-width: $breakLg) {
      padding-bottom: 1rem;
    }

    &.bordered {
      margin-bottom: 0.5rem;

      h2 {
        border-bottom: 1px solid $maroon;
        padding-bottom: 1rem;
      }
    }

    .content-nav {
      position: absolute;
      top: 0.1rem;
      right: 1.5rem;

      @include mq($min-width: $breakLg) {
        top: 0.5rem;
        right: 3rem;
      }

      @include mq($min-width: $breakXl) {
        top: 0.5rem;
        right: 5rem;
      }
    }
  }
}

.hp-feature-gallery {
  width: 165%;
  max-width: 165%;

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
      height: inherit !important;
  }

  .slick-slide div {
    height: 100%;
  }

  @include mq($min-width: $breakMd) {
    width: calc(100% - 1.5rem);
    max-width: calc(100% - 1.5rem);
  }

  @include mq($min-width: $breakLg) {
    width: 100%;
    max-width: 100%;

    padding: 0 2.5rem 0 2.5rem;
  }

  @include mq($min-width: $breakXl) {
    padding: 0 4.5rem 0 4.5rem;
  }

  // Specific card overrides for unique positioning/spacing
  .card {
    padding: 0 0 0 1.5rem;

    margin-bottom: 0;

    min-height: 100%;

    display: flex !important;
    flex-direction: column;

    box-shadow: none; 

    .card__inner {
      position:relative;
      height: 100%;
      flex-grow: 1;
    }

    @include mq($min-width: $breakLg) {
      padding: 0 0.5rem;
    }
  }
}

.hp-guide {
  &__header {
    @extend %container-side-padding !optional;

    position: relative;

    padding-bottom: 1rem;

    @include mq($min-width: $breakLg) {
      padding-bottom: 1rem;
    }

    .content-nav {
      position: absolute;
      top: 0.1rem;
      right: $sidePaddingSm;

      @include mq($min-width: $breakMd) {
        right: $sidePaddingMd;
      }

      @include mq($min-width: $breakLg) {
        top: 0.5rem;
        right: $sidePaddingLg;
      }

      @include mq($min-width: $breakXl) {
        right: $sidePaddingXl;
      }
    }
  }
}
  
// HP Collections 
.hp-collection {
  @extend %container-side-padding !optional;

  padding-top: 2rem;
  padding-bottom: 3rem;

  background: $awa_tan;

  @include mq($min-width: $breakLg) {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  @include mq($min-width: $breakXl) {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  &__header {
    position: relative;
    margin-bottom: 0.5rem;

    @include mq($min-width: $breakLg) {
      margin-bottom: 1rem;
    }

    .btn--accent {
      position: absolute;
      top: 50%;
      right: 0;

      transform: translateY(-50%);

      display: none;

      @include mq($min-width: $breakMd) {
        display: inline-block;
      }
    }
  }

  &__footer {
    margin: 0.5rem 0 0 0;
    text-align: center;
    
    @include mq($min-width: $breakMd) {
      display: none;
    }
  }

  &__inner {
    // Offset the container bby the padding adding by collection__items itself.
    width: calc(100% + 20px);
    transform: translateX(-10px);
  }
}

%hp-main-headline {
  margin: 0 0 1rem 0;

  color: $awa_red;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;

  @include mq($min-width: $breakLg) {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }
}

%hp-minor-headline {
  margin: 0 0 1rem 0;

  color: $awa_black;
  font-size: 2.25rem;
  line-height: 2.5rem;

  text-transform: uppercase;
}

/// Modules : CTA
.hp-mod-cta {
  @extend %container-side-padding !optional;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;

  background: $awa_pink;

  @include mq($min-width: $breakLg) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include mq($min-width: $breakXl) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  &::before {
    @extend %hp-hero-line-style !optional;
    top: 2rem; 

    @include mq($min-width: $breakLg) {
      top: 3rem;
    }

    @include mq($min-width: $breakXl) {
      top: 5rem;
    }
  }

  &::after {
    @extend %hp-hero-line-style !optional;
    bottom: 2rem;

    @include mq($min-width: $breakLg) {
      bottom: 3rem;
    }

    @include mq($min-width: $breakXl) {
      bottom: 5rem;
    }
  }

  &__inner {
    &--img {
      margin-bottom: 0.75rem;
      text-align: center;
    }

    &--content {
      text-align: center;
    }

    @include mq($min-width: $breakMd) {
      display: flex;

      &--img {
        width: 31%;
        padding-left: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: left;
      }

      &--content {
        width: 69%;
        text-align: left;
        padding: 0 2rem;

        padding-bottom: 4px;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.right {
        flex-direction: row-reverse;

        .hp-mod-cta__inner--content {
          padding: 0 2rem 0 0;
        }
      }
    }

    @include mq($min-width: $breakLg) {
      display: flex;

      &--img {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3rem;
      }

      &--content {
        padding-left: 3rem;
        padding-right: 3rem;
      }

      &.right {
        .hp-mod-cta__inner--content {
          padding: 0 3rem 0 0;
        }
      }
    }

    @include mq($min-width: $breakXl) {
      &--content {
        padding-left: 4rem;
        padding-right: 4rem;
      }

      &.right {
        .hp-mod-cta__inner--content {
          padding: 0 4rem 0 0;
        }
      }
    }
  }
}

.hp-mod-cta-headline {
  @extend %hp-main-headline !optional;
  padding: 0 1rem;

  @include mq($min-width: $breakMd) {
    padding: 0;
  }
}

.hp-mod-search {
  padding: 0 0.25rem;

  .css-accent {
    display: none;
  }

  @include mq($min-width: $breakMd) {
    max-width: 320px;
  }

  @include mq($min-width: $breakLg) {
    margin-top: 2rem;
    max-width: 100%;

    display: flex;
    padding: 0;

    .css-accent {
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
      padding: 0 0 0 1rem;

      span {
        font-size: 1.5rem;
        font-weight: 700;
        color: $awa_red;
      }
    }

    .css-form {
      flex: 1;
      max-width: 480px; 
    }
  }
}

.hp-mod-text {
  @extend %container-side-padding !optional;

  padding-top: 2rem;
  padding-bottom: 2rem;

  background: $awa_white;

  @include mq($min-width: $breakLg) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include mq($min-width: $breakXl) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &.tan {
    background: $awa_tan;
  }

  &__inner {
    &--img {
      margin-bottom: 0.5rem;

      .css-img-wrapper {
        display: block;

        position: relative;
        
        border-radius: 0.75rem;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
        }
      }
    }

    &--content {
      // text-align: center;
      padding: 0 0.5rem 0 0;

      .css-text {
        margin-bottom: 1.5rem;
      }

      .css-footer {
        margin-top: 1rem;
      }

      p {
        margin: 0 0 0.5rem 0;
        font-size: 1.125rem; // 18px 
        color: $awa_black; 
      }
    }

    @include mq($min-width: $breakMd) {
      // __inner
      display: flex;

      &--img {
        width: 31%;
        padding: 0;

        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &--content {
        width: 69%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: left;

        padding: 0 0 0 2rem;

        p {
          max-width: 860px;
        }

        &.top {
          justify-content: flex-start;
        }
      }

      &.right {
        flex-direction: row-reverse;

        .hp-mod-text__inner--content {
          padding: 0 2rem 0 0;
        }
      }

      &.large {
        .hp-mod-text__inner--content,
        .hp-mod-text__inner--img {
          width: 50%;
        }
      }
    }

    @include mq($min-width: $breakLg) {
      // __inner
      &--content {
        padding: 0 0 0 3rem;

        &.top {
          padding-top: 1rem;
        }

        p {
          font-size: 1.5rem; // 24px
          line-height: 1.75rem;
        }
      }

      &.right {
        .hp-mod-text__inner--content {
          padding: 0 3rem 0 0;

          &.top {
            padding-top: 1rem;
          }
        }
      }
    }

    @include mq($min-width: $breakXl) {
      // __inner
      &--content {
        padding: 0 0 0 3rem;

        &.top {
          padding-top: 1rem;
        }

        p {
          font-size: 1.5rem; // 24px
          line-height: 1.75rem;
        }
      }

      &.right {
        .hp-mod-text__inner--content {
          padding: 0 3rem 0 0;

          &.top {
            padding-top: 1rem;
          } 
        }
      }
    }
  }
}

.hp-mod-text-eyebrow {
  margin: 1rem 0 0 0;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 700;
  color: $awa_black;
  text-transform: uppercase;

  @include mq($min-width: $breakLg) {
    margin-bottom: 0.25rem;
  }
}

.hp-mod-text-headline {
  @extend %hp-minor-headline !optional;
  margin: 0 0 0.5rem 0;

  @include mq($min-width: $breakLg) {
    margin-bottom: 1.5rem;
  }

  &.large {
    @include mq($min-width: $breakLg) {
      font-size: 3.25rem;
      line-height: 3.5rem;
    }
  }
}

.hp-mod-text-icon {
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  @include mq($min-width: $breakMd) {
    margin-top: 0;
  }

  img {
    max-height: 56px;

    height: auto;
    width: auto;
  }
}

.hp-mod-newsletter {
  @extend %container-side-padding !optional;
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-image: url('../images/bg-pink-stripe.jpg');

  @include mq($min-width: $breakLg) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  form {
    position:relative;

    input[type="email"] {
      padding: 1.15rem 1.5rem;

      background: $awa_white;
      border-radius: 10rem;
      border: none;

      font-size: 0.8rem; // 14  px
      font-family: $primaryFont;
      font-weight: 700;
      
      letter-spacing: 0.03rem;
      text-transform: uppercase;

      &::placeholder {
        font-weight: 700;
      }
    }

    button {
      appearance: none;
      border: none;

      position: absolute;
      top: 0.1rem;
      right: 0;
    }
  }

  .css-hide-mobile {
    display: none;

    @include mq($min-width: $breakMd) {
      display: inline-block;
    }
  }

  &__inner {
    max-width: 1200px;
    margin: 0 auto;

    &--img {
      img {
        height: 58px;
        width: auto;
      }
    }

    @include mq($min-width: $breakMd) {
      display: flex;
      flex-direction: row-reverse;

      &--img {
        width: 31%;

        padding-left: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: right;

        img {
          height: 200px;
          width: auto;
        }
      }

      &--content {
        width: 69%;

        form {
          max-width: 620px;

          input[type="email"] {
            padding: 1.15rem 1.5rem;
            padding-right: 12rem;
          }

          button {
            position: absolute;
            top: 0.1rem;
            right: 0;
          }
        }
      }
    }

    @include mq($min-width: $breakLg) {
      padding-top: 3rem;
      padding-bottom: 3rem;

      &--img {
        img {
          height: 235px;
          width: auto;
        }
      }

      &--content {
        form {
          input[type="email"] {
            padding: 1.3rem 1.5rem;
          }
        }
      }
    }
  }
}


.hp-video-carousel {
  .slick-track {
    margin-right: 0;
    margin-left: 0;
  }

  .card__inner--img {
    position: relative;

    img {
        //position: relative;
       // z-index: 2;
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 4;

        display: block;

        width: 50px;
        height: 48px;

        background-image: url('../images/icon-triangle-white.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        opacity: 1;

        content: '';

        transform: scale(1.5) translate(-50%, -50%);

        transition: transform 250ms ease;
    }

    &:hover {
        &::before {
            // transform: scale(1.55) translate(-50%, -50%);
        }
        // box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
    }
  }
}