$navDrawerWidth: 290px;
$navBreak: 1200px;
$navBreakLg: $navBreak + 200px;

// LOL
$navMainFont: $secondaryFont;
$navSecondaryFont: $primaryFont;
/*
body.admin-bar .site-header .site-header__sub-nav {  
  @include mq($min-width: $navBreak) {
    top: 199px !important;
  }
}
*/

body.no-scroll {
    overflow: hidden;
    @include mq($min-width: $navBreak) {
        overflow: initial;
    }
}

.nav-social-icon {
    display: inline-block;

    width: 20px;
    height: 30px;

    margin-right: 15px;

    text-align: left;
    line-height: 30px;

    img {
        width: auto;
        height: 20px;
    }

    @include mq($min-width: $navBreak) {
        text-align: right;
        //margin-right: 0;
        margin-right: 15px;

        width: 15px;
        height: 30px;
        
        img {
            width: auto;
                height: 15px;
        }

    }

    &.search {
        margin-right: 20px;

        width: 15px;
        height: 30px;
        
        img {
            width: auto;
            height: 15px;
        }

        @include mq($min-width: $navBreakLg) {
            display: none;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0);

    &.visible {
        @include mq($min-width: $navBreak) {
            display: block;
        }
    }
}


.user-link {
    // @extend .site-header__primary-nav--links a !optional;
    position: relative;

    font-family: $navMainFont;
    font-size: 19px;
    letter-spacing: 0.04px;
    color: $black;

    @include mq($min-width: $navBreak) {
        font-size: 13px;
    }
    
    img {
        position: relative;
        top: 3px;
        width: 18px;
        height: auto;

        @include mq($min-width: $navBreak) {
            top: 2px;
            width: 13px;
        }
    }
}


.site-header {
    // border-bottom: 1px solid $red;

    @include mq($min-width: $navBreak) {
        border-bottom: none;
    }

    &__top {
        display: flex;

        padding: 10px 20px 10px 20px;

        position: relative;
        z-index: 1300;
        background: $white;
        border-bottom: 1px solid $red;

        @include mq($min-width: $navBreak) {
            padding: 20px;
            border-bottom: none;
        }

        &--search,
        &--menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 50px;

            @include mq($min-width: $navBreak) {
                display: none;
            }
        }

        &--search {
            text-align: left;
            a {
                padding-top: 3px;
            }
        }

        &--menu {
            &.scrolled {
                .menu-btn {
                    display: none;
                }
            }
        }

        &--logo {
            flex: 1;

            a { 
                display: block;
                width: 100%;
                max-width: 208px;
                margin: 0 auto;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            @include mq($min-width: $navBreak) {
                a {
                    width: 100%;
                    max-width: 280px;
                }
            }
        }
    }

/* *************************
 * Primary Nav Bar
 * ************************* */
    &__primary-nav {
        position: fixed;
        width: $navDrawerWidth;
        top: 0;
        right: -$navDrawerWidth;

        z-index: 1000;

        // display: none;

        height: 100%;

        padding: 71px 0 30px 0;

        background: $white;

        border-left: 1px solid $red;

        transition: right 250ms ease, padding 250ms ease;

        &.visible {
            right: 0;
        }

        &.scrolled {
            padding-top: 84px;
        }

        @include mq($min-width: $navBreak) {
            position: relative;
            top: initial;
            right: initial;

            z-index: 1001;

            display: block;

            width: 100%;
            // max-width: 760px;

            padding: 0;

            margin: 0 auto;
            
            border: none;

            &.scrolled {
                padding-top: 0;
            }
        }

        &--social {
            padding: 30px;

            .btn--toggle-search {
                display: none;
            }

            @include mq($min-width: $navBreak) {
                position: absolute;
                bottom: 12px;
                left: 40px;
                z-index: 10;

                padding: 0;

                .btn--toggle-search {
                    // display: none;
                    display: inline-block;
                }
            }

            @include mq($min-width: 1400px) {
                .btn--toggle-search {
                    display: none;
                }
            }
        }

        &--login {
            display: none;
            // outline: 1px solid pink;

            .user-link {
                display: none;
            }

            @include mq($min-width: $navBreak) {
                position: absolute;
                bottom: 22px;
                right: 40px;
                z-index: 10;

                display: block;

                .btn--toggle-search {
                    display: none !important;
                }

                .user-link {
                    display: inline-block;

                    &.extra-space {
                        margin-right: 15px;
                    }
                }
            }

            @include mq($min-width: $navBreakLg) {
                .user-link {
                    display: inline-block;
                    margin-left: 40px;
                }
            }

            @include mq($min-width: 1400px) {
                .btn--toggle-search {
                    display: inline-block !important;
                }
            }
        }

        &--links {
            padding-top: 10px;

            border-top: 1px solid $red;

            @include mq($min-width: $navBreak) {
                padding: 0 80px;

                border-top: none;
            }

            &.login {
                border-top: none;

                @include mq($min-width: $navBreak) {
                    display: none; 
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                @include mq($min-width: $navBreak) {
                    text-align: center;
                }


                li {

                    padding: 10px 30px;
                    // outline: 1px solid red;

                    @include mq($min-width: $navBreak) {
                        display: inline-block;
                        padding: 20px 20px;
                    }

                    @include mq($min-width: $navBreakLg) {
                        display: inline-block;
                        padding: 20px 30px;
                    }

                    a {
                        position: relative;

                        font-family: $navMainFont;
                        font-size: 19px;
                        letter-spacing: 0.04px;
                        color: $black;

                        @include mq($min-width: $navBreak) {
                            font-size: 13px;
                        }

                        &::after {
                            position: absolute;
                            bottom: -23px;
                            left: 0;

                            display: none;

                            width: 0;
                            height: 2px;

                            background: $red;

                            content: '';

                            transition: width 250ms ease;

                            @include mq($min-width: $navBreak) {
                                display: block;
                            }
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }

                        &.active-toggle {
                            position: relative;

                            &::before {
                                position: absolute;
                                bottom: -24px;

                                left: 50%;

                                display: none;

                                width: 9px;
                                height: 13px;

                                background-image: url('../images/icon-nav-triangle.svg');
                                background-repeat: no-repeat;
                                background-size: 9px 13px;

                                content: '';

                                transform: translateX(-50%);

                                @include mq($min-width: $navBreak) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
/* *************************
 * Secondary Nav
 * ************************* */
    $subnavMobileOffset: 121px;
    
    &__sub-nav {
        position: fixed;
        top: 0;
        right: 0;

        z-index: 1100;

        display: flex;
        flex-direction: column;

        width: 100%;
        
        min-height: 100%;
        max-width: 100%;

        // Padding Top based on height of nav 
        padding-top: 105px;

        @include mq($min-width: $navBreak) {
            padding-top: 0;
        }

        background: $white; 

        transform: translateX(100%);
        transition: transform 250ms ease;

        &.visible {
            transform: translateX(0);

            .btn--hide-sub-nav {
                opacity: 1;
            }
        }

        &.scrolled {
            padding-top: $subnavMobileOffset;

            @include mq($min-width: $navBreak) {
                padding-top: 0;
            }

            .btn--hide-sub-nav {
                top: 95px;
                transition: top 250ms ease;
            }
        }

        @include mq($min-width: $navBreak) {
            position: absolute;
            top: 167px;
            right: 50%;

            max-width: 880px;
            max-width: 100%;

            min-height: initial;

            height: 0;

            padding-top: 0;

            transform: translateX(50%);

            transition: height 250ms ease;

            box-shadow: 2px 42px 45px 0 rgba(0,0,0,0.15);
            
            // border-top: 2px solid $red;

            .subnav-container {
                max-width: 1300px;
                margin: 0 auto;

                @include mq($min-width: $navBreak) {
                    padding: 0 20px;
                }

                @include mq($min-width: 1200px) {
                    padding: 0 20px;
                }

                &.small {
                    max-width: 800px;
                }
            }

            &::before {
                position: relative;
                top: 0;
                left: 0;

                width: 100%;
                height: 2px;

                display: block;

                background: $red;

                content:'';
            }

            &.visible {
                transform: translateX(50%);
                height: auto;
            }

            .btn--hide-sub-nav {
                display: none;
            }
        }

        // Position back button
        .btn--hide-sub-nav {
            position: absolute;
            top: 80px;
            left: 20px;

            font-family: $navMainFont;
            font-size: 13px;

            color: $black;
        }

        &--inner {
            position: relative;

            display: flex;
            flex-direction: column;

            background: orange;

            flex: 1;

            max-height: calc(100vh - 105px);
            
            background: $bgColor;

            overflow-y: scroll;

            border-top: 1px solid $red;

            padding-bottom: 100px;

            &.scrolled {
                max-height: calc(100vh - 121px);
            }

            @include mq($min-width: $navBreak) {
                border: none;
                max-height: initial;
                padding-bottom: 0;
            }
        }
    }
}

.subnav {
    &__btn {
        // Button Styles
        padding: 4px 12px;
        color: $red;
        font-family: $primaryFont;
        font-weight: 900;
        font-size: 10px;
        text-transform: uppercase;
        border: 2px solid $red;
        border-radius: 20px;

        transition: all 250ms ease;

        &:hover {
            color: $white;
            background: $red;
        }

        &--wide {
            @extend .subnav__btn;
            padding: 4px 20px;

            @include mq($min-width: $navBreak) {
                padding: 6px 30px;
            }
        }

        &--text {
            font-weight: 900;
            font-size: 14px;
            letter-spacing: 0.37px;
            text-transform: uppercase;
            color: $red;

            &.hide-mobile {
                display: none;

                @include mq($min-width: $navBreak) {
                    display: inline-block;
                }
            }
        }


        &.hide-mobile {
            display: none;

            @include mq($min-width: $navBreak) {
                display: inline-block;
            }
        }
    }

    &.places {
        // background: rgba(0, 200, 0, 0.3);
        flex: 1;

        display: flex;
        flex-direction: column;
    }

    &__headline {
        position: relative;
        margin: 0 0 20px 0;
        font-family: $navMainFont;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;

        &.sm {
            margin-bottom: 10px;
        }

        @include mq($min-width: $navBreak) {
            // text-align: center;
            text-align: left;

            &.center {
                text-align: center;
            }

            &.sm {
                margin-bottom: 20px;
            }
        }

        &--btn {
            @extend .subnav__btn;
            // Positioning
            position: absolute;
            right: 0;

            @include mq($min-width: $navBreak) {
                display: none;
            }
        }
    }

    &__section {
        flex: 1;
        padding: 20px;
        margin: 20px 0;

        @include mq($min-width: $navBreak) {
            display: flex;

            padding: 40px 60px 40px 20px;
        }

        &--cities {
            padding-bottom: 30px;

            ul {
                display: flex;
                flex-wrap: wrap;

                margin: 0;
                padding: 0 0 10px 0;

                list-style: none;

                li {
                    flex-basis: 50%;
                    width: 50%;

                    margin-bottom: 5px;

                    padding-right: 15px;
                }
            }

            @include mq($min-width: $navBreak) {
                flex: 1.2;

                padding-bottom: 20px;
                padding-right: 20px;

                text-align: center;

                ul {
                    flex-direction: column;

                    li {
                        width: 100%;
                        flex-basis: 100%;

                        padding-right: 0;
                        margin-bottom: 10px;

                    }
                }
            }

        }

        &--blog {
            padding-bottom: 10px;

            @include mq($min-width: $navBreak) {
                flex: 2;
                text-align: center;
            }
        }
    }

    &__map {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        height: 150px;

        width: 100%;

        padding: 60px 20px;

        text-align: center;

        background: #ccc;
        background-image: url('../images/dev-nav-map.png');
        background-repeat: no-repeat;
        background-size: cover;

        @include mq($min-width: $navBreak) {
            padding: 70px 20px;
        }

        h3 {
            position: absolute;
            top: -30px;
            left: 20px;

            @include mq($min-width: $navBreak) {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .subnav__btn {
            // max-width: 120px;
            margin: 0 auto;
        }
    }

    &__taxonomy {
        padding: 20px;
        margin: 20px 0;

        @include mq($min-width: $navBreak) {
            display: flex;
        }
    }

    &__taxonomy-item {
        &--wrapper {
            text-align: center;

            &:first-child() {
                margin-bottom: 40px;
            }

            @include mq($min-width: $navBreak) {
                padding: 0 10px;
                flex: 1;

                &:first-child() {
                    margin-bottom: 0;
                    outline: 1px solid red;
                }
            }
        }
        
        &--inner {
            display: flex;
            flex-wrap: wrap;

            &.center {
                justify-content: center;

                a {

                    &::before {
                        display: none;
                    }
                    
                    @include mq($min-width: $navBreak) {
                        width: 60%;
                        flex-basis: 60%;
                        
                        &:nth-child(odd),
                        &:nth-child(even) {
                            margin: 0;
                        }

                        &:nth-child(3n) {
                            margin: 0;
                        }

                    }   
                }
            }

            &.sm {
                a {
                    width: calc(70% - 10px);
                    max-width: 400px;

                    flex-basis: calc(70% - 10px);
                }
            }

            a { 
                position: relative;
                display: block;

                width: calc(50% - 10px);
                flex-basis: calc(50% - 10px);

                margin-bottom: 20px;

                background-size: cover;
                background-position: center center;

                border-radius:  9px;
                overflow: hidden;

                transition: transform 250ms ease;

                

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                    background-image: linear-gradient(180deg, rgba(249,249,249,0.00) 14%, rgba(0,0,0,0.52) 100%);
                    
                    content: '';

                    transition: all 250ms ease;
                }

                &:nth-child(odd) {
                    margin-right: 10px;
                }

                &:nth-child(even) {
                    margin-left: 10px;
                }

                @include mq($min-width: 600px) {
                    width: calc(33% - 15px);
                    flex-basis: calc(33% - 15px);

                    &:nth-child(odd),
                    &:nth-child(even) {
                        margin-right: 25px;
                        margin-left: 0;
                    }

                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }   

                @include mq($min-width: $navBreak) {
                    width: calc(33% - 17px);
                    flex-basis: calc(33% - 17px);
                }

                &:hover {
                    transform: scale(0.99);

                    &::before {
                        // top: -100%;
                        //height: 200%;
                    }
                    span {
                        bottom: 25px;

                    }
                }

                img {
                    display: block;
                    // opacity: 0;
                }

                span {
                    position: absolute;
                    bottom: 15px;
                    left: 0;

                    display: block;

                    width: 100%;
                    min-height: 45px;

                    font-family: $primaryFont;
                    font-size:  24px;
                    line-height: 24px;
                    font-weight: 900;

                    color: $white;

                    text-align: center;

                    transition: bottom 250ms ease;

                    @include mq($min-width: 600px) {
                        font-size:  18px;
                        line-height: 18px;
                    }

                    @include mq($min-width: 1200px) {
                        font-size:  24px;
                        line-height: 24px;
                    }
                }
                // margin: 10px;
            }
        }
    }

    &--link {
        @extend %underline-link--red;
        font-family: $navSecondaryFont;
        font-size: 16px;
        font-weight: 700;

        letter-spacing: 0.4px;

        text-transform: uppercase;
        color: $red;
    }
}

/* *************************
 * Sticky Nav
 * ************************* */
.sticky-header {
    position: fixed;
    top: -200px;
    left: 0;

    z-index: 1200;

    display: flex;

    width: 100%;

    padding: 30px 20px 10px 20px;

    background: $white;
    border-bottom: 1px solid $red;

    // outline: 1px solid blue;

    // transform: translateY(-220px);

    transition: top 0.2s ease;

    &.visible {
        top: 0;
        // transform: translateY(0);
    }

    &__logo {
        display: block;
        width: 90px;
        height: auto;
    }

    &__menu {
        position: relative;
        flex: 1;

        display: flex;

        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 50px;

        @include mq($min-width: $navBreak) {
            display: none;
        }

        .nav-social-icon {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    &__login {
        display: none;

        @include mq($min-width: $navBreak) {
            display: block;
            padding-top: 13px;
            padding-right: 15px;
            // outline: 1px solid red;

            .user-link {
                img {
                    top: 0;
                    width: 17px;
                }
            }
        }

        @include mq($min-width: $navBreakLg) {
            .user-link {
                margin-left: 30px;
            }
        }
    }

    &__social {
        display: none;

        width: 120px;
        
        @include mq($min-width: $navBreak) {
            display: block;
            // outline: 1px solid red;

            .site-header__primary-nav--social {
                bottom: 12px;
                left: initial;
                right: 40px;
            }
        }

        @include mq($min-width: $navBreakLg) {
            position: absolute;
            bottom: 40px;
            left: 15%;

            .site-header__primary-nav--social {
                right: initial;
                bottom: initial;
                left: initial;

                .nav-social-icon {
                    margin-right: 40px;
                }
            }
        }
    }

    &__primary-nav {
        display: none;

        .site-header__primary-nav--links {
            padding: 0 10px;
            margin: 0 auto;
        }

        @include mq($min-width: $navBreak) {
            display: flex;

            flex: 1;
            padding: 0 10px;
            text-align: center;
        }

        ul {
            padding-top: 3px; 

            li {
                padding: 10px 30px;
            }
        }
    }

    // Subnav on desktop
    .site-header__sub-nav {
        top: 82px;
    }


    .nav-social-icon {
        text-align: left;
    }

    .site-header__sub-nav--inner {
        max-height: calc(100vh - 84px);

        // overflow: scroll;

        .subnav {
            display: block;
            flex: initial;
        }
    }
}

/* *************************
 * Search Dropdown
 * ************************* */
.search-dropdown {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 3000;

    display: flex;

    width: 100%;

    padding: 55px 20px 16px 20px;

    background: $white;

    transform: translateY(-220px);
    opacity: 0;

    transition: transform 250ms ease, opacity 250ms ease;

    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);

    &.visible {

        transform: translateY(0);
        opacity: 1;
    }

    &__btn-close {
        position: absolute;
        top: 20px;
        right: 20px;

        width: 30px;
        height: 30px;

        display: block;

        // outline: 1px solid blue;

        &::before,
        &::after {
            position: absolute;
            top: 0;
            right: 0;

            display: block;

            width: 17px;
            height: 2px;

            background: $red;

            content: '';
        }

        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }

    .search__form {
        margin: 0 auto;
        padding: 15px 20px 12px 20px;

        border: 1px solid $red;

        input[type=search] {
            &::placeholder {
                font-size: 14px;
            }
        }

        input[type=submit] {
            top: 10px;
            right: 20px;


        }
    }

    @include mq($min-width: $mdBreak) {
        padding: 60px 20px;

        .search__form {
            padding: 15px 30px 12px 30px;

            input[type=submit] {
                top: 10px;
                right: 30px;
            }
        }
    }
}

.subnav-place-flex {
    @include mq($min-width: $navBreak) {
        display: flex;
        justify-content: center;
    }

    &__left {
        @include mq($min-width: $mdBreak) {
            .guide-wrapper {
                display: flex;
                flex-wrap: wrap;

                .nav-card__post {
                    width: calc(50% - 10px);

                    &:nth-child(odd) {
                        margin-right: 20px;
                    }
                }
            }
        }

        @include mq($min-width: $navBreak) {
            width: 80%;
        }

        @include mq($min-width: 1200px) {
            .guide-wrapper {
                .nav-card__post {
                    width: calc(50% - 20px);

                    &:nth-child(odd) {
                        margin-right: 40px;
                    }
                }
            }
        }
    }

    &__right {
        margin-top: 40px;

        @include mq($min-width: $navBreak) {
            width: 20%;
            margin-top: 0;
            padding-left: 20px;
        }

        @include mq($min-width: 1200px) {
            padding-left: 40px;
        }
    }
}

// Community text links
.subnav-place-text-list {
    margin-bottom: 20px;

    @include mq($min-width: $navBreak) {
        margin-bottom: 15px;
    }
}

.subnav-place-textitem {
    margin: 0 0 12px 0;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    // line-height: 32px;
    
    letter-spacing: 0.42px;
    text-transform: uppercase;

    a {
        color: $red;
    }
}
/* *************************
 * Nav Cards
 * ************************* */
.nav-card {
    &__post {
        display: flex;
        margin-bottom: 20px;
        
        min-height: 120px;   

        transform: translate(0, 0);
        transition: all 250ms ease;

        &:hover {
            transform: translate(-1px,-1px);
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
        }

        &--img {
            width: 30%;
            max-width: 120px;

            background-position: center center;
            background-size: cover;

            overflow: hidden;

            background: pink;
            position: relative;

            img { 
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
                display: block;
                // visibility: hidden;

                min-width: 100%;
                min-height: 100%;
                max-height: 100%;
     
                width: auto;
                height: auto;

                max-width: initial !important;
                
            }
        }

        &--content {
            flex: 1;
            padding: 12px 20px;

            text-align: left;

            background: $white;

            h4 {
                margin: 0;

                font-family: $primaryFont;
                font-weight: 900;
                font-size: 24px;
                margin-bottom: 4px;
            }

            p {
                margin: 0;
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
}



/* *************************
 * Buttons and Icons in Nav
 * ************************* */
.menu-btn {
    position: relative;
    z-index: 1500;  

    width: 17px;
    height: 18px;
    margin: 0 0 0 auto;

    cursor: pointer !important;

    background: $white; // Hides the <back button animation

    span {
        position: absolute;
        top: 8px;

        display: block;
        width: 100%;
        height: 2px;

        background: $red;

        border-radius: 1px;

        transition: transform 250ms ease;
        transform-origin: center center;

        &:first-child {
            transform: translateY(-8px);
        }

        &:last-child {
            transform: translateY(8px);
        }
    }

    &:hover {
        span {
            &:first-child {
                transform: translateY(-8px);
            }

            &:last-child {
                transform: translateY(8px);
            }
        }
    }

    &:active {
        span {
            &:first-child {
                transform: translateY(8px);
            }

            &:last-child {
                transform: translateY(-8px);
            }
        }
    }

    &.close-state {
        position: fixed;
        right: 20px;
        right: 20px;

        span {
            opacity: 0;

            &:first-child {
                opacity: 1;
                transform: rotate(45deg) translateY(0);
            }

            &:last-child {
                opacity: 1;
                transform: rotate(-45deg) translateY(0);
            }
        }
    }
}

.btn--hide-sub-nav {
    opacity: 0;
    transition: opacity 100ms ease;
}



.mfp-container {
    padding: 0 20px;
}

.login-popup {
  position: relative;
  background: #FFF;
  
  width: 100%;
  max-width: 700px;
  margin: 20px auto;

  border-radius: 12px;

  &__top {
    padding: 40px 20px;

    text-align: center;

    background: $bgColor;
    border-radius: 12px 12px 0 0;

    &.rounded {
        border-radius: 12px;
    }

    h3 {
        margin: 10px 0;

        font-size: 14px;

        color: $red;
        text-transform: uppercase;

        @include mq($min-width: $mdBreak) {
            font-size: 18px;
        }
    }

    h2 {
        max-width: 600px;
        margin: 0 auto;

        font-size: 20px;

        @include mq($min-width: $mdBreak) {
            font-size: 28px;
        }
    }

    p.intro {
        margin: 10px 0 20px 0;
        font-size: 18px;

        a {
            font-weight: 900;
            color: $red;

            &::before {
                background: $red;
            }
        }
    }
  }

  &__btn-group,
  &__form-wrapper {
    max-width: 360px;
    margin: 0 auto;
  }

  &__btn {
    display: block;
    margin-bottom: 15px;

    padding: 10px 20px;

    font-weight: 900;
    text-transform: uppercase;
    color: $white;

    background: $black;

    border-radius: 50px;

    @include mq($min-width: $mdBreak) {
        margin-bottom: 15px;
    }

    &.gmail {
        background: #4C8BF5;
    }
  }

  &__form-wrapper {
    position: relative;

    padding-top: 40px;
    margin-top: 25px;

    border-top: 1px solid #3E4240;

    &::before {
        position: absolute;
        top: -16px;
        left: 50%;

        padding: 5px 10px;

        font-family: $secondaryFont;

        background: $bgColor;

        transform: translateX(-50%);

        content: 'or';
    }

    &.no-top-border {
        margin-top: 0;
        border-top: 0;

        &::before {
            display: none;
        }
    }
  }

  &__form-group {
    margin-bottom: 20px;

    &.large {
        @include mq($min-width: $mdBreak) {
            margin-bottom: 30px;
        }

        label.checkbox {
            line-height: 15px;
        }
    }

    &.error {
        input {
            border: 1px solid $red;
        }

        p.error {
            display: block;
        }
    }
  }

  &__form {
    text-align: left;


    label {
        display: block;
        margin-bottom: 8px;
        font-family: $secondaryFont;
        font-size: 16px;
        color: #3E4240;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
        display: block;
        width: 100%;

        padding: 8px 5px;

        font-family: $primaryFont;
        font-size: 16px;
        color: #3E4240;

        border: 1px solid $white;

        &:focus {
            outline: none;
        }
    }

    textarea {
        min-width: 100%;
        max-width: 100%;

        min-height: 200px;
    }

    p {
        margin: 0;
        font-size: 13px;

        &.error {
            color: $red;
        }
    }

    button {
        display: block;
        margin: 20px auto 0 auto;
        border: transparent;
    }
  }

  &__text {
    font-size: 13px;
    color: $black;

    a {
        text-decoration: underline;
    }
  }

  &__text-btn {
    font-size: 13px;
    text-decoration: underline;
    color: $black;
  }

  &__bottom {
    padding: 40px 20px;
    
    background: $pink;
    border-radius: 0 0 12px 12px;

    form {
        max-width: 400px;
        margin: 0 auto;

        input {
            padding: 0 40px 0 0;
            height: 36px;
            font-size: 16px;

            &::placeholder {
                font-size: 14px;
            }
        }

        .subscribe-form__btn {
            top: 10px;
        }
    }

    .subscribe-form__message.success {
        text-align: center;
        max-width: 300px;
        margin: 10px auto 10px auto;
    }
  }

  &__form-group--wrapper {
    position: relative;
  }

  &__toggle {
    &--group {
        position: absolute;

        top: 10px;
        right: 5px;

        display: block;

        width: 30px;
        height: 19px;

        background-color: white;

        overflow: hidden;

        span {
            position: absolute;
            top:0;
            left: 0;

            width: 100%;
            height: 100%;

            background-image: url('../images/icon-show.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            transition: opacity 250ms ease;

        }

        input {
            position: absolute;
            top: -9999px;

            &:checked ~ span {
                // opacity: 0.4;
                background-image: url('../images/icon-hide.svg');
            }
        }
    }
  }
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.mfp-fade.mfp-bg {
opacity: 0;
background: #000;
transition: all .3s;
}
.mfp-fade.mfp-bg.mfp-ready    { opacity: .6; }
.mfp-fade.mfp-bg.mfp-removing { opacity: 0; }
.mfp-fade.mfp-wrap .mfp-content {
opacity: 0;
transition: all .3s;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content    { opacity: 1; }
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; }