.page {
    &--grey {
        background: $bgColor;
    }

    &__header {
        padding: 40px 0;

        @include mq($min-width: $mdBreak) {
            padding: 50px 0 50px 0;
        }

        p {
            font-size: 18px;
            line-height: 24px;

            text-align: center;
            
            @include mq($min-width: $mdBreak) {
                font-size: 24px;
                line-height: 28px;
                
            }
        }

        &.centered {
            text-align: center;
        }

        &.grey {
            background: $bgColor;
        }

        &.yellow {
            background: $yellow;
        }

        &--alt {
            @extend .page__header;

            padding: 50px 0 60px 0;

            @include mq($min-width: $mdBreak) {
                padding: 60px 0;
            }
        }
    }

    &__body {
        padding-bottom: 40px;

        &.grey {
            padding-top: 40px;
            background: $bgColor;
        }

        @include mq($min-width: $mdBreak) {
            padding-bottom: 80px;
        }

        &--alt {
            @extend .page__body;
            padding-top: 0 !important;

            @include mq($min-width: $mdBreak) {
                padding-bottom: 20px;
            }
        }
    }

    &__book {
        background: $bgColor;
        padding: 40px 0;

        @include mq($min-width: $lgBreak) {
            padding: 80px 0;
        }
    }

    &.fourohfour {
        text-align: center;
    }
}

/* 404 Page Template */
.fourohfour {
    &__main-img {
        max-width: 600px;
        margin: 20px auto;
    }

    &__content {
        margin-bottom: 20px;

        @include mq($min-width: $mdBreak) {
            margin-bottom: 40px;
        }

        h2 {
            margin-bottom: 20px;
        }
    }
}

/* Book Page Template */
$bookMaxWidth: 780px;
.book {
    &__headline {
        margin: 0 0 20px 0;

        font-size: 36px;
        line-height: 39px;
        color: $black;
        
        text-transform: uppercase;

        @include mq($min-width: $lgBreak) {
            margin-bottom: 30px;
            font-size: 54px;
            line-height: 58px;
        }
    }

    &__intro {
        margin: 30px 0 60px 0;

        p,
        li {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 30px;

            @include mq($min-width: $lgBreak) {
                font-size: 24px;
                line-height: 28px;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 10px;
            }
        }

        @include mq($min-width: $mdBreak) {
            margin: 30px 0 40px 0;
        }

        @include mq($min-width: $lgBreak) {
            margin-bottom: 60px;
        }

        &--link {
            margin-top: 30px;
        }
    }

    &__flex {
        &--right {
            padding-top: 30px;
        }

        @include mq($min-width: $mdBreak) {
            display: flex;
            flex-direction: row;

            &--right,
            &--left {
                width: 50%;
            }

            &--right {
                padding-top: 0;
                padding-left: 20px;

                .book__headline {
                    max-width: 500px;
                }
            }
            &--left {
                padding-top: 0;
                padding-right: 20px;
            }
        }

        @include mq($min-width: $lgBreak) {
            flex-direction: row;

            &--right {
                padding-left: 40px;
            }
            &--left {
                padding-right: 40px;
            }
        }
    }

    &__links {
        .btn.arrow.red {
            min-width: 120px;
            padding: 15px 40px;

            @include mq($min-width: $lgBreak) {
                min-width: 165px;
            }
        }
    }

    &__press {
        margin-top: 40px;

        &--item {
            margin-bottom: 30px;

            p {
                margin: 0;
                font-size: 18px;
                font-style: italic;
                line-height: 25px;

                &.name {
                    font-style: normal;
                    margin-top: 10px;
                }
            }

            @include mq($min-width: $lgBreak) {
                margin-bottom: 50px;

                p {
                    font-size: 18px;

                    &.name {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    &__section {
        margin: 40px auto 0 auto;
        max-width: $bookMaxWidth;

        &--inner {
            max-width: 400px;
            margin: 0 auto;

            padding-bottom: 40px;

            h4 {
                margin: 0 0 10px 0;
                font-family: $secondaryFont;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 0.3px;
                text-transform: uppercase;
            }

            &--btn-group {

                margin-bottom: 40px;

                @include mq($min-width: $mdBreak) {
                    margin-bottom: 0;
                }
            }

            .btn {
                padding: 10px 30px;
                display: block;

                // max-width: 200px;
                margin: 0 auto 15px auto;
                
                
                // width: 20%;
                // min-width: 165px;
                text-align: center;

                @include mq($min-width: $mdBreak) {
                    min-width: 165px;
                }

                &.large {
                    max-width: 500px;
                }
            }
        }

        @include mq($min-width: $mdBreak) {
            // display: flex;
            // flex-wrap: wrap;
            columns: 3;
            // column-fill: auto;
            column-gap: 60px;

            &--inner {
                max-width: 100%;
                padding-bottom: 40px;
                // width: 33%;
                // outline: 1px solid red;

                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }
    }

    // BOOK FAQ
    &__faq {
        margin-top: 60px;
        margin-bottom: 100px;

        text-align: center;

        @include mq($min-width: $mdBreak) {
            margin-top: 80px;
            margin-bottom: 100px;
        }

        @include mq($min-width: $lgBreak) {
            margin-top: 80px;
            margin-bottom: 120px;
        }
    }

    &__buy {
        text-align: center;
    }

    // Book Video
    &__video {
        transform: translateX(-24px);

        width: calc(100% + 48px);

        .section-video-carousel__header {
            min-height: 32px;
        }
    }
}

.faq {
    &__headline {
        font-size: 28px;

        @include mq($min-width: $lgBreak) {
            font-size: 32px;
        }

        span {
            display: block;

            @include mq($min-width: $mdBreak) {
                display: inline-block;
            }
        }

        &.single-place {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
    }

    &__logo {
        height: 28px;
        width: auto;
        transform: translateY(6px);
    }

    &__accordion {
        max-width: $bookMaxWidth;
        margin: 40px auto 0 auto;

        text-align: left;

        

        @include mq($min-width: $mdBreak) {
            margin-top: 60px;
        }
        
        @include mq($min-width: $lgBreak) {
            margin-top: 80px;
        }

        &.no-top-margin {
            margin-top: 0;
        }

        dt, dd {
          padding: 18px 0;
          // border: 1px solid red;
          // border-bottom: 0; 
          border-bottom: 1px solid $red;

          transition: border 250ms ease;

          &:first-child() {
            border-top: 1px solid $red;
          }
        }

        dt {
            position: relative;

            &::before,
            &::after {
                position: absolute;
                z-index: 0;
                background: $red;
                content: '';
            }

            &::before,
            &::after {
                top: 50%;
                right: 0;

                width: 23px;
                height: 3px;

                background: $red;

                content: '';

                transition: all 250ms ease;
                transform: translateY(-50%);
            }

            &::after {
                background: $red;
                margin-top: -1px;

                transform: rotate(90deg);
                /* top: 50%;
                right: 10px;

                width: 3px;
                height: 23px;
                // margin-top: -11px;

                background: $red;

                content: '';

                transform-origin: center center;
                // transform: translateY(-50%);

                transition: all 250ms ease;*/
            }

            &.active {
                border-bottom-color: transparent;

                &::after {
                    transform: rotate(0);
                }
            }


            a {
                position:relative;
                z-index: 1;
                display: block;
                color: $black;
                font-family: $primaryFont;
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                padding-right: 30px;
            }
        }

        dd {
            border-top: 0; 
            font-size: 22px;
            line-height: 28px;
            margin: 0;

            padding-top: 10px;

            // padding-top: 20px;

            p {
                margin: 0 0 20px 0;
                font-size: 22px;
                line-height: 28px;

                a {
                    color: $red;
                    &::before {
                        background: $red;
                    }
                }
            }

            &.small {
                p {
                    font-size: 18px !important;
                }
            }
        }

        &.small {
            margin: 0;
            max-width: 560px;

            dt {
                padding: 10px 0;

                
                border-color: $awa_border_color;

                &.active {
                    border-bottom-color: transparent;
                }

                &::before,
                &::after {
                    width: 16px;
                    height: 1px;
                }

                a {
                    font-weight: 700;
                    font-size: 18px;
                    
                }
            }

            dd {
                padding: 5px 0 15px 0;
                font-size: 16px;
                line-height: 20px;
                color: $awa_black;

                border-color: $awa_border_color;

                ul {
                    margin: 0;
                }
                li {
                    margin: 0 0 0.25rem 0;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.book-carousel {
    &__wrapper {
        .content__gallery--count {
            margin-left: 0;
        }
        .content__gallery--arrows {
            margin-right: 0;
        }
        @include mq($min-width: $mdBreak) {
            .content__gallery--bottom {
                display: none;
            }

        }    
    }

    &__carousel {   
        position: relative;
        background: $white;
        border-radius: 12px;
        margin-bottom: 10px;
        overflow: hidden;
        border: 1px solid #979797;

        background-clip: padding-box;

        &::after {
            display: block;
            padding-bottom: 100%;
            content: '';
        }

        &--inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: $white;

            border-radius: 12px;
            overflow: hidden;

            .slick-list,
            .slick-track,
            .slick-slide {
                height: 100% !important;
            }

            .slick-slide {
                outline: none;

                &:focus {
                    outline: none !important;
                }

                > div {
                    height: 100%;
                }
            }

            img {
                position: relative;
                max-height: 100%;
            }
        }
    }

    &__item {
        position: relative;
        display: block !important;
        height: 100% !important;

        background: $white;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 12px;
        overflow: hidden;

        -webkit-mask-image: -webkit-radial-gradient(white, black);

        img {
            position: absolute;
            top: 0;
            left: 50%;

            min-height: 100%;
            width: auto;
            max-width: initial;

            transform: translate(-50%, 0);
        }

        // enlarge button
        span {
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
        }
    }

    &__nav {
        display: none;

        @include mq($min-width: $mdBreak) {
            display: flex;
            flex-wrap: wrap;
        }

        &--item {
            position: relative;
            z-index: 2;

            width: calc(20% - 8px);
            // height: 0;

            margin-right: 10px;
            margin-bottom: 10px;

            border-radius: 10px;
            // overflow: hidden;

            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            border: 1px solid #979797;

            transition: all 250ms ease;

            cursor: pointer;

            &.active {
                border: 1px solid $red;
            }

            &::before {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            &:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
}

.event-body {
    padding: 2rem 0;
    background: $bgColor;

    @include mq($min-width: $mdBreak) {
        padding: 4rem 0 2rem 0;
    }

    @include mq($min-width: $lgBreak) {
        padding: 5rem 0 0 0;
    }
}

.events-list {
    @extend %container-side-padding !optional;  

    &__inner {
        padding: 1rem;

        background: $white;
    
        @include mq($min-width: $mdBreak) {
            padding: 2rem;
        }

        @include mq($min-width: $lgBreak) {
            padding: 2rem 2rem;
        }
    }
}

.events-list-item {
    position: relative;

    

    max-width: 1400px;

    margin-bottom: 1rem;

    @include mq($min-width: $mdBreak) {
        display: flex;
    }

    @include mq($min-width: $lgBreak) {
        margin-bottom: 2rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__img {
        display: block;
        position: relative;
        width: 100%;
        height: 0;

        padding-top: 70%;
        margin-bottom: 1rem;
        // width: 60px;
        // height: 60px;
        background-color: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include mq($min-width: $mdBreak) {
            width: 160px;
            height: 160px;
            margin-bottom: 0;
            padding-top: 0;
        }

        @include mq($min-width: $lgBreak) {
            width: 240px;
            height: 240px;
        }
    }

    &__btn {
        display: none;

        /*
        @include mq($min-width: $mdBreak) {
            display: block;
            
            position: absolute;
            top: 50%;
            right: 5px;

            transform: translate(-50%, -50%);

            width: 20px;
            height: 20px;

            background: url('../img/nav-right-red.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            transition: transform 250ms ease;

            &:hover {
                transform: translate(-40%, -50%);
            }
        }
        */

        @include mq($min-width: $lgBreak) {
            right: 10px;
        }
    }

    &__content {
        @include mq($min-width: $mdBreak) {
            flex: 1;

            padding-right: 3rem;
            padding-left: 1rem;
        }

        @include mq($min-width: $lgBreak) {
            padding-right: 3.5rem;
            padding-left: 1rem;

        }

        @include mq($min-width: $xlBreak) {
            padding-right: 3rem;
            padding-left: 1.5rem;
        }

        h3 {
            margin: 0 0 3px;
            font-family: $bodyFont;
            font-size: 12px;
            line-height: 14px;

            color: $awa_red;
            font-weight: 700;
            text-transform: uppercase;

            a {
                color: $awa_red;

                &:hover {
                    @include mq($min-width: $mdBreak) {
                        text-decoration: underline;
                    }
                }
            }

            @include mq($min-width: $mdBreak) {
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 16px;
            }
        }

        h4 {
            margin: 0;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;

            @include mq($min-width: $mdBreak) {
                font-size: 18px;
                line-height: 20px;
            }
        }

        p {
            margin: 0.5rem 0 0.5rem 0;
           
            &:last-child {
                margin-bottom: 0.5rem;
            }            
        }
    }
}

.card__inner--content h4 a {
    color: $awa_red;
}

.event-inner-wrapper {
    max-width: 1580px;
    margin: 0 auto;
}

.event-header {
    max-width: 1580px;
    margin: 0 auto;
}

.event-header-wrapper {
    background: $awa_pink;
}