.page.profile {
    padding: 25px 0;
    background: $bgColor;
}

.profile .container--grid {
    width: 100%;
    max-width: 1400px;

    @include mq($min-width: $mdBreak) {
        padding: 0 13px;
    }
}
.profile {
    @include mq($min-width: $mdBreak) {
        display: flex;
    }

    // Variable content like names/images etc...
    &__image {
        display: block;
        width: 80px;
        height: 80px;

        margin: 0 0 10px 0;

        border-radius: 100px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__username {
        margin: 0;
        font-size: 24px;
        font-weight: 900;
    }

    &__name {
        margin: 0 0 5px 0;

        font-size: 18px;
        font-weight: 400;
    }

    &__date,
    &__location {
        margin: 5px 0 0 0;
        font-family: $primaryFont;
        font-size: 16px;
    }


    // Left Sidebar
    &__panel {
        margin: 0 10px 15px 10px;

        // background: $white;
        border-radius: 16px;
        overflow: hidden;

        @include mq($min-width: $mdBreak) {
            margin-top: 35px;
            width: 260px;
        }

        @include mq($min-width: $lgBreak) {
            width: 310px;
        }

        &--headline {
            color: $black;
            margin: 0 0 10px 0;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
        }

        &--header {
            padding: 20px;

            text-align: left;

            background: $white;
            // border-radius: 12px 12px 0 0;
            border-bottom: none;

            // border-bottom: 1px solid $pink;
        }

        &--description {
            padding: 1px 20px 32px 20px;

            background: $white;
            // border-radius: 0 0 12px 12px;

            p {
                margin: 0 0 15px 0;
                font-size: 16px;
            }

            .text-btn {
                position: relative;
                padding-left: 20px;
                display: inline-block;
                margin-top: 10px;
                color: $red;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;

                &::before {
                    position: absolute;
                    top: 1px;
                    left: 0;

                    width: 20px;
                    height: 18px;

                    background-repeat: no-repeat;
                    content: '';
                }

                &.profile {
                    &::before {
                        background-image: url('../images/icon-edit-profile.svg');
                    }
                }

                &.settings {
                    &::before {
                        left: -2px;
                        background-size: 80%;
                        background-image: url('../images/icon-settings.svg');
                    }
                }

                &.trash {
                    &::before {
                        left: -2px;
                        background-size: 80%;
                        background-image: url('../images/icon-trash.svg');
                    }
                }
            }
        }

        &--badges {
            padding: 24px 20px 32px 20px;

            background: $white;

            
            border-top: 1px solid $pink;
            // border-radius: 0 0 12px 12px;
        }

        &--stats {
            padding: 24px 20px 20px 20px;

            background: $white;

            border-top: 1px solid $pink;
        }
    }

    // Right-side content
    &__content {
        @include mq($min-width: $mdBreak) {
            flex: 1;
            width: calc(100% - 260px);
        }

        @include mq($min-width: $lgBreak) {
            width: calc(100% - 310px);
        }

        &--nav {
            margin: 30px 12px 10px 12px;
            border-bottom: 1px solid $pink;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin-right: 20px;

                    a,
                    .profile-nav-link {
                        position: relative;
                        display: inline-block;

                        padding-bottom: 15px;

                        color: #241F21;
                        font-weight: 700;
                        font-size: 14px;
                        text-transform: uppercase;

                        transition: color 250ms ease;

                        &::before {
                            position: absolute;
                            bottom: -1px;
                            left: 0;

                            width: 0;
                            height: 2px;

                            display: block;

                            background: $red;

                            transition: width 250ms ease;
                            content: '';
                        }

                        &.active,
                        &:hover {
                            color: $red;

                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &.guide {
                ul {
                    li {
                        margin-top: 20px;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
                @include mq($min-width: $mdBreak) {
                    margin: 0 22px 20px 22px;
                }

                @include mq($min-width: $lgBreak) {
                    margin: 0 12px 20px 12px;

                    li {
                        margin-right: 60px;
                    }
                }
            }
        }

        &--noitems {
            padding: 80px 0;
            padding-left: 10px;
            font-size: 14px;
            padding-top: 15px;

            a, a:hover, a:visited, a:active {
                color: #ee3024;
                font-weight: bold;
                font-size:14px;
                text-decoration: underline;
            }
        }
        &--grid {
            .card {
                margin-bottom: 10px;
            }

            @include mq($min-width: $smBreak) {
                display: flex;
                flex-wrap: wrap;

                .card {
                    width: 50%;
                    margin-bottom: 5px;
                }
            }

            @include mq($min-width: $lgBreak) {
                .card {
                    width: calc(100% / 3);
                }
            }
        }
    }
}

.profile-stat-item {
    font-size: 16px;
    line-height: 32px;

    span {
        position: relative;
        display: inline-block;
        transform: translateY(4px);
        padding-right: 5px;
        font-size: 32px;
        font-weight: 700;
        font-variant-numeric: lining-nums;
        font-feature-settings: "lnum";
    }
}

.profile-popup {
    &__image {
        display: flex;

        &--left {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            overflow: hidden;

            
            @include mq($min-width: $lgBreak) {

            }

            img {
                display: block;
                width: 100%;
            }
        }

        &--right {
            padding-top: 20px;
            width: calc(100% - 80px);
            flex: 1;

            padding-left: 20px;

            .btn.outline {
                margin-bottom: 5px;
            }
        }
    }
}

.badge-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.badge {
    &__item {
        text-align: center;
        text-transform: lowercase;

        &--image {
            position: relative;

            margin: 0 auto;

            display: block;

            width: 60px;
            height: 60px;

            border-radius: 200px;
            overflow: hidden;

            background: #87AA7F;
            
            @include mq($min-width: $lgBreak) {
                width: 75px;
                height: 75px;
            }
            
            img {
                width: auto;
                height: 100%;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.yellow {
                background: #FFEB73;
            }

            &.grey {
                background: #BDBCBC;
            }
        }

        &--headline {
            margin: 10px 0 5px 0;
            font-size: 13px;
            font-weight: 400;
            color: $black;
            font-family: $secondaryFont;

            a {
                color: #bdbcbc;
                text-decoration: underline;
            }
        }

        &--description {
            margin: 0;
            font-size: 13px;
        }
    }
}

.settings-popup {
    &__inner {
        max-width: 550px;
        margin:0 auto;
    }

    &__logo {
        width: 80px;
        height: auto;
        margin-bottom: 10px;
    }

    &__subline {
        text-align: center;
        margin: 0 0 30px 0;
    }

    .checkbox {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;

        span {
            top: 2px;
        }
    }
    p.error {
        color: $red;
    }

	&__notice{
		margin-top: 10px;
	}
}

.profile-activity-notice {
    padding: 20px 12px;
    text-align: center;

    p {
        margin: 0 0 0.25rem 0;
        
        &.large {
            font-size: 20px;
        }

        a {
            color: $awa_rose;

            &::before {
                background: $awa_rose;
            }
        }
    }
}

//* Badge Popup */

.badge-row {
   display: grid;
   grid-template-columns: 60px 1fr;
   margin-bottom: 1rem;

   @include mq($min-width: $lgBreak) {
    grid-template-columns: 75px 1fr;
   }

    &__image {
        position: relative;

        margin: 0 auto;

        display: block;

        width: 60px;
        height: 60px;

        border-radius: 200px;
        overflow: hidden;

        background: #87AA7F;
        
        @include mq($min-width: $lgBreak) {
            width: 75px;
            height: 75px;
        }
            
        img {
            width: auto;
            height: 100%;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.yellow {
            background: #FFEB73;
        }

        &.grey {
            background: #BDBCBC;
        }
    }

    &__text {
        padding-left: 15px;
        // margin: 10px 0 5px 0;
        font-size: 13px;
        font-weight: 400;
        color: $black;
        font-family: $secondaryFont;

        display: flex;
        flex-direction: column;
        justify-content: center;

        h5 {
            margin: 0;
            font-size: 13px;
            font-weight: 400;
            color: $black;
            font-family: $secondaryFont;
        }

        p {
            margin: 0;
            font-size: 13px;
        }
    }

    &--description {
        margin: 0;
        font-size: 13px;
    }
}


.mfp-badge .mfp-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;
    background: $bgColor;
    overflow: scroll;
}

.badge-popup {
    &__notice {
        text-align: center;
    }
}
