/* *************************
 * Splash Footer
 * ************************* */
.splash-footer {
  padding: 50px 20px;
  color: $pink;
  font-family: $primaryFont;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  background: $maroon;

  @include mq($min-width: $mdBreak) {
    padding: 45px 20px 45px 20px;
  }

  p {
    margin:0;

    &:first-child() {
      margin: 0 0 15px 0;
    }

    @include mq($min-width: $mdBreak) {
      font-size: 16px;

      &:first-child() {
        margin: 0 0 5px 0;
      }
    }
  }

  a {
    color: $pink;

    &:hover {
      text-decoration: underline;
    }
  }

  &__top {
    // height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
  }

  &__bottom {
    padding: 15px 0;

    text-align: center;
    // background: #F9F7F3;

    p {
      margin: 0;
      font-family: $secondaryFont;
      font-size: 16px;
      letter-spacing: 1.66px;
      line-height: 18px;
    }
  }
}
/* *************************
 * Splash Page Sections
 * ************************* */
.section-center {
  @extend %section;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $white;
  text-align: center;
  background: $maroon;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  p {
    text-align: center;
  }

  &__inner {
    max-width: 580px;
    margin: 0 auto;
  }

  @include mq($min-width: $smBreak) {
    p {
      padding: 0 5px;
    }
  }

  @include mq($min-width: $mdBreak) {
    // Some code
  }

  // Splash page backgrounds
  &.inspiration {
    min-height: 80vh;
    background-image: url('../images/bg-inspiration-mobile.jpg');
    
    @include mq($min-width: $mdBreak) {
      min-height: initial;
      background-image: url('../images/bg-inspiration.jpg');
    }
  }

  &.collection {
    background-image: url('../images/bg-ig-grid.jpg');

    h3 {
      margin-bottom: 40px;
    }
  }
}

.section-left {
  @extend %section;

  text-align: center;

  background: $bgColor;

  &.community {
    text-align: center;

    h3 {
      max-width: 400px;
      margin: 0 auto 30px auto;
    }
  }

  p {
    max-width: 680px;
    text-align: center;
  }

  @include mq($min-width: $mdBreak) {
    text-align: left;

    p {
      text-align: left;
    }

    &.community {
      p {
        text-align: center;
        margin: 0 auto 40px auto;
      }

      h3 {
        max-width: 520px;
      }
    }

  }
}

.section-ig {
  margin: 40px 0;

  @include mq($min-width: $mdBreak) {
    margin: 60px 0 0 0 ;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 500px;
    margin: 0 auto 40px auto;

    &--img {
      display: block;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      transition: all 250ms ease;

      img {
        display: block;
        opacity: 0 !important;
      }

      &:hover {
        transform: translate(-1px, -1px);
        box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
      }

      &:active {
        transform: translate(1px, 1px);
      }
    }

    span {
      display: block;
      margin-top: 10px;
      font-size: 16px;
      text-align: center;
      font-family: $secondaryFont;
    }

    @include mq($min-width: $mdBreak) {
      max-width: 30%;
      margin: 0;

      span {
        text-align: left;
      }
    }
  }
}

.splash-book {
    .btn--red {
        &:hover {
            background: $white;
            border-color: $white;
        }
    }
    &__inner {
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 20px;

        // padding: 20px;

        background: $pink;

        &--img {
            position: relative;

            text-align: center;

            img {
                position: relative;
                z-index: 4;
                width: 50%;
                max-width: 240px;
                display: block;
                margin: 0 auto;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                z-index: 1;

                width: 100%;
                height: 50%;

                background: $white;

                content: '';
            }

            @include mq($min-width: $mdBreak) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        &--text {
            padding: 0 20px 40px 20px;
            text-align: center;

            h2 {
                margin: 20px 0 20px 0;
                color: $black;
                font-size: 36px;
                line-height: 39px;
                text-transform: uppercase;

                @include mq($min-width: $smBreak) {
                    font-size: 46px;
                    line-height: 49px;
                }
                @include mq($min-width: $mdBreak) {
                    font-size: 46px;
                    line-height: 48px;
                }

                @include mq($min-width: $lgBreak) {
                    // font-size: 56px;
                    // line-height: 59px;
                }

                @include mq($min-width: 1400px) {
                    // font-size: 56px;
                    // line-height: 59px;
                }
            }

            p {
                padding: 0 20px;
                margin-bottom: 40px;
                font-family: $secondaryFont;
                font-size: 16px;
                line-height: 18px;
                letter-spacing: 1.43px;
            }
        }

        @include mq($min-width: $mdBreak) {
            position: relative;

            display: flex;

            margin-bottom: 40px;

            padding: 40px;

            &--img {
                width: 30%;

                &::before {
                    display: none;
                }

                img {
                    // top: -10%;
                    width: 100%;
                    max-width: 280px;
                }
            }

            &--text {
                padding: 0 0 0 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                z-index: 5;
                flex: 1;
                text-align: left;

                h2 {
                    margin-top: 20px;
                }

                p {
                    padding: 0;
                    max-width: 650px;
                }
            }
        }

        @include mq($min-width: 1210px) {
            // padding-top: 10px; 
            margin-bottom: 60px;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                z-index: 1;

                width: 100%;
                height: 24%;

                background: $white;

                content: '';
            }

            &--img {
                width: 40%;

                img {
                    max-width: 340px;
                }
            }

            &--text {
                padding-right: 60px;
                justify-content: flex-end;

                
            }
        }
    }
}


.splash-intro {
    text-align: center;

    @include mq($min-width: $mdBreak) {
        padding: 0 40px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 70vh;
        max-width: 1400px;
        margin: 0 auto;

        padding: 20px;

        background-image: url('../images/bg-landing.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include mq($min-width: $mdBreak) {
            min-height: 70vh;
            background-image: url('../images/bg-landing.jpg');
        }
    }

    &__lower {
        padding: 20px;
        max-width: 700px;
        margin: 0 auto;

        p {
            font-size: 24px;
        }
    }

    &__headline {
        color: $yellow;
        font-size: 48px;
        line-height: 52px;
        text-transform: uppercase;

        @include mq($min-width: $smBreak) {
            font-size: 56px;
            line-height: 62px;
        }

        @include mq($min-width: $mdBreak) {
            max-width: 600px;
            margin: 0 auto;
            font-size: 100px;
            line-height: 102px;
        }
    }
}

