.page__submit {
    padding: 45px 0;
    background: $bgColor;
    color: $awa_black;
    
    h1 {
        margin: 0;
        font-family: $primaryFont;
        
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        
        color: $black;
        text-transform: uppercase;

        @include mq($min-width: $breakLg) {
            font-size: 54px;
            line-height: 68px;
        }
    }

    h2 {
        margin: 0;
        font-family: $primaryFont;
        font-weight: 900;
        font-size: 32px;
        line-height: 38px;
        color: $black;
        text-transform: uppercase;
        letter-spacing: -0.2px;
    }

    h3 {
        margin: 0;
        font-family: $primaryFont;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: $black;
        text-transform: uppercase;

        &.margin-bottom {
            margin-bottom: 1.5rem;
        }

        &.margin {
            margin: 1.5rem 0;
        }
    }

    p {
        max-width: 640px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;

        @include mq($min-width: $breakLg) {

        }
    }

    ul {
        padding-left: 25px; 

        a {
            color: #B5635E;
            text-decoration: none !important;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

    .frm_checkbox input[type=checkbox]:checked:before {
        margin-top: -6px;
        margin-left: -6px;
    }

    .vertical_radio .frm_checkbox label {
        padding-left: 30px;

        input {
            margin-left: -10px;
        }
    }

    .form-field.vertical_radio {
        margin-bottom: 0.5rem !important;
    }
}


.submit-place-header {
    text-align: center;
    color: $black;
    padding-bottom: 40px;

    h3 {
        margin-bottom: 0.75rem;
    }
}

.submit-place-description {
    background: $awa_pink;

    padding: 25px 0;
    margin: 0 25px;

    text-align: center;

    @include mq($min-width: $breakMd) {
        margin: 0;
    }

    @include mq($min-width: $breakLg) {
        padding: 30px 0;

        &__top {
            p {
                font-size: 26px;
                line-height: 30px;
            }
        }
    }

    h2 {
        margin: 0 0 1rem 0;
        font-weight: 800;
        font-size: 32px;
        line-height: 38px;
        color: $black;
        text-transform: uppercase;
    }

    p {
        max-width: 710px;
        margin: 0 auto;
    }
}

.submit-place-info {
    margin-top: 2rem;

    padding: 20px 0;

    text-align: center;

    border-top: 2px solid $awa_red;
    border-bottom: 2px solid $awa_red;


    &__cols {
        display: grid;
        gap: 24px;

        // max-width: 1083px;
        margin: 0 auto 0 auto;

        text-align: center;

        @include mq($min-width: $breakMd) {
            margin: 0 auto;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.submit-place-info-item {
    padding: 8px 16px 8px 16px;
    border-radius: 8px; 
    text-align: center;

    &__img {
        margin: 0 auto 10px auto;
        width: 50px;
        height: 50px;
    }

    p {
        font-size: 16px;
        line-height: 20px;
        margin: 0;

        a {
            color: $black;

            &::before {
                background: $black;
            }
        }
    }
}

.submit-place-form,
.submit-image-form {
    padding-top: 40px;

    &.hidden {
        opacity: 0;
    }

    @include mq($min-width: $breakLg) {
        padding-top: 60px;
    }

    .frm_message {
        display: none !important;
    }

    hr {
        border-color: $awa_red;
        border: 2px solid $awa_border_color;
        border-bottom: none;
        margin: 30px 0;
    }

    .frm_submit {
        margin-top: 10px;
    }

    h2 {
        margin-bottom: 1rem;
    }

    label {
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 18px !important;
        color: $awa_black !important;
        padding-bottom: 5px !important;
    }

    input,
    textarea,
    label {
        max-width: 760px !important;
    }

    input,
    textarea {
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        color: $awa_black !important;
        padding: 9px 10px !important;

        &::placeholder {
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 20px !important;
        }
    }

    .frm_description {
        margin-top: 0.25rem;

        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 18px !important;
        color: $awa_black !important;
    }

    .frm_dropzone.frm_single_upload {
        // @extend .btn !optional;
        // border: 2px solid $red;

        padding: 0;

        min-height: initial !important;

        width: initial;
        background: $bgColor !important;
        
        &.dz-started {
            .dz-message {
                display: none;
            }
        }

        .dz-message {
            @extend .btn !optional;
            border: 2px solid $red !important;

            padding: 0;
            border: none;

            background: transparent !important;

            min-height: initial !important;

            padding: 0.5rem 2rem 0.5rem 2rem;

            min-width: 300px;

            background: $bgColor;

            @include mq($min-width: $breakLg) {
                min-width: 360px;
            }

            &:hover {
                background: $awa_red !important;

                button {
                    color: $white !important;
                }

                svg {
                    path {
                        fill: $white !important;
                    }
                }
            }
        }
        
        .dz-preview {
            padding: 0.8rem 0.75rem 0.3rem 0.75rem;
            margin-top: 0.5rem;
            background: white;
            max-width: 560px;
        }

        .dz-filename {
            font-size: 16px;
            font-weight: 700;
            padding-right: 30px;
        }
        
        .dz-details {
            margin: 0;
        }

        .dz-image,
        .dz-progress,
        .dz-size {
            display: none;
        }

        .dz-column {
            // position: absolute;
            width: 100%;
            float: none;
        }

        .frm_small_text {
            display: none;
        }

        svg,
        .frm_upload_text {
            display: inline;
        }

        .frm_upload_text {
            margin-left: 5px;
        }

        svg {
            width: 20px;
            height: auto;
        }

        .frm_upload_text {
            font-size: 14px;
        }

        /*
        input {

            &::file-selector-button {
                appearance: none;
                @extend .btn !optional;
                padding: 0.6rem 1.5rem;
                border: 2px solid $awa_red;
              }
            // @extend .btn;
        }
        */
    }
}

.frm_primary_label {
    text-transform: lowercase;
}

.frm_form_field {
    .faq__accordion {
        li a {
            font-weight: 600;
            color: #B5635E;
        }
    }
}

.submit-image-form {
    padding-top: 10px;

    @include mq($min-width: $breakLg) {
        padding-top: 30px;
    }

    .frm_style_awa.with_frm_style .form-field {
        margin: 0 !important;

        label {
            margin-top: 0.75rem;
        }

        input[type="checkbox"] {
            // margin-bottom: 0.5rem;
        }
        
        input[type="checkbox"]:checked:before {
    
            transform: translate(-8px, -8px) !important;
            
        }
    }
}

.img-label {
    margin-top: 1.25rem !important;
}

.submit-place-media-item {
    margin-top: 2rem;

    h3 {
        margin-bottom: 0.5rem;
    }
}

.css-hide-field {
    visibility: hidden;
    height: 0; 
    overflow: hidden;
}

.css-required {
    color: $awa_red;
}

.frm_save_draft {
    display: inline-block;
    margin-left: 20px;
    color: $awa_red;
}

.css-descriptive-text {
    text-align: left !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    margin: 0 0 0 0 !important;

    color: $black;

    &.margin-bottom {
        margin-bottom: 1rem !important;
    }
}


.btn--wetransfer {
    padding: 0.55rem 1.5rem;


    img {
        width: 68px;
        height: auto;
    }

    @include mq($min-width: $breakLg) {
        min-width: 360px;
        text-align: center;
    }
}



// Confirmation Modal
.submit-confirmation-popup {
    .mfp-content {
        max-width: 380px;
        padding: 30px 20px;

        text-align: center;

        background: $bgColor;
        border-radius: 8px;

        @include mq($min-width: $mdBreak) {
            max-width: 700px;
            padding: 30px 40px;
        }

        @include mq($min-width: $lgBreak) {
            max-width: 700px;
            padding: 45px 80px;
        }

        h2 {
            margin: 0 0 30px 0;
            font-size: 28px;
            line-height: 34px;
            color: $black;
        }

        p {
            margin: 0 0 20px 0;
            text-align: left;
        }
    }

    .mfp-close {
        display: none;
    }

    .btn {
        margin-top: 15px;
        padding: 11px 40px;
    }
}

.wpcf7-form.sent {
    .wpcf7-response-output {
        display: none !important;
    }
}

