// Custom checkbox
.form-submit__confirm {
    position: relative;
    margin-left: 20px;
    line-height: 15px;

    .wpcf7-not-valid-tip {
        position: absolute;
        bottom: -200px;
        left:0;

        display: none;
    }
}

.wpcf7-not-valid-tip {
    font-family: $secondaryFont;
    font-size: 12px !important;
}

.dnd-upload-status .dnd-upload-details span.has-error {
    font-family: $secondaryFont;
    font-size: 12px !important;
    color: #dc3232;
}

label.accept {
    position: relative;
    // background: blue;

    font-family: $secondaryFont !important;
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight: 400 !important;
    
    // padding-left: 30px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .wpcf7-list-item-label {
      position: absolute;
      top: 0;
      left: -20px;

      height: 14px;
      width: 15px;


      background-color: $white;
      

      border: 1px solid $red;

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: none;

        left: 1px;
        top: 5px;
        width: 11px;
        height: 2px;
        
        color: $red;

        background: $red;

        border-radius: 10px;
        

        // -webkit-transform: rotate(45deg);
        // -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
  }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .wpcf7-list-item-label {
            &::before,
            &::after {
                display: block;
            }
        }
    }

    a {
        
        text-decoration: underline;
        
    }
}


label.checkbox {
    position: relative;
    display: block;
    margin-top: 5px;

    font-family: $secondaryFont;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;

    padding-left: 25px;
   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 14px;
      width: 15px;
      background-color: $white;

      border: 1px solid $red;

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: none;

        left: 1px;
        top: 5px;
        width: 11px;
        height: 2px;
        
        color: $red;

        background: $red;

        border-radius: 10px;
        

        // -webkit-transform: rotate(45deg);
        // -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
        cursor: pointer;
        input  ~ .checkmark {
            // background-color: #efefef;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            // background-color: #2196F3;

            &::before,
            &::after {
                display: block;
            }
        }
    }
}

$submitBorder: #bbb;
.submission,
.sweepstakes {
    background: $bgColor;

    .page__header {
        // padding-top: 10px;
        padding-bottom: 0;

        @include mq($min-width: $mdBreak) {
            padding-bottom:60px;
        }
    }

    .page__header p {
        @include mq($min-width: $mdBreak) {
            padding: 20px 50px 0 50px;
        }
    }

    &__flex {
        @include mq($min-width: $mdBreak) {
            display: flex;
            flex-direction: row-reverse;

            &--left, 
            &--right {
                flex: 1;
            }
        }
    }

    form {
        padding-bottom: 40px;
    }


    label {
        // color: $red;
        font-family: $secondaryFont;
        font-weight: 400;
        font-size: 16px;
        color: $black;
        letter-spacing: 0.55px;
        // text-transform: uppercase;
    }

    button,
    input[type='submit'] {
        -webkit-appearance: none;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        -webkit-appearance: none;
        display: block;

        width: 100%;

        padding: 10px 10px;

        font-family: $bodyFont;
        font-size: 12px;
        // margin-bottom: 20px;
        border: 1px solid $submitBorder;

        &:focus {
            outline: none;
        }
    }

    input[type='checkbox'] {
        padding-left: 0;
        // padding-left: 30px;
    }
}

span.wpcf7-list-item {
    margin: 0;
}

.selectric-hover .selectric {
    border: 1px solid $submitBorder;
}

.selectric {
    background: transparent;
    border: 1px solid $submitBorder;

    .label {
        color: $black;
    }

    .button {
        background: transparent;
    }
}

// Sweepstakes form


.subscribe-form__message.success {
    a {
        color: $red !important;

        text-decoration: none !important;
    }
}

// Override sweepstakes message appearing
.sweepstakes-form {
    padding: 20px 20px;
    background: $pink;

    .sweepstakes {
        background: $pink;
    }
    /* 
    padding: 0;
    background: $white; */

    @include mq($min-width: $mdBreak) {
        padding: 40px 40px;
    }

    @include mq($min-width: $lgBreak) {
        padding: 40px 80px;
    }

    .submit-btn-wrapper {
        margin-top: 20px;
    }

    .wpcf7-response-output {
        font-family: $secondaryFont;
        font-size: 12px;
    }
    /*

    .wpcf7-response-output {
        display: none !important;
    }
    */
}

.div.wpcf7-validation-errors {
    border: 2px solid $yellow !important;
}


.form-submit {
    &__group {
        margin-bottom: 10px;

        @include mq($min-width: $mdBreak) {
            margin-bottom: 20px;
        }

        &.small {
            @include mq($min-width: $mdBreak) {
                margin-bottom: 10px;
            }
        }

        &--text {
            margin: 10px 0 0 0;
            font-family: $secondaryFont;
            font-weight: 400;
            
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__flex {
        display: flex;
        flex-direction: column-reverse;
        
        &--left,
        &--right {
            flex: 1;
        }

        &--right {
            margin-bottom: 40px;
        }

        @include mq($min-width: $mdBreak) {
            display: flex;
            flex-direction: row-reverse;

            &--left {
                padding-left: 25px;
            }
            
            &--right {
                padding-right: 25px;
                max-width: 50%;
            }
        }
    }
}
.codedropz-upload-handler {
    border: 1px dashed $red;
    background: $white;
}

.codedropz-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 300px;

    .codedropz-upload-inner {
        padding: 45px 0;
    }

    h3 {
        position:  relative;
        font-size: 16px;
        text-transform: uppercase;
        color: $red;
        letter-spacing: 0.66px;

        &::before {
            position: absolute;
            top: -40px;
            left: 50%;

            margin-left: -10px;

            width: 32px;
            height: 32px;

            background-image: url('../images/icon-upload.png');
            background-position: center center;

            background-size: 80%;
            background-repeat: no-repeat;

            content: '';
        }
    }

    .cd-upload-btn,
    span {
        font-family: $secondaryFont;
        font-size: 13px;
    }

    .cd-upload-btn {
        font-weight: 700;
        text-decoration: underline !important;
    }

    @include mq($min-width: $mdBreak) {
        height: 600px;
        background: $white;
    }
}

.codedropz-upload-handler {
    border-radius: 0;
}
 
.dnd-upload-status {
    .dnd-upload-image {
        border: 1px solid $red;

        span {
            color: $red;
        }
    }

    .dnd-upload-details {
        .name {
            color: $black;

            em {
                font-size: 12px;
                line-height: 26px;
                font-family: $secondaryFont;
                font-style: normal;
                color: $black;
            }
        }

        .remove-file {
            top: 10px;
        }

        .dnd-progress-bar span {
            background: #648552;
            font-family: $secondaryFont;
        }
    }
}

.dnd-upload-counter {
    display: none;
}

// Confirmation Modal
.confirmation-popup {
    .mfp-content {
        max-width: 380px;
        padding: 30px 20px;

        text-align: center;

        background: $white;
        border-radius: 8px;

        @include mq($min-width: $mdBreak) {
            max-width: 560px;
            padding: 30px 40px;
        }

        h2 {
            margin: 0 0 20px 0;
            font-size: 36px;
            line-height: 39px;
            color: $black;
            text-transform: uppercase;
        }

        p {
            margin: 0 0 30px 0;
        }
    }
}

.wpcf7-form.sent {
    .wpcf7-response-output {
        display: none !important;
    }
}

.submit-image-place-popup {
    #confirmationPopup {
        max-width: 380px;
        padding: 30px 20px;
        margin: 0 auto;

        text-align: center;

        background: $bgColor;
        border-radius: 8px;

        @include mq($min-width: $mdBreak) {
            max-width: 560px;
            padding: 30px 40px;
        }

        h2 {
            margin: 0 0 20px 0;
            font-size: 36px;
            line-height: 39px;
            color: $black;
            text-transform: uppercase;
        }

        p {
            margin: 0 0 30px 0;
        }
    }
  }


// Updates to image preview on subbmission form
.dnd-upload-status {
    display: block;

    .dnd-upload-details {
        // width: calc(100% - 150px);
        width: 100%;
        padding: 0;
        .remove-file {
            //  top: calc(50% - 15px);
        }
    }

    .dnd-upload-image {
        border-radius: 0;

        margin-top: 30px;
        
        width: 100%;
        height: initial;

        &.has-bg {
            max-width: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
                position: static;
                transform: translate(0, 0);
            }
            
            &:hover {
                transform: scale(1);
            }
        }
    }
}

/* custom checkbox styling for contact form 7 checkbox */
/*
span.wpcf7-list-item {
    display: inline-block;
    margin: 0;
}
.wpcf7 .wpcf7-list-item {
    display: block;
    margin-bottom: 10px;
}
.wpcf7-checkbox label {
    position: relative;
    cursor: pointer;
}

.wpcf7-checkbox input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
}
.wpcf7-checkbox input[type=checkbox] + span {
    
}

.wpcf7-list-item-label {

}

.wpcf7-checkbox input[type=checkbox] + span:before {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    content: '';
    border-radius: 0;
    height: 25px;
    width: 25px;
    background-color: $white;

    border: 1px solid $red;
}

.wpcf7-checkbox input[type=checkbox] + span:after {
    display: block;
    position: absolute;
    content: "\2713";
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
    visibility: hidden;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}

.wpcf7-checkbox input[type=checkbox]:checked + span:before {
    background: $red;
}

.wpcf7-checkbox input[type=checkbox]:checked + span:after {
    visibility: visible;

}

.wpcf7-list-item-label {
    font-size: 12px;
    font-weight: 500;

    line-height:15px;
    font-style: italic;

    margin-left: 40px;
    display: inline-block;
}*/



// inline standard page form
.inline-form-container {
    max-width: 750px;

    padding: 30px 20px;
    margin: 1rem auto;

    background: $awa_tan;

    @include mq($min-width: $mdBreak) {
        // padding: 20px 40px;
    }

    .codedropz-upload-container {

        height: 170px;

        padding: 20px 0 20px 0;
        
        h3 {
            margin-bottom: 0;
        }
    }

    form {
        padding-bottom: 0;

        &.sent {
            .form-submit.inline-form {
                display: none;
            }
            .wpcf7-response-output {
                display: block !important;
                text-align: center;

                margin: 2rem 0;
            }
        }
    }

    .wpcf7-spinner {
        @include mq($min-width: $mdBreak) {
            transform: translateY(5px);
        }
    }

    .inline-form-spacing {
        margin: 16px 0;
    }
}



/* Formidable  Forms */
.frm_style_awa {
    position: relative;
    
    .frm_message,
    .frm_error_style {
        p {
            margin: 0 !important;
        }
    }

    .dz-progress .dz-upload {
        background: $awa_red !important;
    }

    .dz-message {
        border-color: $awa_red;

        path {
            fill: $awa_red;
        }

        .frm_upload_text {
            font-family: $primaryFont;
            font-weight: 900;
            text-transform: uppercase !important;
            color: $awa_red;
            display: block;

            button {
                text-transform: uppercase;
            }
        }
    }
    .dz-preview {
        padding: 1rem 1rem;
    }

    .frm_dropzone .dz-preview {
        .dz-image {
            width: 60px !important;
        }

        .dz-column {
            width: calc(100% - 75px);
        }
    }

    .css-float-left { 
        // outline: 1px solid blue;
    }

    .css-float-right {
        // outline: 1px solid red;
    }

    .frm_dropzone.frm_single_upload {
        width: 100%;
        max-width: 100%;
    }
    
    .frm_dropzone.dz-clickable.frm_single_upload .dz-message {
        margin-bottom: 0;
    }

    .frm_dropzone.frm_single_upload,
    .dz-message {
        min-height: 300px;
    }

    .dz-message {
        padding-top: 80px;
    }

    @include mq($min-width: $mdBreak) {
        .frm_dropzone {
            margin-top: 0 !important;
        }

        .frm_dropzone.frm_single_upload,
        .dz-message {
            min-height: 415px;

            &.dz-started {
                min-height: initial !important;
            }
        }

        .dz-message {
            padding-top: 150px;
        }

        .css-float-left { 
            position: absolute;
            width: calc(50% - 2rem);
    
        }
        
        .css-float-right {
            width: 50%;
           margin-left: auto;
        }   
    }
}


/* Formidable Forms */
.frm_style_awa {
    fieldset {
      padding-bottom: 0 !important;
    }
  
    .frm_checkbox {
      input[type=checkbox]:checked:before {
        box-shadow: inset 10px 10px $awa_red !important;
      }

      input[type=checkbox] {
        margin-top: -3px;
      }

      a {
        text-decoration: underline;
      }
    }
  
    .frm_error {
      padding-top: 3px !important;
    }
  
    select {
      appearance: none;
      // Additional resets for further consistency
      
      border: 1px solid #bbb ;
      padding: 0.25rem 0.5rem;
      background-color: #fff;
      
      background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    }
  
    button[type="submit"] {
      display: inline-block;
      padding: 15px 30px;
      color: $red;
      font-family: $primaryFont;
      font-weight: 900 !important;
      font-size: 14px;
      text-transform: uppercase;
      padding: 10px 40px;
  
      transition: all 250ms ease;
    }
  }




.submit-popup {
    button.mfp-close {
        display: none;
    }
}

.frm_style_awa .frm_checkbox a {
    color: #B5635E !important;
    font-weight: 600 !important;
}