$white: #ffffff;
$borderColor: #666666;

$xsBreak: 375px;
$smBreak: 420px;
$mdBreak: 767px;
$lgBreak: 1040px;
$xlBreak: 1500px;

$drawerBreak: 900px;

$futuraPlain: 'Futura', sans-serif;

// Final Variables
$bodyFont: futura-pt, 'Futura', sans-serif;
$headlineFont: futura-pt-bold, 'Futura', sans-serif;
$sublineFont: $futuraPlain;
$secondaryFont: 'American Typewriter', monospace;

$primaryGrey: #3E4240;
$primaryRed: #63252A;
$black: #231F20;


$yellow: #FCF17A;
// sRGB translate to $red: #FF0001;
$red: #EE3024;
// $red: #FF0001;
$maroon: #63252A;
$pink: #FAD0C3;
$green: #87AA7F;
$grey: #3E4240;

$footerBG: #EBE8DE;
$bgColor: #F8F3E4;

$awa_border_color:  rgba(237, 48, 36, 0.25);


// Final Fonts
$primaryFont: freight-sans-pro, sans-serif;
$secondaryFont: 'GT Pressura', sans-serif;

/* ************************************************
 * 2022 Unified Stlyes/Breakpoints
 * Some of these variables may already exists
 * But as work continues ulltimately everything will 
 * be updated to use this consistent conventiion.
 * ************************************************ */
$awa_white: #ffffff;
$awa_black: #000000;
$awa_pink: #FAD0C3;
$awa_tan: #F8F3E4;
$awa_red: #EE3024;
$awa_blue: #0F2459;
$awa_grey: #616563;
$awa_rose: #B5635E;

$breakMd: 700px;
$breakLg: 1149px;
$breakXl: 1499px;

$sidePaddingSm: 1.5rem;
$sidePaddingMd: 1.5rem;
$sidePaddingLg: 3rem;
$sidePaddingXl: 5rem;




